<p-panel header="Formulario Clasificación" >
    <!-- <div class="input-field">
        <input type="text" pInputText formControlName="telefono" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.telefono" placeholder="Telefono"
        class="form-material"/>
        <label for="" class="active">Telefono</label>
    </div> -->
    <br>
    <div class="ui-g">
        <p-panel class="ui-g-12 ui-md-6 ui-lg-4" header="Tareas de Alto riesgo">
            <span for="">La empresa realiza en su servicio Tareas de Alto Riesgo:</span><br><br>
            <p-radioButton (click)="onSaveData()" name="riesgo" value="2" label="Si" [(ngModel)]="riesgo"></p-radioButton><br>
            <p-radioButton (click)="onSaveData()" name="riesgo" value="0.4" label="NO" [(ngModel)]="riesgo"></p-radioButton>
        </p-panel>
        <p-panel class="ui-g-12 ui-md-6 ui-lg-4" header="Permanencia">
            <span for="">El servicio demanda una permanencia específica en las operaciones productivas directas de la Organización:</span><br><br>
            <p-dropdown (click)="onSaveData()" [options]="permanencia" [(ngModel)]="selectedPermanencia" placeholder="-- seleccionar --" optionLabel="name" [showClear]="false"></p-dropdown>
        </p-panel>
        <p-panel class="ui-g-12 ui-md-6 ui-lg-4" header="Impacto personal directo">
            <span>El servicio suministrado tiene impacto en la seguridad y salud de los colaboradores directos de la Organización:</span><br><br>
            <p-radioButton (click)="onSaveData()" name="impacto" value="0.25" label="Si" [(ngModel)]="impacto"></p-radioButton><br>
            <p-radioButton (click)="onSaveData()" name="impacto" value="0.05" label="NO" [(ngModel)]="impacto"></p-radioButton>
        </p-panel>
        <p-panel class="ui-g-12 ui-md-6 ui-lg-4" header="Tamaño empresa">
            <span>El número de trabajadores vinculados directamente con la empresa está en los siguientes rangos:</span><br><br>
            <p-dropdown (click)="onSaveData()" [options]="tamano" [(ngModel)]="selectedTamano" placeholder="-- seleccionar --" optionLabel="name" [showClear]="false"></p-dropdown>
        </p-panel>
        <p-panel class="ui-g-12 ui-md-6 ui-lg-4" header="Clase de riesgo">
            <span>La empresa  está clasificada en una clase de riesgo específica, de acuerdo con su actividad económica en:</span><br><br>
            <p-dropdown (click)="onSaveData()" [options]="claseRiesgo" [(ngModel)]="selectedClaseRiesgo" placeholder="-- seleccionar --" optionLabel="name" [showClear]="false"></p-dropdown>

        </p-panel>
        <p-panel class="ui-g-12 ui-md-6 ui-lg-4" header="Transversalidad">
            <span>El servicio se prestará en más de una de las Unidades de Negocio de la Organización:</span><br><br>
            <p-radioButton (click)="onSaveData()" name="transversalidad" value="0.25" label="Si" [(ngModel)]="transversalidad"></p-radioButton><br>
            <p-radioButton (click)="onSaveData()" name="transversalidad" value="0.05" label="NO" [(ngModel)]="transversalidad"></p-radioButton>
        </p-panel>

        <p-panel class="p-col">
            <div class="col-md-4 col-xl-3">
                <div class="card {{ getColor() }} order-card">
                    <div class="card-block" style="padding: 10px;">
                        <h6 class="m-b-20">Su valoración es: <span>{{ valoracionActual || ' ' }}</span></h6>
                        <h2 class="text-right">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span style="font-size: 20px;color: black;">
                                {{ getValoracionToString() || '' }}
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>    
    <br>
</p-panel>