<h1>PLAN DE ACCIÓN</h1>
<br>
<!-- <p-table [value]="planAccionList" [(selection)]="causasListSelect" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre del Factor Causal</th>
            <th>Causa Raiz</th>
            <th style="width:5rem">Gestionar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-causa>
        <tr>
            <td>{{causa.nombreFC}}</td>
            <td>{{causa.causaRaiz}}</td>
            <td>
                <button type="button" pButton pRipple icon="pi pi-search" (click)="selectProduct(causa)"></button>
            </td>
        </tr>       
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>

    </ng-template>
</p-table> -->

<p-dialog [(visible)]="display" [closable]="true"	 [style]="{width: '60vw'}">
    <!-- <button type="button" class="btn-close" aria-label="Close" style="position:absolute; top:0; right:0;" (click)="cerrar()"></button>      -->

    <!-- <div style="position:absolute; right:50px; height: 20px;width: 20px;"> -->
        
    <!-- </div> -->
     
    <div>
      <!-- <button pButton (click)="cerrar()" type="button" label="x" class="ui-button-raised ui-button-danger" style="position:absolute; right:50px; height: 20px;width: 20px;"></button> -->
      <app-plan-accion *ngIf="display" (dataTest)="habilitar()" [process]="validate" [planAcciones]="planAccionListSelected"></app-plan-accion>
      
    </div>

    <!-- <div >
      <p-button icon="pi pi-check" (click)="confirmCheck()" label="Confirmar" class="p-button-text"></p-button>
    </div> -->

</p-dialog>

<br>
<br>
<!-- <button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button> -->

<p-accordion [multiple]="true" >
    <p-accordionTab header="Nombre del Factor Causal: {{data.nombreFC}}" *ngFor="let data of planAccionList; let i = index">
        <!-- <p>{{data.causaRaiz}}</p> -->
        <p-accordionTab header="Causa Raiz: {{causa.causaRaiz}}" *ngFor="let causa of data.causaRaiz; let j = index">
            <!-- <p-progressBar [value]="value"></p-progressBar> -->
            <div>
                <div >
                    <label>ESPECIFICO</label>

                    <p-button *ngIf="!causa.especifico.isComplete" (onClick)="selectProduct2(causa, 'ESPECIFICO')"   iconPos="right" label="Pendiente">
                        <i style="font-size: 40px;" class="pi pi-clock"></i>
                    </p-button>
                    <p-button *ngIf="causa.especifico.isComplete" styleClass="ui-button-success" (onClick)="selectProduct2(causa, 'ESPECIFICO')" iconPos="right" label="Realizado">
                        <i style="font-size: 40px;" class="pi pi-check"></i>
                    </p-button>

                </div>
                <div>
                    <label>RAZONABLE</label>
                    <p-button *ngIf="!causa.razonable.isComplete" [disabled]="!causa.especifico.isComplete"  (onClick)="selectProduct2(causa, 'RAZONABLE')"   iconPos="right" label="Pendiente">
                        <i style="font-size: 40px;" class="pi pi-clock"></i>
                    </p-button>
                    <p-button *ngIf="causa.razonable.isComplete" styleClass="ui-button-success" (onClick)="selectProduct2(causa, 'RAZONABLE')" iconPos="right" label="Realizado">
                        <i style="font-size: 40px;" class="pi pi-check"></i>
                    </p-button>
                    <!-- <button pButton icon="pi pi-sign-in" (click)="selectProduct2(causa, 'RAZONABLE')" class="ok" >RAZONABLE</button> -->
                </div>
                <div>
                    <label>MEDIBLE</label>
                    <p-button *ngIf="!causa.medible.isComplete" [disabled]="!causa.especifico.isComplete" (onClick)="selectProduct2(causa, 'MEDIBLE')"   iconPos="right" label="Pendiente">
                        <i style="font-size: 40px;" class="pi pi-clock"></i>
                    </p-button>
                    <p-button *ngIf="causa.medible.isComplete" styleClass="ui-button-success" (onClick)="selectProduct2(causa, 'MEDIBLE')" iconPos="right" label="Realizado">
                        <i style="font-size: 40px;" class="pi pi-check"></i>
                    </p-button>
                </div>
                <div>
                    <label>EFICAZ</label>
                    <p-button *ngIf="!causa.eficaz.isComplete" [disabled]="!causa.medible.isComplete" (onClick)="selectProduct2(causa, 'EFICAZ')"   iconPos="right" label="Pendiente">
                        <i style="font-size: 40px;" class="pi pi-clock"></i>
                    </p-button>
                    <p-button *ngIf="causa.eficaz.isComplete" styleClass="ui-button-success" (onClick)="selectProduct2(causa, 'EFICAZ')" iconPos="right" label="Realizado">
                        <i style="font-size: 40px;" class="pi pi-check"></i>
                    </p-button>
                </div>
                <div>
                    <label>REVISADO</label>
                    <p-button *ngIf="!causa.revisado.isComplete" [disabled]="!causa.eficaz.isComplete" (onClick)="selectProduct2(causa, 'REVISADO')"   iconPos="right" label="Pendiente">
                        <i style="font-size: 40px;" class="pi pi-clock"></i>
                    </p-button>
                    <p-button *ngIf="causa.revisado.isComplete && causa.revisado.revisado =='Si'" styleClass="ui-button-success" (onClick)="selectProduct2(causa, 'REVISADO')" iconPos="right" label="Realizado">
                        <i style="font-size: 40px;" class="pi pi-check"></i>
                    </p-button>
                    <p-button *ngIf="causa.revisado.isComplete && causa.revisado.revisado =='No'" styleClass="ui-button-danger" (onClick)="selectProduct2(causa, 'REVISADO')" iconPos="right" label="Realizado">
                        <i style="font-size: 40px;" class="pi pi-times"></i>
                    </p-button>
                </div>
                <div>
                    <label>Eliminar</label>
                    <p-button styleClass="ui-button-danger" iconPos="right" label="eliminar" (onClick)="eliminar(data,causa,i,j)">
                        <i style="font-size: 40px;" class="pi pi-times"></i>
                    </p-button>
                </div>
                
            </div>
        </p-accordionTab>        
    </p-accordionTab>
</p-accordion>

<br>
<br>

<!-- <button pButton type="button" (click)="test()" label="Primary" class="ui-button-raised"></button>
<button pButton type="button" label="Secondary" class="ui-button-raised ui-button-secondary"></button>

<button pButton type="button" label="Success" class="ui-button-raised ui-button-success"></button>
<button pButton type="button" label="Info" class="ui-button-raised ui-button-info"></button>
<button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button>
<button pButton  type="button" label="Danger" class="ui-button-raised ui-button-danger"></button>

<p-button icon="pi pi-check" iconPos="top" label="Click"></p-button>
<p-button icon="pi pi-check" label="Click"></p-button>
<p-button [icon]="tests" iconPos="left" label="Click"></p-button>
<p-button icon="pi pi-check" [disabled]="isRevisado" (onClick)="test()" label="Disabled"></p-button>


<button (click)="test()">test</button> -->
