<h1>PLAN DE ACCIÓN</h1>
<br>
<!-- <p-table [value]="planAccionList" [(selection)]="causasListSelect" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre del Factor Causal</th>
            <th>Causa Raiz</th>
            <th style="width:5rem">Gestionar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-causa>
        <tr>
            <td>{{causa.nombreFC}}</td>
            <td>{{causa.causaRaiz}}</td>
            <td>
                <button type="button" pButton pRipple icon="pi pi-search" (click)="selectProduct(causa)"></button>
            </td>
        </tr>       
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>

    </ng-template>
</p-table> -->

<p-dialog [(visible)]="display" [closable]="false"	 [style]="{width: '60vw'}">
          
    <div>
      <app-plan-accion [planAcciones]="planAccionListSelected!"></app-plan-accion>
    </div>

    <div >
      <p-button icon="pi pi-check" (click)="confirmCheck()" label="Confirmar" class="p-button-text"></p-button>
    </div>

  </p-dialog>


<!-- <button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button> -->


<p-accordion [multiple]="true" >
    <p-accordionTab header="Nombre del Factor Causal: {{data.nombreFC}}" *ngFor="let data of planAccionList">
        <!-- <p>{{data.causaRaiz}}</p> -->
        <p-accordionTab header="Causa Raiz: {{causa.causaRaiz}}" *ngFor="let causa of data.causaRaiz">
          <div>
            <div>
                <p-button icon="pi pi-sign-in">ESPECIFICO</p-button>
                <label>ESPECIFICO</label>
            </div>
            <div>
                <p-button icon="pi pi-sign-in"></p-button>
                <label>RAZONABLE</label>
            </div>
            <div>
                <p-button icon="pi pi-sign-in"></p-button>
                <label>MEDIBLE</label>
            </div>
            <div>
                <p-button icon="pi pi-sign-in"></p-button>
                <label>EFICAZ</label>
            </div>
            <div>
                <p-button icon="pi pi-sign-in"></p-button>
                <label>REVISADO</label>
            </div>
          </div>
        </p-accordionTab>
        
    </p-accordionTab>
</p-accordion>
<button (click)="test()">test</button>