.title-header {
    font-size: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    margin: 0.25rem 0;
    &:before {
        content: '';
        position: absolute;
        bottom: -4px;
        height: 2px;
        width: 2rem;
        background-color: #007ad9;
    }
}

.material-label {
    color: #9e9e9e;
}

.radio-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: -1rem;
    @media only screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
        height: 70%;
    }
}


/* Inputs */

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    .form-material {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 2rem;
        width: 100%;
        font-size: 16px;
        margin: 0 0 8px 0;
        padding: 0;
        padding-left: 0.25rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
        &:focus {
            border-bottom: 1px solid #007ad9 !important;
        }
        &::-webkit-input-placeholder {
            /* Edge */
            color: #d1d1d1;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #d1d1d1;
        }
        &::placeholder {
            color: #d1d1d1;
        }
    }
    label {
        flex: 1;
        color: #007ad9;
        position: absolute;
        top: 0;
        left: 0.3rem;
        font-size: 1rem;
        cursor: text;
        -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, color 0.2s ease-out;
        transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
        &.active {
            -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            background-color: unset;
        }
    }
}


/* Form material design */

.p-invalid {
    color: #f44336;
}


/* Textarea  */

.textarea-material {
    line-height: normal;
    overflow-y: hidden;
    padding: 0.8rem 0 0.8rem 0;
    resize: none;
    height: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p-autoComplete {
    width: 100%;
    .wrapper {
        display: flex;
        align-items: center;
    }
}

:host ::ng-deep {
    modal {
        max-height: 100%;
        overflow-y: auto;
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: none;
    }
    .label-material {
        &.ui-radiobutton-label {
            padding-top: 0.75rem;
        }
    }
    /* Panel */
    .custom-panel {
        &.ui-tabview {
            &.ui-tabview-top {
                .ui-tabview-nav {
                    border-bottom: 1px solid #dee2e6;
                    li {
                        margin-right: 0;
                        border: 0;
                        top: 1px;
                        line-height: 1;
                        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        &:focus {
                            outline: 0;
                        }
                        &:not(.ui-state-active):not(.ui-state-disabled):hover {
                            background-color: transparent;
                            border: none;
                            a {
                                margin-bottom: -1px;
                                color: #000;
                                border-bottom: 1px solid #007ad9;
                            }
                        }
                        &.ui-state-active {
                            background-color: transparent;
                            border: none;
                            a {
                                color: #007ad9;
                                border-bottom: 1px solid #007ad9;
                                margin-bottom: -1px;
                            }
                            &:hover {
                                a {
                                    color: darken(#007ad9, 5);
                                    border-bottom: 1px solid darken(#007ad9, 5);
                                }
                            }
                        }
                    }
                }
            }
            .ui-tabview-panels {
                margin-top: 1rem;
                border-radius: 0.75rem;
            }
        }
    }
    /* Modal Design */
    .ui-dialog {
        &.dialog-create {
            width: 70vw;
            @media only screen and (min-width: 1280px) {
                width: 55vw;
            }
        }
        &.dialog-evidences {
            width: 60vw;
            @media only screen and (min-width: 1280px) {
                width: 40vw;
            }
        }
    }
    .material-table {
        .ui-table-wrapper {
            border: 1px solid transparent;
            border-radius: 8px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        }
        .ui-table-thead {
            tr {
                border-bottom: 1px solid #e0e1e0;
            }
            tr>th {
                padding: 1rem;
                border: none;
                background-color: unset;
            }
        }
        .ui-table-tbody {
            tr>td {
                border: none;
            }
            tr {
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: #f9f9f9 !important;
                }
                &:nth-child(even) {
                    background-color: #fff;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #eff3f8;
                }
            }
        }
    }
}

.error-msg {
    font-size: 0.75rem;
    color: red;
    margin-left: 0.3rem;
    margin-top: -0.5rem;
}

.uploaders {
    display: flex;
    grid-gap: 1em;
    flex-wrap: wrap;
    padding: 0.5em;
}

.uploaders-flex {
    display: flex;
    grid-gap: 1em;
    padding: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}