<p-growl [value]="msgs"></p-growl>

<div class="ui-g">
    <div class="ui-g-12 p-d-flex p-jc-between p-mb-3">
        <h5 class="title-header p-mb-2">Listado de seguimientos</h5>
        <button pButton type="button" icon="pi pi-plus" (click)="showModalDialog('create')" label="Crear seguimiento" class="ui-button-sm" *ngIf="!tareaClose"></button>
    </div>

    <div class="ui-g-12 p-mb-3">
        <p-table [value]="trackings" styleClass="material-table">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de seguimiento</th>
                    <th scope="col" style="max-width: 10rem;">Evidencias</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tracking>
                <tr>
                    <td class="p-text-center">{{ tracking.pkUser.usuario.email }}</td>
                    <td>{{ tracking.description }}</td>
                    <td class="p-text-center">{{ tracking.followDate | date:'shortDate' }}</td>
                    <td class="p-text-center">
                        <div pTooltip="Ver evidencias" style="display:inline-block;" *ngIf="tracking.evidences.length > 0">
                            <button pButton type="button" (click)="showModalDialog('evidence', tracking.id)" icon="pi pi-eye" iconPos="left" class="ui-button-sm ui-table-btn"></button>
                        </div>
                        <span *ngIf="tracking.evidences.length === 0">No posee</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="p-text-center">Esta tarea no posee seguimientos</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>

<!-- Start create tarea modal -->

<p-dialog header="Crear nuevo seguimiento" styleClass="dialog-create" [(visible)]="displayModal" [modal]="true" [draggable]="false" [resizable]="false">

    <!-- Start content -->
    <form [formGroup]="trackingForm">
        <div class="ui-g">

            <div class="ui-g-12">
                <h5 class="title-header p-mb-2">Información</h5>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="input-field">
                    <p-autoComplete styleClass="form-material-autocomplete" #autocomplete placeholder="Digite" formControlName="email" field="usuario.email" [style]="{'width':'100%'}" (onSelect)="onSelection($event)" [suggestions]="empleadosList" (completeMethod)="buscarEmpleado($event)">
                        <ng-template let-empleado pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div class="wrapper">
                                    <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle" style="font-size: 24px; align-self: center;" aria-hidden="true"></i>
                                    <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon" style="border-radius: 50%;" #imgAvatar alt="" />
                                    <div style="margin-left:20px">
                                        <span class="p-text-capitalize">
                                            {{empleado?.primerApellido}} {{empleado?.primerNombre}}
                                            {{empleado?.segundoNombre}}
                                        </span>
                                        <br /> {{empleado?.numeroIdentificacion}}
                                        <br /> {{empleado?.usuario.email}}
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="" class="active">Usuario que realiza el seguimiento</label>
                </div>

                <!-- Start validations -->
                <div *ngIf="submitted && f.pkUser.hasError('required')" class="error-msg ">
                    <span>Debe buscar un empleado válido.</span>
                </div>
                <!-- End validations -->

            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Apellidos y nombres" [value]="fullName" class="form-material" id="nameAndLastName" [attr.disabled]="true" />
                    <label for="" class="active">Apellidos y nombres</label>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="input-field">
                    <p-calendar formControlName="followDate" [attr.disabled]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"></p-calendar>
                    <label for="" class="active">Fecha del seguimiento</label>
                </div>

                <!-- Start validations -->
                <div *ngIf="submitted && f.followDate.hasError('required')" class="error-msg ">
                    <span>Debe seleccionar una fecha de seguimiento.</span>
                </div>
                <!-- End validations -->

            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="input-field">
                    <textarea pInputTextarea formControlName="description" class="form-material" rows="3" required></textarea>
                    <label for="" class="active">Descripción del seguimiento</label>
                </div>

                <!-- Start validations -->
                <div *ngIf="submitted && f.description.hasError('required')" class="error-msg ">
                    <span>Debe describir la acción realizada.</span>
                </div>
                <!-- End validations -->

            </div>

            <div class="ui-g-12">
                <h5 class="title-header p-mb-2">Evidencias</h5>
            </div>

            <div class="uploaders">
                <app-file-uploader *ngFor="let item of [0,1,2]; let i = index" [index]="i" [clear]="clearEvidences" (loadedImage)="addImage($event)"></app-file-uploader>
            </div>

        </div>
    </form>
    <!-- End content -->

    <!-- Start footer -->
    <p-footer>
        <p-button [icon]="(!cargando) ? 'pi pi-save' : 'pi pi-spinner pi-spin'" (click)="onSubmit()" [label]="(!cargando) ? 'Crear' : 'Creando'" styleClass="ui-button-rounded ui-button-text" [disabled]="cargando"></p-button>
        <p-button icon="pi pi-times" (click)="closeCreate()" label="Cancelar" styleClass="ui-button-rounded ui-button-secondary ui-button-text" [disabled]="cargando"></p-button>
    </p-footer>
    <!-- End footer -->

</p-dialog>

<!-- End create tarea modal -->

<!-- Start evidences modal -->

<p-dialog header="Evidencias" styleClass="dialog-evidences" [(visible)]="displayEvidences" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false">

    <div class="uploaders-flex">
        <em class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loading"></em>

        <ng-container *ngIf="!loading">
            <app-file-uploader *ngFor="let evidence of evidences?.files; let i = index" [img]="evidence" [index]="i" [show]="true">
            </app-file-uploader>
        </ng-container>
    </div>

    <!-- Start footer -->
    <p-footer>
        <p-button icon="pi pi-times" (click)="closeEvidences()" label="Cerrar" styleClass="ui-button-text"></p-button>
    </p-footer>
    <!-- End footer -->

</p-dialog>

<!-- End evidences modal -->