<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="ui-g">
    <div style="width: 100%;">
      <p-panel header="RESUMEN">
          <div class="p-grid  p-mt-3 p-jc-evenly colorsitos colorfondo">
              <div class="col-md-10 ">
                  <div class="row ">
                      <div class="col-xl-3 col-lg-6">
                          <div class="card l-bg-blue1-dark">
                              <div class="card-statistic-3 p-3">
                                  <div class="card-icon card-icon-large"></div>
                                  <div class="mb-4">
                                      <h5 class="card-title mb-0">Numero de ATs</h5>
                                  </div>
                                  <div class="row align-items-center mb-2 d-flex">
                                      
                                      <div class="col-4 text-right">
                                          <span class="tamañotexto">{{this.NoEventos}}</span>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-6">
                          <div class="card l-bg-blue2-dark">
                              <div class="card-statistic-3 p-3">
                                  <div class="card-icon card-icon-large"></div>
                                  <div class="mb-4">
                                      <h5 class="card-title mb-0">Dias perdidos</h5>
                                  </div>
                                  <div class="row align-items-center mb-2 d-flex">
                                      
                                      <div class="col-4 text-right">
                                          <span class="tamañotexto">{{this.diasPerdidos}}</span>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-6">
                          <div class={{colorIli}}>
                              <div class="card-statistic-3 p-3">
                                  <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                                  <div class="mb-4">
                                      <h5 class="card-title mb-0">ILI</h5>
                                  </div>
                                  <div class="row align-items-center mb-2 d-flex">
                                      
                                      <div class="col-4 text-left">
                                          <span class="tamañotexto">{{ili}}</span>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-6">
                          <div class="card l-bg-blue3-dark">
                              <div class="card-statistic-3 p-3">
                                  <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                                  <div class="mb-4">
                                      <h5 class="card-title mb-0">Meta</h5>
                                  </div>
                                  <div class="row align-items-center mb-2 d-flex">
                                      <div class="col-4 text-left">
                                          <span class="tamañotexto">{{metaIli}}</span>
                                      </div>                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="p-col-6 p-mt-6 mid-border">
                  <div class="p-d-flex p-jc-evenly">
                      <div class="p-d-flex"><p class="p-m-0">Area : </p> <p-dropdown appendTo="body" [options]="divisiones" placeholder="Seleccionar división" (onChange)="division($event)"></p-dropdown></div>
                      <div class="p-d-flex">  
                          <i style="font-size:24px" class="fa">&#xf073;</i>   
                          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastas" value="this.desdes"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdes" (onSelect)="selecFromDate1($event)" > </p-calendar> 
                      </div>
                      <div class="p-d-flex"> 
                          <i style="font-size:24px" class="fa">&#xf073;</i> 
                          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdes" value="this.hastas"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastas" (onSelect)="selectToDate1($event)"> </p-calendar>
                      </div>
                  </div>
              </div>
          </div>
      </p-panel>
      <br/>
  <!-- </div> -->

  <!-- <div style="width: 100%;" *ngIf="false">
    <p-panel header="Graficos">
      <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
          <ngx-charts-advanced-pie-chart
          class="align-items-center"
          [view]="view"
          [scheme]="colorScheme"
          [results]="totalEventosDv2"
          [gradient]="gradient" *ngIf="flag1">
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
          <p>Eventos AT / Días perdidos</p>
          <ngx-charts-bar-horizontal-2d
          [view]="view"
          [scheme]="colorScheme"
          [results]="totalDiasEventos"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel2"
          [yAxisLabel]="yAxisLabel2"
          [legendTitle]="legendTitle"
          (select)="onSelect($event)" *ngIf="flag"
          [showDataLabel]="true"
          [tooltipDisabled]="true">
          </ngx-charts-bar-horizontal-2d>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center" *ngIf="flagdiv">
          <p>Días perdidos</p>
          <ngx-charts-bar-vertical
          class="align-items-center"
          [view]="view"
          [scheme]="colorScheme"
          [results]="totalDiasPerdidosDv"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [showDataLabel]="true"
          [tooltipDisabled]="true">
          </ngx-charts-bar-vertical>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center" *ngIf="flagevent">
          <p>Eventos AT</p>
          <ngx-charts-bar-vertical
          class="align-items-center"
          [view]="view"
          [scheme]="colorScheme"
          [results]="totalEventosDv"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [showDataLabel]="true"
          [tooltipDisabled]="true"
          >
          </ngx-charts-bar-vertical>
        </div>
        <div class="p-col-12 p-mt-4 mid-border">
          <div class="p-d-flex p-jc-evenly">
              <div class="p-d-flex">  
                  <i style="font-size:24px" class="fa">&#xf073;</i>   
                  <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hasta" value="this.desde"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desde" (onSelect)="getData2()" > </p-calendar> 
              </div>
              <div class="p-d-flex"> 
                  <i style="font-size:24px" class="fa">&#xf073;</i> 
                  <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desde" value="this.hasta"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hasta" (onSelect)="getData2()"> </p-calendar>
              </div>
          </div>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center" *ngIf="flag">
          <p>Tasa frecuencia / Tasa Severidad</p>
          <ngx-charts-bar-vertical-2d
          class="align-items-center"
          [view]="view"
          [scheme]="colorScheme2"
          [results]="random"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel3"
          [yAxisLabel]="yAxisLabel3"
          [barPadding]=0
          [groupPadding]=4
          [showDataLabel]="true"
          [tooltipDisabled]="true">
          <ng-template #tooltipTemplate let-model="model" style=" background-color: #d81b1b;width: 100px;" >
            <div style=" background-color: #5b5757">
              <h1>{{ model.series}}</h1>
              {{model.name}} | {{model.value}}%
            </div>
          </ng-template>
          </ngx-charts-bar-vertical-2d>
        </div>
        <div class="p-col-12 p-mt-4 mid-border">
          <div class="p-d-flex p-jc-evenly">
              <div class="p-d-flex"><p class="p-m-0">Area : </p> <p-dropdown appendTo="body" [options]="divisiones2" placeholder="Seleccionar división" (onChange)="datosRandom()"></p-dropdown></div>
          </div>
        </div>
      </div>
    </p-panel>
  </div> -->

  <!-- <div style="width: 100%;"> -->
    <p-panel header="TOTAL EVENTOS Y DÍAS" >
      <div class="colorfondo">
        <div class="ui-g">
          <p> <b> Eventos AT </b></p>
          <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center" style="height: 10cm;">
            <p-radioButton name="group10" label="Total " [value]="0"   (onClick)="getEventosAt()" [style]="{'margin-left': '15px'}"></p-radioButton>
            <p-radioButton name="group10" label=" Temporales " [value]="1"  (onClick)="getEventosAt('temp')" [style]="{'margin-left': '15px'}"></p-radioButton>
            <p-radioButton name="group10" label=" Directos " [value]="2"  (onClick)="getEventosAt('dir')" [style]="{'margin-left': '15px'}"></p-radioButton>
            <ngx-charts-advanced-pie-chart
            class="align-items-center"
            [scheme]="colorScheme"
            [results]="randomEv1Dona"
            [gradient]="gradient" *ngIf="flag1">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="ui-g-3">&nbsp;</div>
          <div class="ui-g-6">
            <div class="ui-g-6">  
              <i style="font-size:24px" class="fa">&#xf073;</i>   
              <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy"  placeholder="Desde" appendTo="body"> </p-calendar> 
            </div>
            <div class="ui-g-6"> 
              <i style="font-size:24px" class="fa">&#xf073;</i> 
              <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy"  placeholder="Hasta" appendTo="body"> </p-calendar>
            </div>
          </div>
        </div>
        <hr/>
        <div class="ui-g">
          <p> <b>Días perdidos</b></p>
          <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center" style="height: 10cm;">
            <p-radioButton name="group10" label="Total " [value]="0"   (onClick)="dona1dp()"></p-radioButton>
            <p-radioButton name="group10" label=" Temporales " [value]="1"  (onClick)="dona1dp()"></p-radioButton>
            <p-radioButton name="group10" label=" Directos " [value]="2"  (onClick)="dona1dp()"></p-radioButton>
            <ngx-charts-advanced-pie-chart
            class="align-items-center"
            [scheme]="colorScheme"
            [results]="randomEv1Donadb"
            [gradient]="gradient" *ngIf="flag1">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="ui-g-3">&nbsp;</div>
          <div class="ui-g-6">
            <div class="ui-g-6">  
              <i style="font-size:24px" class="fa">&#xf073;</i>   
              <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy"  placeholder="Desde" appendTo="body"> </p-calendar> 
            </div>
            <div class="ui-g-6"> 
              <i style="font-size:24px" class="fa">&#xf073;</i> 
              <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy"  placeholder="Hasta" appendTo="body"> </p-calendar>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <br/>

  <p-panel header="TASAS">
    <div class="colorfondo">
      <div class="ui-g" *ngIf="flagevent1">
      <!-- Primera grafica -->
        <ng-container *ngIf="selectIndicarores1.length>0">
          <ng-container *ngFor="let indicador of selectIndicarores1;first as f;last as l">
            <p *ngIf="f || (l && selectIndicarores1.length != 2);else otro1"> <b>{{indicador.label}}</b></p>
            <ng-template #otro1>
              <p *ngIf="selectIndicarores1.length != 2;else otro2"><b>/{{indicador.label}}/</b></p>
              <ng-template #otro2>
                <p><b>/{{indicador.label}}</b></p>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selectIndicarores1.length==0">
          <ng-container *ngFor="let Indicador of Indicadores;first as f;last as l">
            <p *ngIf="f || l;else otro1"><b>{{Indicador.label}}</b></p>
            <ng-template #otro1>
              <p><b>/{{Indicador.label}}/</b></p>
            </ng-template>
          </ng-container>
        </ng-container>

        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
          <p-radioButton name="group10" label="Total " [value]="0"   (onClick)="selectIn1()"></p-radioButton>
          <p-radioButton name="group10" label=" Temporales " [value]="1"  (onClick)="selectIn1()"></p-radioButton>
          <p-radioButton name="group10" label=" Directos " [value]="2"  (onClick)="selectIn1()"></p-radioButton>
        </div>

        <div  class="ui-g-8 ui-g-nopad">
          <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
              <ngx-charts-bar-vertical-2d 
              [scheme]="colorScheme2"
              [results]="randomIn1"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="false"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Divisiones'"
              [yAxisLabel]="'Indicadores'"
              [barPadding]=0
              [groupPadding]=4
              [showDataLabel]="flagtasa1"
              [tooltipDisabled]="flagtasa1">
              <!-- <ng-template #tooltipTemplate let-model="model" >
                <div style=" background-color: rgba(248, 0, 0, 0.921);width: 100%; padding: 0px;">
                  <h1>{{ model.series}}s</h1>
                  {{model.name}} | {{model.value}}%
                </div>
              </ng-template> -->
              </ngx-charts-bar-vertical-2d>
          </div>
          <div class="ui-g-1">&nbsp;</div>
          <div class="ui-g-2">&nbsp;</div>
          <div class="ui-g-8">
            <div class="ui-g-6">  
              <i style="font-size:24px" class="fa">&#xf073;</i>   
              <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaEv1" value="this.desdeEv1"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeEv1" (onSelect)="selectIn1()" > </p-calendar> 
            </div>
            <div class="ui-g-6"> 
              <i style="font-size:24px" class="fa">&#xf073;</i> 
              <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeEv1" value="this.hastaEv1"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaEv1" (onSelect)="selectIn1()"> </p-calendar>
            </div>
          </div>
        </div>

        <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter" *ngIf="flag">
          <h5>Division</h5>
          <div *ngFor="let category of divisiones2" class="p-field-checkbox">
            <p-checkbox name="group1" value="category" [value]="category"  [(ngModel)]="selectDivisiones1" [inputId]="category.value" (click)="selectIn1()"></p-checkbox>
            <label>{{category.label}}</label>
          </div>
          <h5>Filtro indicadores</h5>
          <div *ngFor="let Indicador of Indicadores" class="p-field-checkbox">
            <p-checkbox name="group2" value="Indicador" [value]="Indicador"  [(ngModel)]="selectIndicarores1" [inputId]="Indicador.value" (click)="selectIn1()"></p-checkbox>
            <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>
      <hr/>
      <!-- Segunda grafica -->
      <div class="ui-g" *ngIf="flagevent1">

        <ng-container *ngIf="selectIndicarores2.length>0">
          <ng-container *ngFor="let indicador of selectIndicarores2;first as f;last as l">
            <p *ngIf="f || (l && selectIndicarores2.length != 2);else otro1"><b>{{indicador.label}}</b></p>
            <ng-template #otro1>
              <p *ngIf="selectIndicarores2.length != 2;else otro2"><b>/{{indicador.label}}/</b></p>
              <ng-template #otro2>
                <p><b>/{{indicador.label}}</b></p>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selectIndicarores2.length==0">
          <ng-container *ngFor="let Indicador of Indicadores;first as f;last as l">
            <p *ngIf="f || l;else otro1"><b>{{Indicador.label}}</b></p>
            <ng-template #otro1>
              <p><b>/{{Indicador.label}}/</b></p>
            </ng-template>
          </ng-container>
        </ng-container>

        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
          <p-radioButton name="group10" label="Total " [value]="0"   (onClick)="selectIn2()"></p-radioButton>
          <p-radioButton name="group10" label=" Temporales " [value]="1"  (onClick)="selectIn2()"></p-radioButton>
          <p-radioButton name="group10" label=" Directos " [value]="2"  (onClick)="selectIn2()"></p-radioButton>
        </div>

        <div  class="ui-g-8 ui-g-nopad">
          <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme2"
            [results]="randomIn2"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Meses'"
            [yAxisLabel]="'Indicadores'"
            [showDataLabel]="flagtasa2"
            [barPadding]=0
            [groupPadding]=4
            [tooltipDisabled]="flagtasa2">
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="ui-g-1">&nbsp;</div>
          <div class="ui-g-2">&nbsp;</div>
          <div class="ui-g-8">
              <div class="ui-g-6">  
                  <i style="font-size:24px" class="fa">&#xf073;</i>   
                  <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaEv1" value="this.desdeEv1"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeEv1" (onSelect)="selectIn2()" > </p-calendar> 
              </div>
              <div class="ui-g-6"> 
                  <i style="font-size:24px" class="fa">&#xf073;</i> 
                  <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeEv1" value="this.hastaEv1"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaEv1" (onSelect)="selectIn2()"> </p-calendar>
              </div>
          </div>
        </div>


        <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter" *ngIf="flag">
          <h5>Año</h5>
          <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectIn2()"></p-dropdown>
          <h5>Meses</h5>
          <p-multiSelect defaultLabel="Seleccione" [options]="Meses2" [(ngModel)]="selectMeses1" optionLabel="name" (click)="selectIn2()"></p-multiSelect>
          <h5>Division</h5>
          <p-multiSelect defaultLabel="Seleccione" [options]="divisiones4" optionLabel="name" (click)="selectIn2()"></p-multiSelect>
          <h5>Filtro indicadores</h5>
          <div *ngFor="let Indicador of Indicadores" class="p-field-checkbox">
              <p-checkbox name="group4" value="Indicador" [value]="Indicador"  [(ngModel)]="selectIndicarores2" [inputId]="Indicador.value" (click)="selectIn2()"></p-checkbox>
              <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <br/>


  <p-panel header="EVENTOS">
    <div class="colorfondo">
      <!-- Tercera grafica -->
      <div class="ui-g" *ngIf="flagevent1">

        <ng-container *ngIf="selectEventos1.length>0">
          <ng-container *ngFor="let indicador of selectEventos1;first as f;last as l">
            <p *ngIf="f || (l && selectEventos1.length != 2);else otro1"><b>{{indicador.label}}</b></p>
            <ng-template #otro1>
              <p *ngIf="selectEventos1.length != 2;else otro2"><b>/{{indicador.label}}/</b></p>
              <ng-template #otro2>
                <p><b>/{{indicador.label}}</b></p>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selectEventos1.length==0">
          <ng-container *ngFor="let Indicador of Eventos;first as f;last as l">
            <p *ngIf="f || l;else otro1"><b>{{Indicador.label}}</b></p>
            <ng-template #otro1>
              <p><b>/{{Indicador.label}}/</b></p>
            </ng-template>
          </ng-container>
        </ng-container>

        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
          <!-- <p>Eventos</p> -->
          <p-radioButton name="group10" label="Total " [value]="0"   (onClick)="selectEv1()"></p-radioButton>
          <p-radioButton name="group10" label=" Temporales " [value]="1"  (onClick)="selectEv1()"></p-radioButton>
          <p-radioButton name="group10" label=" Directos " [value]="2"  (onClick)="selectEv1()"></p-radioButton>
        </div>
        <div  class="ui-g-8 ui-g-nopad">
          <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme2"
            [results]="randomEv1"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="false"
            [xAxisLabel]="'Divisiones'"
            [yAxisLabel]="'eventos'"
            [showDataLabel]="true"
            [barPadding]=0
            [groupPadding]=4
            [tooltipDisabled]="true">
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="ui-g-1">&nbsp;</div>
          <div class="ui-g-2">&nbsp;</div>
          <div class="ui-g-8">
              <div class="ui-g-6">  
                <i style="font-size:24px" class="fa">&#xf073;</i>   
                <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaEv1" value="this.desdeEv1"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeEv1" (onSelect)="selectEv1()" > </p-calendar> 
              </div>
              <div class="ui-g-6"> 
                <i style="font-size:24px" class="fa">&#xf073;</i> 
                <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeEv1" value="this.hastaEv1"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaEv1" (onSelect)="selectEv1()"> </p-calendar>
              </div>
          </div>
        </div>

        <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter" *ngIf="flag">
          <h5>Division</h5>
          <div *ngFor="let category of divisiones2" class="p-field-checkbox">
              <p-checkbox name="group3" value="category" [value]="category"  [(ngModel)]="selectDivisiones2" [inputId]="category.value" (click)="selectEv1()"></p-checkbox>
              <label>{{category.label}}</label>
          </div>

          <h5>Filtro eventos</h5>
          <div *ngFor="let Indicador of Eventos" class="p-field-checkbox">
              <p-checkbox name="group4" value="Indicador" [value]="Indicador"  [(ngModel)]="selectEventos1" [inputId]="Indicador.value" (click)="selectEv1()"></p-checkbox>
              <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>

        <hr/>
      <!-- Cuarta grafica -->
      <div class="ui-g" *ngIf="flagevent1">

        <ng-container *ngIf="selectEventos2.length>0">
          <ng-container *ngFor="let indicador of selectEventos2;first as f;last as l">
            <p *ngIf="f || (l && selectEventos2.length != 2);else otro1"><b>{{indicador.label}}</b></p>
            <ng-template #otro1>
              <p *ngIf="selectEventos2.length != 2;else otro2"><b>/{{indicador.label}}/</b></p>
              <ng-template #otro2>
                <p><b>/{{indicador.label}}</b></p>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selectEventos2.length==0">
          <ng-container *ngFor="let Indicador of Eventos;first as f;last as l">
            <p *ngIf="f || l;else otro1"><b>{{Indicador.label}}</b></p>
            <ng-template #otro1>
              <p><b>/{{Indicador.label}}/</b></p>
            </ng-template>
          </ng-container>
        </ng-container>

          <!-- <p>Eventos</p> -->
        <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
          <p-radioButton name="group10" label="Total " [value]="0"   (onClick)="selectEv2()"></p-radioButton>
          <p-radioButton name="group10" label=" Temporales " [value]="1"  (onClick)="selectEv2()"></p-radioButton>
          <p-radioButton name="group10" label=" Directos " [value]="2"  (onClick)="selectEv2()"></p-radioButton>
        </div>

        <div class="ui-g-8 ui-g-nopad">
          <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme2"
            [results]="randomEv2"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Meses'"
            [yAxisLabel]="'Eventos'"
            [showDataLabel]="true"
            [barPadding]=0
            [groupPadding]=4
            [tooltipDisabled]="true">
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="ui-g-1">&nbsp;</div>

          <div class="ui-g-12">&nbsp;</div>
        </div>

        <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter" *ngIf="flag">
          <h5>Año</h5>
            <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectEv2()"></p-dropdown>
          <h5>Meses</h5>
          <p-multiSelect defaultLabel="Seleccione" [options]="Meses2" [(ngModel)]="selectMeses2" optionLabel="name" (click)="selectEv2()"></p-multiSelect>
          <h5>Division</h5>
            <p-multiSelect defaultLabel="Seleccione" [options]="divisiones4" optionLabel="name" (click)="selectEv2()"></p-multiSelect>
          <h5>Filtro indicadores</h5>
          <div *ngFor="let Indicador of Eventos" class="p-field-checkbox">
              <p-checkbox name="group4" value="Indicador" [value]="Indicador"  [(ngModel)]="selectEventos2" [inputId]="Indicador.value" (click)="selectEv2()"></p-checkbox>
              <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <br/>


  <p-panel header="ILI">
    <div class="colorfondo">
  <!-- Quinta grafica -->
  <div class="ui-g" *ngIf="flagILI">

    <div class="ui-g-8 ui-g-nopad">
      <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic" >
        <!-- <p>Eventos</p> -->
        <!-- <p>ILI</p> -->
        <ngx-charts-combo
        [categories]="categoriesCombo"
        [series]="randomILI"
        [options]="optionsCombo"
        >
        </ngx-charts-combo>
      </div>
      <div class="ui-g-1">&nbsp;</div>
      <div class="ui-g-2">&nbsp;</div>
      <div class="ui-g-8">
        <div class="ui-g-6">  
            <i style="font-size:24px" class="fa">&#xf073;</i>   
            <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaILI1" value="this.desdeILI1"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeILI1" (onSelect)="selectILI1()" > </p-calendar> 
        </div>
        <div class="ui-g-6"> 
            <i style="font-size:24px" class="fa">&#xf073;</i> 
            <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeILI1" value="this.hastaILI1"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaILI1" (onSelect)="selectILI1()"> </p-calendar>
        </div>
      </div>
    </div>

    <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter" *ngIf="flagILI">   
      <h5>Año</h5>
        <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectILI1()"></p-dropdown>
      <h5>Meses</h5>
        <p-multiSelect defaultLabel="Seleccione" [options]="Meses2" optionLabel="name" (click)="selectILI1()"></p-multiSelect> 
      <h5>Division</h5>
      <div *ngFor="let category of divisiones4" class="p-field-checkbox">
          <p-checkbox name="group6" value="name" [value]="category"  [(ngModel)]="selectDivisionesILI1"  (click)="selectILI1()"></p-checkbox>
          <label>{{category.name}}</label>
      </div>
    </div>
  </div>
  <hr/>
   <!-- Quinta grafica.2 -->
   <div class="ui-g" *ngIf="flagILI_2">

    <div class="ui-g-8 ui-g-nopad">
      <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
        <!-- <p>ILI</p> -->
        <ngx-charts-combo
        [categories]="categoriesCombo_2"
        [series]="randomILI_2"
        [options]="optionsCombo_2"
        >
        </ngx-charts-combo>
      </div>
      <div class="ui-g-1">&nbsp;</div>
      <div class="ui-g-2">&nbsp;</div>
      <div class="ui-g-8">
        <div class="ui-g-6">  
            <i style="font-size:24px" class="fa">&#xf073;</i>   
            <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaILI1_2" value="this.desdeILI1_2"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeILI1_2" (onSelect)="selectILI1_2()" > </p-calendar> 
        </div>
        <div class="ui-g-6"> 
            <i style="font-size:24px" class="fa">&#xf073;</i> 
            <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeILI1_2" value="this.hastaILI1_2"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaILI1_2" (onSelect)="selectILI1_2()"> </p-calendar>
        </div>
      </div>
    </div>

    <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter" *ngIf="flagILI_2">    
      <h5>Año</h5>
      <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectILI1_2()"></p-dropdown>
    <h5>Meses</h5>
      <p-multiSelect defaultLabel="Seleccione" [options]="divisiones5" [(ngModel)]="selectDivisionesILI1_2" optionLabel="name" (click)="selectILI1_2()"></p-multiSelect> 
      <h5>Division</h5>
      <div *ngFor="let category of divisiones4" class="p-field-checkbox">
          <p-checkbox name="group5_20" value="name" [value]="category"    (click)="selectILI1_2()"></p-checkbox>
          <label>{{category.name}}</label>
      </div>
    </div>
  </div>

<!-- Sexta grafica -->
<!-- <div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 align-items-center" *ngIf="flagILI2">
    <ngx-charts-bar-vertical-stacked
    [view]="view2"
    [scheme]="colorScheme4"
    [results]="randomILI2"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Divisiones'"
    [yAxisLabel]="'ILI'"
    [animations]="true"
    [showDataLabel]="true"
    [tooltipDisabled]="false">>
  </ngx-charts-bar-vertical-stacked>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-4 align-items-center justify-content-md-center" *ngIf="flagILI2">
    <h5>Año</h5>
    <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectILI2()"></p-dropdown>
  <h5>Meses</h5>
    <p-multiSelect defaultLabel="Seleccione" [options]="divisiones5"  optionLabel="name" (click)="selectILI2()"></p-multiSelect> 
    <h5>Division</h5>
    <div *ngFor="let category of divisiones4" class="p-field-checkbox">
        <p-checkbox name="group7" value="name" [value]="category"  [(ngModel)]="selectDivisionesILI2"  (click)="selectILI2()"></p-checkbox>
        <label>{{category.name}}</label>
    </div>
  </div>
</div>
<div class="p-col-12 p-mt-4 mid-border">
  <div class="p-d-flex p-jc-evenly">
      <div class="p-d-flex">  
          <i style="font-size:24px" class="fa">&#xf073;</i>   
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaILI2" value="this.desdeILI2"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeILI2" (onSelect)="selectILI2()" > </p-calendar> 
      </div>
      <div class="p-d-flex"> 
          <i style="font-size:24px" class="fa">&#xf073;</i> 
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeILI2" value="this.hastaILI2"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaILI2" (onSelect)="selectILI2()"> </p-calendar>
      </div>
  </div>
</div> -->


<!-- Sexta grafica.2 -->
<!-- <div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 align-items-center" *ngIf="flagILI2_2">
    <ngx-charts-bar-vertical-stacked
    [view]="view2"
    [scheme]="colorScheme4"
    [results]="randomILI2_2"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Divisiones'"
    [yAxisLabel]="'ILI'"
    [animations]="true"
    [showDataLabel]="true"
    [tooltipDisabled]="false">>
  </ngx-charts-bar-vertical-stacked>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-4 align-items-center justify-content-md-center" *ngIf="flagILI2_2">

    <h5>Año</h5>
    <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectILI2_2()"></p-dropdown>
  <h5>Meses</h5>
    <p-multiSelect defaultLabel="Seleccione" [options]="divisiones5" [(ngModel)]="selectDivisionesILI2_2" optionLabel="name" (click)="selectILI2_2()"></p-multiSelect> 
    <h5>Division</h5>
    <div *ngFor="let category of divisiones4" class="p-field-checkbox">
        <p-checkbox name="group5_20" value="name" [value]="category"    (click)="selectILI2_2()"></p-checkbox>
        <label>{{category.name}}</label>
    </div>
  </div>
</div>
<div class="p-col-12 p-mt-4 mid-border">
  <div class="p-d-flex p-jc-evenly">
      <div class="p-d-flex">  
          <i style="font-size:24px" class="fa">&#xf073;</i>   
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaILI2_2" value="this.desdeILI2_2"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeILI2_2" (onSelect)="selectILI2_2()" > </p-calendar> 
      </div>
      <div class="p-d-flex"> 
          <i style="font-size:24px" class="fa">&#xf073;</i> 
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeILI2_2" value="this.hastaILI2_2"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaILI2_2" (onSelect)="selectILI2_2()"> </p-calendar>
      </div>
  </div>
</div> -->


<!-- Septima grafica -->
<!-- <div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 align-items-center" *ngIf="flagILI3">
    <ngx-charts-bar-vertical-stacked
    [view]="view2"
    [scheme]="colorScheme3"
    [results]="randomILI3"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="false"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Divisiones'"
    [yAxisLabel]="'ILI'"
    [animations]="true"
    [showDataLabel]="true"
    [tooltipDisabled]="false">
    <ng-template #tooltipTemplate let-model="model" style=" background-color: #d81b1b;width: 100px;" >
      <div>
        <h1>Meta ILI</h1>
        {{0.002}}
        <div *ngIf="model.name=='Enero'">0.001</div>
        <div *ngIf="model.name=='Febrero'">0.001</div>
        <div *ngIf="model.name=='Marzo'">0.001</div>
        <div *ngIf="model.name=='Abril'">0.001</div>
        <div *ngIf="model.name=='Mayo'">0.001</div>
      </div>
    </ng-template>
  </ngx-charts-bar-vertical-stacked>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-4 align-items-center justify-content-md-center" *ngIf="flagILI3">
    <h5>Año</h5>
    <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectILI3()"></p-dropdown>
  <h5>Meses</h5>
    <p-multiSelect defaultLabel="Seleccione" [options]="divisiones5"  optionLabel="name" (click)="selectILI3()"></p-multiSelect>
    <h5>Division</h5>
    <div *ngFor="let category of divisiones4" class="p-field-checkbox">
        <p-checkbox name="group8" value="name" [value]="category"  [(ngModel)]="selectDivisionesILI3"  (click)="selectILI3()"></p-checkbox>
        <label>{{category.name}}</label>
    </div>
  </div>
</div>
<div class="p-col-12 p-mt-4 mid-border">
  <div class="p-d-flex p-jc-evenly">
      <div class="p-d-flex">  
          <i style="font-size:24px" class="fa">&#xf073;</i>   
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaILI3" value="this.desdeILI3"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeILI3" (onSelect)="selectILI3()" > </p-calendar> 
      </div>
      <div class="p-d-flex"> 
          <i style="font-size:24px" class="fa">&#xf073;</i> 
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeILI3" value="this.hastaILI3"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaILI3" (onSelect)="selectILI3()"> </p-calendar>
      </div>
  </div>
</div> -->

<!-- Septima grafica.2 -->
<!-- <div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 align-items-center" *ngIf="flagILI3_2">
    <ngx-charts-bar-vertical-stacked
    [view]="view2"
    [scheme]="colorScheme3"
    [results]="randomILI3_2"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="false"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Divisiones'"
    [yAxisLabel]="'ILI'"
    [animations]="true"
    [showDataLabel]="true"
    [tooltipDisabled]="false">
    <ng-template #tooltipTemplate let-model="model" style=" background-color: #d81b1b;width: 100px;" >
      <div>
        <h1>Meta ILI</h1>
        {{0.002}}
        <div *ngIf="model.name=='Enero'">0.001</div>
        <div *ngIf="model.name=='Febrero'">0.001</div>
        <div *ngIf="model.name=='Marzo'">0.001</div>
        <div *ngIf="model.name=='Abril'">0.001</div>
        <div *ngIf="model.name=='Mayo'">0.001</div>
      </div>
    </ng-template>
  </ngx-charts-bar-vertical-stacked>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-4 align-items-center justify-content-md-center" *ngIf="flagILI3_2">

    <h5>Año</h5>
    <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="selectILI3_2()"></p-dropdown>
  <h5>Meses</h5>
    <p-multiSelect defaultLabel="Seleccione" [options]="divisiones5" [(ngModel)]="selectDivisionesILI3_2" optionLabel="name" (click)="selectILI3_2()"></p-multiSelect> 
    <h5>Division</h5>
    <div *ngFor="let category of divisiones4" class="p-field-checkbox">
        <p-checkbox name="group8_20" value="name" [value]="category"    (click)="selectILI3_2()"></p-checkbox>
        <label>{{category.name}}</label>
    </div>
  </div>
</div>
<div class="p-col-12 p-mt-4 mid-border">
  <div class="p-d-flex p-jc-evenly">
      <div class="p-d-flex">  
          <i style="font-size:24px" class="fa">&#xf073;</i>   
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [maxDate]="this.hastaILI3_2" value="this.desdeILI3_2"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desdeILI3_2" (onSelect)="selectILI3_2()" > </p-calendar> 
      </div>
      <div class="p-d-flex"> 
          <i style="font-size:24px" class="fa">&#xf073;</i> 
          <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desdeILI3_2" value="this.hastaILI3_2"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hastaILI3_2" (onSelect)="selectILI3_2()"> </p-calendar>
      </div>
  </div>
</div> -->
    </div>
  </p-panel>
  <br/>
  </div>


  
<!-- <div style="width: 100%;">
  <p-panel header="Tablero">
        <button class="fa fa-floppy-o ng-star-inserted"></button>
        <button class="fa fa-sliders" style="float: right;"></button>
        <button class="fa fa-refresh" style="float: right;"></button>
    
    
      <p>Accidentalidad</p>
      <p>2022</p>
        <table>
          <thead>
            <th>DIVISIÓN</th>
            <th>ILI ACUMULADO</th>
            <th>META</th>
            <th>EVENTOS</th>
            <th>DÍAS PERDIDOS</th>
            <th>FRECUENCIA</th>
            <th>SEVERIDAD</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of fakeData">
              <td> {{ item.name }} </td>
              <td> {{ item.acumulado }} </td>
              <td> {{ item.meta }} </td>
              <td> {{ item.eventos }} </td>
              <td> {{ item.diasPerdidos }} </td>
              <td> {{ item.frecuencia }}% </td>
              <td> {{ item.severidad }}% </td>
            </tr>
          </tbody>
        </table>
</p-panel>
</div> -->

</div>