<p-growl [value]="msgs" sticky="true" life="5000" class="single-line">
</p-growl>
<p-panel header=" REPORTE DE ACCIDENTES O INCIDENTES ">
    <div class="ui-g ">
        <div class="ui-g-5 ui-sm-5 " *ngIf="empleadoSelect?.id !=null || (!consultar && !modificar) ">
            <strong>Persona involucrada</strong>
            <br/>
            <br/>
            <s-empleadoSelector [(ngModel)]="empleadoSelect " [readOnly]="reporteSelect "></s-empleadoSelector>
            <br/>
            <br/>
        </div>
        <!-- <div>
            h
            {{empleadoSelect.usuario.email}}
        </div> -->
        <div class="ui-g-12 ui-sm-12 ">
            <strong>Tipo de reportes</strong>
            <br/> 
            <br/>
            <p-radioButton name="tipoReporte " label="Accidente " value="ACCIDENTE" [(ngModel)]="tipoReporte " [disabled]="reporteSelect"></p-radioButton>
            <p-radioButton name="tipoReporte " label="Incidente " value="INCIDENTE" [(ngModel)]="tipoReporte " [disabled]="reporteSelect"></p-radioButton>
           
            
             
        </div>
    </div>
    <div class="ui-g-12 ui-sm-12 ">
        <label class="single-line"   *ngIf="reporteSelect" ><strong> Reporte No. RAI-{{reporteSelect.id}} </strong> </label>
    </div>
    <br/>
    <br/>
    <button pButton type="button " icon="fa fa-arrow-right " label="Continuar " [disabled]="!tipoReporte || empleadoSelect?.id==null " (click)="inicializarReporte() " *ngIf="!reporteSelect "></button>
</p-panel>

<br/>

<s-form-accidente [reporte]="reporteSelect " *ngIf="reporteSelect " (onSave)="onSave($event) " [consultar]="consultar " [modificar]="modificar " [adicionar]="adicionar "></s-form-accidente>

<br/>
 
<button pButton type="button " class="float-btn " [title]="consultar || modificar ? ' Atras ' : 'Cancelar ' " [icon]="consultar || modificar ? 'fa fa-chevron-left ' : 'fa fa-ban'" (click)="volver() " *ngIf="reporteSelect" style="margin-right:65px;" > </button>
