<p-toast></p-toast>

<p-panel header="Creación de Aliado">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-radioButton name="group1" value="Natural" label="Natural" [(ngModel)]="seleccion" [disabled]="isSelected || !isCreate" inputId="opt1"></p-radioButton></div>
        <div class="ui-g-12"><p-radioButton name="group1" value="Jurídica" label="Jurídica" [(ngModel)]="seleccion" [disabled]="isSelected || !isCreate" inputId="opt2"></p-radioButton></div>
    </div>
    <p-button *ngIf="isCreate" label="Continuar" icon="pi pi-check" (click)="continuar()" [disabled]="isSelected || !isCreate"></p-button>
</p-panel >

<br>

<p-panel *ngIf="onSeleccion=='Natural'" header="Persona Natural" [formGroup]="formNatural">
    <div class="cols" >
        <div class="input-field">
            <input type="text" pInputText formControlName="razonSocial" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.razonSocial" placeholder="Nombre o Razón social"
                class="form-material"/>
            <label for="" class="active">Nombre o Razón social</label>            
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="identificacion" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.nit" placeholder="Número de identificación"
            class="form-material"/>
            <label for="" class="active">Número de identificación</label>
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="email" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.email" placeholder="Email"
            class="form-material"  (ngModelChange)="valueEmpresa.email = $event.toLowerCase()"/>
            <label for="" class="active">Email</label>
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="telefono" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.telefono" placeholder="Telefono"
            class="form-material"/>
            <label for="" class="active">Telefono</label>
        </div>
        <div class="input-field">
            <p-multiSelect class="form-material"  defaultLabel="--seleccione Actividad--" [options]="actividadesContratadasList2" [disabled]="!isCreate" [(ngModel)]="valueEmpresa.actividades_contratadas" formControlName="actividadesContratadas"> </p-multiSelect>
            <label for="" class="active">Actividades contratadas</label>
        </div>
        <div class="input-field">
            <p-multiSelect class="form-material"  defaultLabel="--seleccione division--" [options]="divisionList" [disabled]="!isCreate" [(ngModel)]="valueEmpresa.division" formControlName="division"> </p-multiSelect>
            <label for="" class="active">División</label>
        </div>
        <div class="input-field">
            <p-multiSelect class="form-material"  defaultLabel="--seleccione Localidades--" [options]="localidades" [disabled]="!isCreate" [(ngModel)]="valueEmpresa.localidad" formControlName="localidad"> </p-multiSelect>

            <label for="" class="active">Localidad</label>
        </div>
    </div>
</p-panel>

<p-panel *ngIf="onSeleccion=='Jurídica'" header="Persona Jurídica"  [formGroup]="formJuridica">
    <div class="cols">
        <div class="input-field">
            <input type="text" required pInputText formControlName="razonSocial" [readOnly]="(!isCreate && onEdit==null) || flagConsult" [(ngModel)]="valueEmpresa.razonSocial" placeholder="Razón social"
                class="form-material"/>
            <label for="" class="active">Razón social</label>            
        </div>
        <div class="input-field">
            <input type="number" required pInputText formControlName="identificacion" [readOnly]="(!isCreate && onEdit==null) || flagConsult" [(ngModel)]="valueEmpresa.nit" placeholder="NIT"
            class="form-material"/>
            <label for="" class="active">NIT</label>
        </div>
        <div class="input-field">
            <input type="text" required pInputText formControlName="nombreComercial" [readOnly]="(!isCreate && onEdit==null) || flagConsult" [(ngModel)]="valueEmpresa.nombreComercial" placeholder="Nombre comercial"
            class="form-material"/>
            <label for="" class="active">Nombre comercial</label>
        </div>
        <div class="input-field">
            <input type="email" required pInputText formControlName="email" [readOnly]="!isCreate || flagConsult" [ngModel]="valueEmpresa.email" placeholder="Email"
            class="form-material" (ngModelChange)="valueEmpresa.email = $event.toLowerCase()"/>
            <label for="" class="active">Email</label>
        </div>     
    </div>
    <div class="cols">
        <div class="input-field">
            <input type="number" required pInputText formControlName="calificacion_proceso" [(ngModel)]="calificacion" (keyup)="onCalificacion()" [readonly]="(!isCreate && onEdit==null) || flagConsult" placeholder="Calificación" class="form-material">
            <label for="" class="active">Calificación de proceso de selección</label>
        </div>
        <div class="input-field">
            <p-calendar showButtonBar="true" showClear="true" required formControlName="fecha_calificacion" [yearNavigator]="true" [(ngModel)]="fecha_calificacion" (onSelect)="onFechaCalificacion()" yearRange="1900:2050" [monthNavigator]="true" [locale]="localeES" dateFormat="dd/mm/yy" [touchUI]="true" [disabled]="(!isCreate && onEdit==null) || flagConsult" [readonlyInput]="true" inputId="touchui" name="fechaCalificacion"></p-calendar>
            <button [disabled]="onEdit != 'edit'" style="height: 33px;" type="button" class="btn btn-primary" (click)="resetdate()">Limpiar</button>
            <label for="" class="active">Fecha calificación</label>
        </div>
        <div class="input-field">
            <input required formControlName="quien_califica" type="text" pInputText [(ngModel)]="quienCalifica" (keyup)="onQuienCalifica()" [readonly]="(!isCreate && onEdit==null) || flagConsult" placeholder="Quién califica" class="form-material">
            
            <label for="" class="active">Quién califica</label>
        </div>
        <div class="input-field container">
            <label  style="
            margin-top: -15px;" for="" class="active">Adjunte el soporte de calificación de selección</label>
            <br>
            <div class="col-3">
                <button  pButton type="button" [disabled]="onEdit != 'edit'" (click)="showDialog()" icon="fa fa-plus" label="Adjuntar soporte" style="margin-bottom: 10px;height: 40px" ></button>
                <s-documentoUpload [(visible)]="visibleDlgExcel" [modParam]="analisisId" [modulo]="modulo" tipoEvidencia="soporteCalificacion" (onUpload)="onUpload($event)"></s-documentoUpload>
            </div>
            <div class="col6">
                <div class="ui-g" style="margin-top: 10px;">
                    <div class="ui-g-12 ui-sm-12 ui-md-10">
                        <div *ngFor="let doc of directorios">
                            <table class="dwrapper table table-bordered border-primary caption-top" *ngIf="doc!.documento.proceso=='soporteCalificacion'"> 
                                <caption>Soportes: </caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button [disabled]="onEdit != 'edit'" type="button" class="btn btn-outline-primery" (click)="descargarDocumento(doc.documento)">{{doc.documento.descripcion}}</button>
                                        </td>
                                        <td>
                                            <a>&nbsp;</a>
                                            <button [disabled]="onEdit != 'edit'" type="button" class="btn tbn-outline-danger" title="Eliminar documento" (click)="eliminarDocument(doc)" style="color: red;"><span class="fa fa-trash "></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="input-field">
            <div class="ui-g-12">
                <label for="subctr" class="active" style="margin-bottom:10px;background-color:transparent;">¿La empresa cuenta con autorización para subcontratación?: </label>
                <p-radioButton [disabled]="(!isCreate && onEdit==null) || flagConsult" (onClick)="onAutorizaSubcontratacion()" [style]="{'padding':'3px'}" name="subctr" value="Si" label="Sí" [(ngModel)]="autorizaSubcontratacion" [ngModelOptions]="{standalone: true}" required></p-radioButton>
                <p-radioButton [disabled]="(!isCreate && onEdit==null) || flagConsult" (onClick)="onAutorizaSubcontratacion()" [style]="{'padding':'3px'}" name="subctr" value="No" label="No" [(ngModel)]="autorizaSubcontratacion" [ngModelOptions]="{standalone: true}" required></p-radioButton>
            </div>
        </div>
        <div class="input-field">
            <div class="ui-g-12">
                <label for="subctr" class="active" style="margin-bottom:10px;background-color:transparent;">Empresa de servicios temporales: </label>
                <p-radioButton [disabled]="(onEdit=='edit') || flagConsult" (onClick)="onEsTemporal()" [style]="{'padding':'3px'}" name="temporal" value="Si" label="Sí" [(ngModel)]="istemporal" [ngModelOptions]="{standalone: true}" required></p-radioButton>
                <p-radioButton [disabled]="(onEdit=='edit') || flagConsult" (onClick)="onEsTemporal()" [style]="{'padding':'3px'}" name="temporal" value="No" label="No" [(ngModel)]="istemporal" [ngModelOptions]="{standalone: true}" required></p-radioButton>
            </div>
        </div>
        <div *sTienePermiso="'CTR_PUT_PERMISO_REPORTEAT'">
            <div class="input-field" *ngIf="istemporal=='No'">
                <div class="ui-g-12">
                    <label class="active" style="margin-bottom:10px;background-color:transparent;">¿Autoriza el registro de accidentes de esta empresa?</label>
                    <p-radioButton [disabled]="(!isCreate && onEdit==null) || flagConsult" (onClick)="onAutorizaReporteAt()" [style]="{'padding':'3px'}" name="registroAt" [value]="true" label="Sí" [(ngModel)]="autorizaRegistroAt" [ngModelOptions]="{standalone: true}" required></p-radioButton>
                    <p-radioButton [disabled]="(!isCreate && onEdit==null) || flagConsult" (onClick)="onAutorizaReporteAt()" [style]="{'padding':'3px'}" name="registroAt" [value]="false" label="No" [(ngModel)]="autorizaRegistroAt" [ngModelOptions]="{standalone: true}" required></p-radioButton>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<ng-container *ngIf="(formNatural.valid || formJuridica.valid) && isCreate && autorizaSubcontratacion && !guardando && istemporal">
    <button *sTienePermiso="'EMP_POST_USU_ALIADO'" pButton type="button" icon="fa fa-floppy-o" title="Guardar Aliado"
        (click)="saveAliado()" class="float-btn"></button>
</ng-container>