<p-toast></p-toast>

<p-panel header="Creación de Aliado">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-radioButton name="group1" value="Natural" label="Natural" [(ngModel)]="seleccion" [disabled]="isSelected || !isCreate" inputId="opt1"></p-radioButton></div>
        <div class="ui-g-12"><p-radioButton name="group1" value="Jurídica" label="Jurídica" [(ngModel)]="seleccion" [disabled]="isSelected || !isCreate" inputId="opt2"></p-radioButton></div>
    </div>
    <p-button *ngIf="isCreate" label="Continuar" icon="pi pi-check" (click)="continuar()" [disabled]="isSelected || !isCreate"></p-button>
</p-panel >

<br>

<p-panel *ngIf="onSeleccion=='Natural'" header="Persona Natural" [formGroup]="formNatural">
    <div class="cols" >
        <div class="input-field">
            <input type="text" pInputText formControlName="razonSocial" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.razonSocial" placeholder="Nombre o Razón social"
                class="form-material"/>
            <label for="" class="active">Nombre o Razón social</label>            
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="identificacion" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.nit" placeholder="Número de identificación"
            class="form-material"/>
            <label for="" class="active">Número de identificación</label>
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="email" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.email" placeholder="Email"
            class="form-material"/>
            <label for="" class="active">Email</label>
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="telefono" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.telefono" placeholder="Telefono"
            class="form-material"/>
            <label for="" class="active">Telefono</label>
        </div>
        <div class="input-field">
            <p-multiSelect class="form-material"  defaultLabel="--seleccione Actividad--" [options]="actividadesContratadasList2" [disabled]="!isCreate" [(ngModel)]="valueEmpresa.actividades_contratadas" formControlName="actividadesContratadas"> </p-multiSelect>
            <label for="" class="active">Actividades contratadas</label>
        </div>
        <div class="input-field">
            <p-multiSelect class="form-material"  defaultLabel="--seleccione division--" [options]="divisionList" [disabled]="!isCreate" [(ngModel)]="valueEmpresa.division" formControlName="division"> </p-multiSelect>
            <label for="" class="active">División</label>
        </div>
        <div class="input-field">
            <p-multiSelect class="form-material"  defaultLabel="--seleccione Localidades--" [options]="localidades" [disabled]="!isCreate" [(ngModel)]="valueEmpresa.localidad" formControlName="localidad"> </p-multiSelect>

            <label for="" class="active">Localidad</label>
        </div>
    </div>
</p-panel>

<p-panel *ngIf="onSeleccion=='Jurídica'" header="Persona Jurídica">
    <div class="cols" [formGroup]="formJuridica">
        <div class="input-field">
            <input type="text" pInputText formControlName="razonSocial" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.razonSocial" placeholder="Razón social"
                class="form-material"/>
            <label for="" class="active">Razón social</label>            
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="identificacion" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.nit" placeholder="NIT"
            class="form-material"/>
            <label for="" class="active">NIT</label>
        </div>
        <div class="input-field">
            <input type="text" pInputText formControlName="nombreComercial" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.nombreComercial" placeholder="Nombre comercial"
            class="form-material"/>
            <label for="" class="active">Nombre comercial</label>
        </div>
        <div class="input-field">
            <input type="email" pInputText formControlName="email" [readOnly]="!isCreate" [(ngModel)]="valueEmpresa.email" placeholder="Email"
            class="form-material"/>
            <label for="" class="active">Email</label>
        </div>     
    </div>
    <div class="cols">
        <div class="input-field" *ngIf="!isCreate">
            <input type="number" pInputText [(ngModel)]="calificacion" (keyup)="onCalificacion()" [readonly]="'edit'!=onEdit" placeholder="0" class="form-material">
            <label for="" class="active">Calificación</label>
        </div>
        <div class="input-field" *ngIf="!isCreate">
            <p-calendar [yearNavigator]="true" [(ngModel)]="fecha_calificacion" (onSelect)="onFechaCalificacion()" yearRange="1900:2050" [monthNavigator]="true" [locale]="localeES" dateFormat="dd/mm/yy" [touchUI]="true" [disabled]="'edit'!=onEdit" [readonlyInput]="true" inputId="touchui" name="fechaCalificacion"></p-calendar>
            <label for="" class="active">Fecha calificación</label>
        </div>
        <div class="input-field" *ngIf="!isCreate">
            <input type="text" pInputText [(ngModel)]="quienCalifica" (keyup)="onQuienCalifica()" [readonly]="'edit'!=onEdit" placeholder="Quién califica" class="form-material">
            <label for="" class="active">Quién califica</label>
        </div>
    </div>
</p-panel>
<ng-container *ngIf="(formNatural.valid || formJuridica.valid) && isCreate">
    <button *sTienePermiso="'SEC_POST_ANADESV'" pButton type="button" icon="fa fa-floppy-o" title="Guardar Aliado"
        (click)="saveAliado()" class="float-btn"></button>
</ng-container>