<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<p-confirmDialog icon="fa fa-question-circle" [style]="{'width':'250px'}" [closable]="false" acceptLabel="Si"></p-confirmDialog>
<s-mensaje-usuario></s-mensaje-usuario>
<s-cambioPasswd></s-cambioPasswd>
<s-idleTimeout></s-idleTimeout>
<!--<s-login [modal]="true" [visible]="false"></s-login>--> 

<div id="layout">

	<button id="btn-toggle-menu" #btnMenu class="btn-toggle-menu fa fa-bars" (click)="toggleMenu()"></button>

	<div id="header" class="header" #header>
		<div id="avatar">
			<div id="avatar-content" (click)="menu.toggle($event)">
				<i *ngIf="!usuario.icon" class="fa fa-user-circle" aria-hidden="true"></i>
				<img *ngIf="usuario.icon" [src]="usuario.icon" style="border-radius: 50%;width: 48px;" />
			</div>
			<label style="align-self: center;font-size: 14px;margin-left: 10px;">{{usuario.email}}</label>
		</div>
		<div id="avatar3">
			<div id="avatar-content" (click)="menu.toggle($event)">
				
				<img *ngIf="empresaSelect.id ==22 " [src]="empresaSelect.logo" style="width: 140px;margin-top: -17px;" />
				
			</div>
			
		</div>
		<div id="tareas">
			<div id="avatar2" (mouseenter)="modalDianostico = true; cargartareas(); ActPosition()">
				<i  class="fa fal fa-bell" aria-hidden="true" ></i>				
			</div>
			<!--
			<div id="avatar2"  (click)="modalDianostico = true; ">
				<i  class="fa fal fa-bell" aria-hidden="true"></i>				
			</div>		-->	
		</div>
		<p-dialog (mouseleave)="modalDianostico = false;" [(visible)]="modalDianostico"
		positionTop=45 positionLeft= {{position}}
		[style]="{'width':'330px','height':'100px', 'font-size': '10px'}" >
		<p-header style="font-size: 14px;margin-left: 10px;margin-top: -10px; padding-top: 100px;">
			Usted tiene asignadas las siguientes tareas :
		</p-header>
		<!--
		<div style="align-self: top;font-size: 12px;margin-left: 10px;margin-top: 5px;color:rgba(27, 160, 49, 0.651);">Abiertas :  3</div>
		<div style="align-self: center;font-size: 12px;margin-left: 10px;color:rgb(9, 5, 252);">En Seguimiento :  1</div>
		<div style="align-self: center;font-size: 12px;margin-left: 10px;color:rgb(253, 4, 4);">Vencidas : 10</div>
		-->

		<div style="align-self: top;font-size: 12px;margin-left: 10px;margin-top: 5px;color:rgba(27, 160, 49, 0.651);" 
			*ngFor="let datos of tareasPendientes | keyvalue">{{datos.key}}: {{datos.value}}</div>
		
		<label style="align-self: center;font-size: 14px;margin-left: 10px;">{{data}}</label>
		<br>
		<button style="background-color: #46B9FC; border-color: #46B9FC; color: white; border-radius: 5px;" type="button" (click)="irtareas()" class="btn btn-info">Ir </button>
		</p-dialog>
		

		<div class="empresa-selector">
			<p-dropdown [options]="empresasItems" [(ngModel)]="empresaSelect" [filter]="true" [style]="{'width':'250px'}" class="menu-empresa-selector"
			 (onChange)="onChangeEmpresa()">
			 

			</p-dropdown>

		</div>
		
	</div>
	<div id="menu" class="menu" #menu >
		<ng-content select="layout-menu"></ng-content>
	</div>
	<div id="content" class="content" #content>
		<ng-content select="layout-content"></ng-content>
	</div>
</div>

<p-menu #menu popup="popup" [model]="items"></p-menu>