//$header-color: linear-gradient(90deg, #002284, #0275d8);
$primary-color: #3ba2dc;
$secondary-color: #46B9FC;
$header-color: linear-gradient(90deg, $primary-color, $secondary-color);
//$header-color: #0275d8;
$transition-duration: 0.3s;
$width-transition: width $transition-duration;
$menu-background-color: #fff;
$menu-open-width: 250px;
$menu-close-width: 65px;
$header-height: 50px;
#layout {
    width: 100%;
    height: 100vh;
}


/* header classes */

h1 {
    color: #fff;
}

.header {
    padding: 10px;
    background: $header-color;
    height: $header-height;
    position: fixed;
    right: 0px;
    z-index: 10;
    box-sizing: border-box;
    transition: $width-transition;
    box-shadow: 1px 2px 3px #aaa;
}

.header h1 {
    margin-left: 55px;
}

.header-partial {
    width: calc(100% - #{$menu-open-width});
}

.header-full {
    width: calc(100% - #{$menu-close-width});
}

.header-menu-invisible h1 {
    margin-left: 10px !important;
}

.header-menu-invisible {
    width: 100%;
}

.empresa-selector {
    position: fixed;
    top: 13px;
    right: 20px;
}


/* content classes */

.content {
    position: absolute;
    top: $header-height;
    right: 0px;
    transition: $width-transition, right 0.2s;
    padding: 15px;
    box-sizing: border-box;
}

.content-partial {
    width: calc(100% - #{$menu-open-width});
}

.content-full {
    width: calc(100% - #{$menu-close-width});
}


/* menu classes */

.menu {
    background-color: #fff;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 0;
    transition: width 0.3s;
    box-shadow: 2px 2px 5px #ccc;
}

.menu-close {
    width: $menu-close-width;
}

.menu-open {
    width: $menu-open-width;
    z-index: 5;
}


/* Button toggle menu classes */

.btn-toggle-menu-open {
    left: $menu-open-width;
}

.btn-toggle-menu-close {
    left: $menu-close-width;
}

.btn-disabled {
    background-color: #ccc !important;
}

.btn-invisible {
    display: none;
}

.btn-toggle-menu {
    position: fixed;
    top: 0px;
    height: $header-height;
    width: $header-height;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    //font-size: 32px;
    z-index: 11;
    transition: left $transition-duration;
}

.btn-toggle-menu:hover {
    background-color: $primary-color #222222;
}

#avatar {
    position: relative;
    top: 0px;
    left: 50px;
    right: 0px;
    width: 35px;
    height: 35px;
    color: #fff;
    display: flex;
}
#avatar2 {
    position: relative;
    top:-27px;
    left: 1060px;
    right: 0px;
    width: 35px;
    height: 35px;
    color: #fff;
    display: flex;
    font-size: 20px;
}

#avatar-content i {
    float: left;
    font-size: 32px;
}

#avatar-content:hover {
    cursor: pointer;
}


/*
:host  /deep/ .menu button{ 
	height: 55px;
	background-color: $menu-background-color;
	color: #fff;
	border: none;
	border-bottom: solid thin #333;
	width: 100%;
}

:host  /deep/ .menu button:hover{ 
	background-color: #333;
}



@media (min-width: 200px) and (max-width: 800px) { 
	
	.header-partial{
		width: 0px;
	}

	.btn-toggle-menu-open{
		width: 100%;
	}
	.content-partial{
		position: fixed;
		right: -100%;
		width: 0px;
	}

	.menu{
		opacity: 0.7;
	}

	.menu-open{
		width: 100%;
	}
	
	.btn-toggle-menu-open{
		left: 0px;
	}

	:host  /deep/ .menu button:first-child {
		margin-top: 55px;
	}

	
}
*/