<p-growl [value]="msgs"></p-growl>


<form [formGroup]="recomendation">
    <div class="ui-g">
        <div class="ui-g p-py-2">
            <div class="ui-g-12">
                <h5 class="title-header p-mb-2">Recomendaciones</h5>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-5">
                <div class="input-field">
                    <p-dropdown [options]="entit" formControlName="entidadEmitRecomendaciones" class="select-material"
                        styleClass="select-material" required>
                    </p-dropdown>
                    <label for="" class="active">Entidad que emite las recomendaciones</label>
                </div>
                <small *ngIf="entidadEmitRecomendaciones.errors?.required && entidadEmitRecomendaciones.touched"
                    id="username2-help" class="p-invalid">Obligatorio</small>
            </div>

            <div class="ui-g-12 ui-md-4 ui-lg-3">
                <div class="input-field">

                    <p-dropdown [options]="typeList" formControlName="tipo" class="select-material"
                        styleClass="select-material" required>
                    </p-dropdown>
                    <label for="" class="active">Tipo</label>
                </div>
                <small *ngIf="tipo.errors?.required && tipo.touched" id="username2-help"
                    class="p-invalid">Obligatorio</small>

            </div>

            <div class="ui-g-12 ui-md-4 ui-lg-4">
                <div class="input-field">
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" [touchUI]="true" [yearRange]="yearRange"
                        [locale]="localeES" formControlName="fechaInicio" dateFormat="dd/mm/yy"
                        inputStyleClass="form-material" required>
                    </p-calendar>
                    <label for="" class="active">Fecha Inicial</label>
                </div>
                <small *ngIf="fechaInicio.errors?.required && fechaInicio.touched" id="username2-help"
                    class="p-invalid">Obligatorio</small>
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-4">
                <div class="input-field">
                    <p-calendar [monthNavigator]="true" [touchUI]="true" [yearNavigator]="true" [yearRange]="yearRange"
                        formControlName="fechaExpiracion" [locale]="localeES" dateFormat="dd/mm/yy"
                        inputStyleClass="form-material" required>
                    </p-calendar>
                    <label for="" class="active">Fecha Final</label>
                </div>
                <small *ngIf="fechaExpiracion.errors?.required && fechaExpiracion.touched" id="username2-help"
                    class="p-invalid">Obligatorio</small>
            </div>


            <div class="ui-g-12">
                <div class="input-field">
                    <textarea formControlName="recomendaciones" class="textarea-material" pInputTextarea
                        required></textarea>
                    <label for="" class="active">Recomendaciones</label>
                </div>
                <small *ngIf="recomendaciones.errors?.required && recomendaciones.touched" id="username2-help"
                    class="p-invalid">Obligatorio</small>

            </div>


            <div class="card">
                <h5 class="title-header p-mb-2">Plan de acción</h5>
                <p-table [value]="tratamientos" dataKey="id" editMode="row">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Tipo de intervencion</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>


                            <th style="width:8rem"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-tratamiento let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="tratamiento">

                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="tratamiento.tipoIntervencion">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{tratamiento.tipoIntervencion}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="tratamiento.descripcion">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{tratamiento.descripcion}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-calendar [touchUI]="true" [(ngModel)]="tratamiento.fecha"
                                            dateFormat="dd/mm/yy" placeholder="dd/MM/yyyy" [locale]="localeES">
                                        </p-calendar>

                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{tratamiento.fecha | date : 'dd/MM/yyyy'}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="onRowEditInit(tratamiento)"
                                    class="p-button-rounded p-button-text"> </button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="onRowEditSave(tratamiento,'tratamiento')"
                                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="onRowEditCancel(tratamiento, ri)"
                                    class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary" let-rowData>
                        <button *sTienePermiso="'SCM_CREATE_CASE_TRAT'" pButton type="button" icon="fa fa-plus"
                            (click)="nuevoTratamiento()">

                        </button>

                    </ng-template>
                </p-table>
            </div>
            <!-- <div class="ui-g-12">
                <h5 class="title-header p-mb-2">Plan de Acción</h5>
            </div>            
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <div class="input-field">

                    <textarea formControlName="actividad" class="textarea-material" pInputTextarea required></textarea>

                    <label for="" class="active">Actividad</label>
                </div>
                
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <div class="input-field">
                    <textarea formControlName="descripcion_act" class="textarea-material" pInputTextarea></textarea>

                    <label for="" class="active">Descripcion de la Actividad</label>
                </div>
                
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <div class="input-field">
                    <p-calendar [monthNavigator]="true" [touchUI]="true" [yearNavigator]="true" [yearRange]="yearRange"
                    formControlName="fecha_proyectada" [locale]="localeES" dateFormat="dd/mm/yy"
                    inputStyleClass="form-material">
                </p-calendar>
                    <label for="" class="active">Fecha proyectada</label>
                </div>
               
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="input-field">
                    <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite"
                        [style]="{'width':'100%'}" (onSelect)="onSelectionResponsable($event)"
                        formControlName="responsableEmpresaNombre" [suggestions]="empleadosList"
                        (completeMethod)="buscarEmpleado($event)" *ngIf="empleado?.id == null">
                        <ng-template let-empleado pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div class="wrapper">
                                    <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle"
                                        style="font-size: 48px;" aria-hidden="true"></i>
                                    <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon"
                                        style="border-radius: 50%;" #imgAvatar />
                                    <div style="margin-left:20px">
                                        <br />{{empleado?.primerApellido}} {{empleado?.primerNombre}}
                                        {{empleado?.segundoNombre}}

                                        <br /> {{empleado?.numeroIdentificacion}}
                                        <br /> {{empleado?.usuario.email}}
                                    </div> 
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <label for="" class="active">responsable empresa</label>

                </div>
               
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" formControlName="responsableExterno" pInputText placeholder="Responsable"
                        class="form-material" id="" />
                    <label for="" class="active">Responsable Externo </label>
                </div>
                
            </div> -->
            <div class="ui-g-12">
                <button *sTienePermiso="'SCM_CREATE_CASE_RECO'" pButton type="button" label="Guardar" icon="fa fa-plus"
                    (click)="onSubmit()">

                </button>
            </div>
        </div>
    </div>
</form>