<p-panel [header]="'HORA HOMBRES TRABAJADAS'">
    <p-accordion [multiple]="true">
        <div class="p-fluid p-grid p-formgrid">
            <div class="ui-g-12 ui-sm-12 ui-md-2">
                Seleccionar año:
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-dropdown appendTo="body" [options]="yearRange" placeholder="Seleccionar año" (onChange)="onSelectAnio($event)"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-2">
                Seleccionar empresa:
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
                <p-dropdown appendTo="body" [options]="Empresas" placeholder="Seleccionar empresa" (onChange)="onSelectEmpresa($event)"></p-dropdown>
            </div>
        </div>
        <ng-container *ngIf="mostrarForm">
            <div class="ui-g">
                <div class="ui-g-6 ui-sm-12 ui-md-2">
                    Meta Anual ILI:
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-2">
                    <input pInputText [(ngModel)]="metaAnualILI" placeholder="0" type="number"/>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-2" >
                    Meta Mensual ILI:
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-2">
                    <input pInputText [(ngModel)]="metaMensualILI" placeholder="0" type="number"/>
                </div>
            </div>
            <ng-container *ngFor="let mes of meses; let i = index;">
                <p-accordionTab header={{mes.label}}>
                    <div class="ui-g">
                        <div class="ui-g-6 ui-sm-6 ui-md-2">
                            Total mes No. PERSONAS:
                        </div>
                        <div class="ui-g-6 ui-sm-6 ui-md-2">
                            <input pInputText readonly [(ngModel)]="dataHHT[i].NumPersonasMes" placeholder="0" type="number"/>
                        </div>
                        <div class="ui-g-6 ui-sm-6 ui-md-2" >
                            Total mes HHT:
                        </div>
                        <div class="ui-g-6 ui-sm-6 ui-md-2">
                            <input pInputText readonly [(ngModel)]="dataHHT[i].HhtMes" placeholder="0" type="number"/>
                        </div>
                    </div>
                    
                    <div *ngIf="areaList">
                        <ng-container *ngFor="let area of areaList; let j = index;">
                            <p-accordionTab header={{area.nombre}} >

                                <div class="ui-g" *ngIf="!tienePlantas(area.id)">
                                    <div class="ui-g-6 ui-sm-12 ui-md-2">
                                        Total area No. PERSONAS:
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 ui-md-2">
                                        <input pInputText [readonly]="tienePlantas(area.id)" placeholder="0" [(ngModel)]="dataHHT[i].Areas[j].NumPersonasArea" type="number"/>
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 ui-md-2" >
                                        Total area HHT:
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 ui-md-2">
                                        <input pInputText [readonly]="tienePlantas(area.id)" placeholder="0" [(ngModel)]="dataHHT[i].Areas[j].HhtArea" type="number"/>
                                    </div>
                                </div>

                                <div *ngIf="plantasList && tienePlantas(area.id)">
                                    <ng-container *ngFor="let pl of getPlantasByArea(area.id); let k = index;">
                                        <p-accordionTab header={{pl.nombre}}>
                                            <div class="ui-g">
                                                <div class="ui-g-6 ui-sm-12 ui-md-2">
                                                    No. PERSONAS:
                                                </div>
                                                <div class="ui-g-6 ui-sm-12 ui-md-2">
                                                    <input pInputText placeholder="0" [(ngModel)]="dataHHT[i].Areas[j].Plantas[k].NumPersonasPlanta" type="number"/>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12 ui-md-2" >
                                                    HHT:
                                                </div>
                                                <div class="ui-g-6 ui-sm-12 ui-md-2" #acordionTab>
                                                    <input pInputText placeholder="0" [(ngModel)]="dataHHT[i].Areas[j].Plantas[k].HhtPlanta" type="number"/>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                    </ng-container>
                                </div>
                            </p-accordionTab>
                        </ng-container>
                    </div>
                </p-accordionTab>
            </ng-container>
        </ng-container>
    </p-accordion>
</p-panel>

<ng-container *ngIf="anioSelected && empresaSelected && esNuevoRegistro && mostrarBotones">
    <button pButton type="button" icon="fa fa-floppy-o" title="Guardar"
        (click)="guardarHht()" class="float-btn"></button>
        <!-- guardarHht() -->
</ng-container>

<ng-container *ngIf="anioSelected && empresaSelected && !esNuevoRegistro && mostrarBotones">
    <button  pButton type="button" icon="fa fa-pencil" title="Modificar"
        (click)="actualizarHht()" class="ui-button-success float-btn" style="z-index: 100;"></button>
</ng-container>

