<p-toast></p-toast>
<form >
    <div id="msform">
        <h1>Nombre Etapa: {{factorCausal.nombre}}</h1>
        <p-steps [model]="steps" [(activeIndex)]="pasoSelect"></p-steps>

        <div>
          <button class="next action-button" *ngIf="pasoSelect>0" (click)="back()">Volver</button>
          <!-- <button class="next action-button"  *ngIf="steps.length>=pasoSelect" (click)="next()">Siguiente</button> -->
          <button class="next action-button" *ngIf="steps.length>=pasoSelect" (click)="next()">Siguiente</button>
          <!-- <button class="next action-button" [disabled]="validators" *ngIf="steps.length>=pasoSelect" (click)="next()">Siguiente</button> -->
          <!-- <button class="next action-button" [disabled]="validators" *ngIf="steps.length>=pasoSelect" (click)="next()">Siguiente</button> -->
        </div>

        <div *ngFor="let items of factorCausal?.seccion">
          <div style="width: 33%; float: left; margin-top: 22px" *ngIf="pasoSelect==0">          
            <h2 class="titulos"><b>{{items.tipoDesempeno}}</b></h2>
            <fieldset  *ngFor="let item of items.desempeno" >
              <div *ngIf="item.selected">
                <button pButton class="showModal" icon="pi pi-search" (click)="showDialog(item)"></button>
              </div>
              <div >
                <label>{{item.id + 1}} </label>
                <label>{{item.pregunta}}</label>
                <br>
                <br>
                <br>
                <br>
                <div>
                  <div class="buttons">
                    <p-radioButton [name]="item.dq" label="Si  " [value]="true"  [(ngModel)]="item.selected" (onClick)="changeSelection(item.id, true)"></p-radioButton>
                    <p-radioButton [name]="item.dq" label="No  " [value]="false" [(ngModel)]="item.selected" (onClick)="changeSelection(item.id, false)"></p-radioButton>
                  </div>                  
                </div>
                <br>
                <br>
                <div class="areas" *ngFor="let ide of item.areas;let impar = odd;let par = even;" [ngClass]="{azul:par,verde:impar}">
                  <label for="">{{ide.factor}}</label>
                </div>

              </div>
            </fieldset>
          </div>
        </div>
        
        <div *ngIf="pasoSelect==1" style="width: 80%; float: center; margin-top: 22px" >               

          <p-fieldset legend="Dificultad con Equipo" [toggleable]="true">
            <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeUnselect)="onNodeSelect($event)" (onNodeSelect)="onNodeSelect($event)"
                styleClass="company">
                <ng-template let-node pTemplate="person">
                    <div class="node-header p-corner-top">{{node.label}}</div>
                    <div class="node-content">
                        <div>{{node.data.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-node pTemplate="department">
                    {{node.label}}
                </ng-template>
            </p-organizationChart>
          </p-fieldset>

          <p-fieldset legend="Desastre Natural / Sabotaje" [toggleable]="true">
            <p-organizationChart [value]="data2" selectionMode="single" [(selection)]="selectedNode" (onNodeUnselect)="onNodeSelect($event)" (onNodeSelect)="onNodeSelect($event)"
              styleClass="company">
              <ng-template let-node pTemplate="person">
                  <div class="node-header p-corner-top">{{node.label}}</div>
                  <div class="node-content">
                      <div>{{node.data.name}}</div>
                  </div>
              </ng-template>
              <ng-template let-node pTemplate="department">
                  {{node.label}}
              </ng-template>
            </p-organizationChart>
          </p-fieldset>       

        </div>
<!-- 
        <div *ngIf="pasoSelect==2" style="width: 80%; float: center; margin-top: 22px" >               

        </div>
        -->
        
        <p-dialog [header]="selectIdentificacionFC?.factor" [(visible)]="display" [style]="{width: '50vw'}">
          
          <div>
            <app-identificacion-factores-causales [identificacionFc]="selectIdentificacionFC"></app-identificacion-factores-causales>
          </div>

          <div>
            <p-button icon="pi pi-check" (click)="display=false" label="Confirmar" class="p-button-text"></p-button>
          </div>

        </p-dialog>
    </div>
</form>