<p-growl [value]="msgs"></p-growl>


<div class="card">
    <h5 class="title-header p-mb-2">PCL de Diagnósticos</h5>
    <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-text"
        (click)="resetDiags()"> </button>
    <p-table [value]="pclList" dataKey="id" editMode="row">
        <!--  <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width:250px">
                <col style="width:250px">
                <col style="width:250px">
                <col style="width:150px">
                <col style="width:250px">
                <col style="width:250px">
                <col style="width:250px">
                <col style="width:250px">
                <col style="width:250px">
                <col style="width:50px">
            </colgroup>
        </ng-template>-->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="tipo">Diagnóstico</th>
                <th pSortableColumn="tipoIntervencion">Pcl</th>
                <th pSortableColumn="descripcion">% de la PCL</th>
                <th pSortableColumn="fecha">Fecha de emisión de la PCL</th>
                <th pSortableColumn="fecha">Entidad que emite la PCL</th>
                <th pSortableColumn="fecha">Entidad</th>
                <th pSortableColumn="fecha">Fecha de calificación origen</th>
                <th pSortableColumn="fecha">Estado de calificación origen</th>
                <th pSortableColumn="fecha">Entidad que emite la calificación origen</th>
                <th pSortableColumn="fecha">Entidad </th>




                <th style="width:8rem"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pcl let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="pcl">



                <td>
                    <p-cellEditor>

                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="diagList" class="select-material"
                                    [(ngModel)]="pcl.diag" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true" [options]="diagList" class="select-material"
                                    [(ngModel)]="pcl.diag" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="pclOptionList" class="select-material"
                                    [(ngModel)]="pcl.pcl" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true" [options]="pclOptionList"
                                    class="select-material" [(ngModel)]="pcl.pcl" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="pcl.porcentajePcl">
                        </ng-template>
                    </p-cellEditor>

                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <input pInputText type="text" [(ngModel)]="pcl.porcentajePcl">
                        </ng-template>

                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [touchUI]="true" [(ngModel)]="pcl.emisionPclFecha" dateFormat="dd/mm/yy"
                                placeholder="dd/MM/yyyy" [locale]="localeES">
                            </p-calendar>

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{pcl.emisionPclFecha | date : 'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>

                </td>
                <!--Entidad emitida pcl-->
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="emitPclentity" class="select-material"
                                    [(ngModel)]="pcl.entidadEmitePcl" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true" [options]="emitPclentity"
                                    class="select-material" [(ngModel)]="pcl.entidadEmitePcl"
                                    styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="entity[pcl.entidadEmitePcl]"
                                    class="select-material" [(ngModel)]="pcl.entidadEmitida"
                                    styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true" [options]="entity[pcl.entidadEmitePcl]"
                                    class="select-material" [(ngModel)]="pcl.entidadEmitida"
                                    styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [touchUI]="true" [(ngModel)]="pcl.fechaCalificacion" dateFormat="dd/mm/yy"
                                placeholder="dd/MM/yyyy" [locale]="localeES">
                            </p-calendar>

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{pcl.fechaCalificacion | date : 'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="pclCalificacionList" class="select-material"
                                    [(ngModel)]="pcl.statusDeCalificacion" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true" [options]="pclCalificacionList"
                                    class="select-material" [(ngModel)]="pcl.statusDeCalificacion"
                                    styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="emitPclentity" class="select-material"
                                    [(ngModel)]="pcl.entidadEmiteCalificacion" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true" [options]="emitPclentity"
                                    class="select-material" [(ngModel)]="pcl.entidadEmiteCalificacion"
                                    styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <div class="input-field">
                                <p-dropdown [filter]="true" [options]="entity[pcl.entidadEmiteCalificacion]"
                                    class="select-material" [(ngModel)]="pcl.entidadEmitidaCalificacion"
                                    styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">

                            <div class="input-field">
                                <p-dropdown readonly="true" [filter]="true"
                                    [options]="entity[pcl.entidadEmiteCalificacion]" class="select-material"
                                    [(ngModel)]="pcl.entidadEmitidaCalificacion" styleClass="select-material">
                                </p-dropdown>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        class="p-button-rounded p-button-text"> </button>
                    <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" class="ui-button-danger"
                        (click)="onRowDelete(pcl)"> </button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(pcl,'tratamiento')" title="Editar Tratamiento"
                        class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(pcl, ri)" class="ui-button-danger"></button>
                </td>
            </tr>
        </ng-template>



        <ng-template pTemplate="summary" let-rowData>
            <button pButton type="button" icon="fa fa-plus" (click)="nuevoTratamiento()" label="Nueva Pcl">
            </button>
        </ng-template>
    </p-table>
</div>



<p-dialog header="Crear PCL" [(visible)]="modalDianostico" [style]="{width: '75vw'}" [baseZIndex]="10000">

    <form [formGroup]="pclForm">
        <div class="ui-g">
            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">PCL</h5>
                </div>
                <div class="ui-g-12 ui-md-6">

                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="diagList" class="select-material" formControlName="diag"
                            styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Diagnosticos</label>

                    </div>
                </div>



                <div class="ui-g-12 ui-md-6">
                    <div class="input-field">
                        <p-dropdown [options]="pclOptionList" formControlName="pcl" class="select-material"
                            styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">PCL</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="porcentajePcl" placeholder="% de la PCL"
                            class="form-material" id="porcentajePcl" />
                        <label for="" class="active">% de la PCL</label>
                    </div>

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" formControlName="emisionPclFecha"
                            dateFormat="dd/mm/yy"></p-calendar>
                        <label for="" class="active">Fecha de emisión de la PCL</label>
                    </div>
                </div>


                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="emitPclentity" formControlName="entidadEmitePcl"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Entidad que emite la PCL</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="entity">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="entity[pclForm.get('entidadEmitePcl').value]"
                            formControlName="entidadEmitida" class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Entidad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" formControlName="fechaCalificacion" [locale]="localeES"
                            dateFormat="dd/mm/yy"></p-calendar>
                        <label for="" class="active">Fecha de calificación origen</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="pclCalificacionList"
                            formControlName="statusDeCalificacion" class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Estado de calificación origen</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="emitPclentity" formControlName="entidadEmiteCalificacion"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Entidad que emite la calificación origen</label>
                    </div>
                </div>

                <div style="height:200px">

                </div>
                <div class="ui-g-12">
                    <button pButton type="button" label="Guardar" icon="fa fa-plus" (click)="onSubmit()">

                    </button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>