<p-growl [value]="msgs"></p-growl>


<div class="card">
    <div class="ui-g">
        <div class="ui-g-12">
            <h5 class="title-header p-mb-2">PCL - Origen</h5>
        </div>
        <div class="ui-g-12">
            <p-table [value]="pclList" dataKey="id" editMode="row" styleClass="material-table" selectionMode="single" [(selection)]="pclSelect">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="tipo">Diagnóstico</th>
                        <th scope="col" pSortableColumn="tipoIntervencion">Pcl</th>
                        <th scope="col" pSortableColumn="fecha">Entidad que emite la PCL</th>
                        <th scope="col" pSortableColumn="fecha">Fecha de emisión de la PCL</th>
                        <th scope="col" pSortableColumn="fecha">Origen</th>
                        <th scope="col" pSortableColumn="fecha">Entidad que emite la calificación origen</th>
                        <th scope="col" pSortableColumn="fecha">Estado de calificación origen</th>
                        <th scope="col" pSortableColumn="fecha">Fecha de calificación origen</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-pcl let-editing="editing" let-ri="rowIndex">

                    <tr [pSelectableRow]="pcl" class="table-row table-row-selectable">

                        <td class="p-text-center">{{ pcl.diagnostic?.label }}</td>
                        <td class="p-text-center">{{ pcl.pcl_o?.label }}</td>
                        <td class="p-text-center">{{ pcl.entidadEmitePcl_o?.label }}</td>
                        <td class="p-text-center">{{ pcl.emisionPclFecha | date: 'dd/MM/yyyy' }}</td>
                        <td class="p-text-center">{{ pcl.origen_o?.label }}</td>
                        <td class="p-text-center">{{ pcl.entidadEmiteCalificacion }}</td>
                        <td class="p-text-center">{{ pcl.statusDeCalificacion_o?.label }}</td>
                        <td class="p-text-center">{{ pcl.fechaCalificacion | date: 'dd/MM/yyyy' }}</td>

                    </tr>

                </ng-template>

                <ng-template pTemplate="summary" let-rowData>
                    <button *sTienePermiso="'SCM_POST_CASEPCL'" pButton type="button" icon="fa fa-plus" label="Crear" (click)="nuevoTratamiento()" [disabled]="pclSelect"></button>
                    <button *sTienePermiso="'SCM_EDIT_CASEPCL'" pButton type="button" icon="fa fa-pencil" label="Modificar" class="ui-button-success" (click)="editPcl()" [disabled]="!pclSelect || action"></button>
                    <button pButton type="button" icon="fa fa-search" label="Consultar" class="ui-button-warning" (click)="showPcl()" [disabled]="!pclSelect || action"></button>
                    <button *sTienePermiso="'SCM_DEL_CASEPCL'" pButton type="button" [icon]="(action) ? 'pi pi-spin pi-spinner' : 'fa fa-trash'" label="Eliminar" class="ui-button-danger" (click)="deletePcl()" [disabled]="!pclSelect || action"></button>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" class="p-text-center" *ngIf="loading">
                            <em class="pi pi-spin pi-spinner" style="font-size: 2rem"></em>
                        </td>
                        <td colspan="8" class="p-text-center" *ngIf="!loading && pclList.length === 0">
                            No hay PCL registradas en este caso médico
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>

    <p-dialog [header]="(!pclSelect) ? 'Crear PCL' : (action) ? 'Información de la PCL' : 'Editar PCL'" [(visible)]="modalDianostico" [style]="{width: '75vw'}" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false">

        <form [formGroup]="pclForm">
            <div class="ui-g">
                <div class="ui-g p-py-2">
                    <div class="ui-g-12">
                        <h5 class="title-header p-mb-2">PCL</h5>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <div class="input-field">
                            <p-dropdown [filter]="true" [options]="diagList" class="select-material" formControlName="diag" styleClass="select-material" required="true" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Diagnósticos</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="input-field">
                            <p-dropdown [options]="pclOptionList" formControlName="pcl" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">PCL</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="input-field">
                            <input type="text" pInputText formControlName="porcentajePcl" placeholder="% de la PCL" class="form-material" id="porcentajePcl" [readonly]="action" />
                            <label for="" class="active">% de la PCL</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <div class="input-field ">
                            <p-calendar [monthNavigator]="true" [touchUI]="true" [yearNavigator]="true" showButtonBar="true" yearRange="2010:2030" [maxDate]="fechaActual" [locale]="localeES" formControlName="emisionPclFecha" dateFormat="dd/mm/yy" styleClass="calendar-material" inputStyleClass="form-material"
                                [disabled]="action">
                            </p-calendar>
                            <label for="" class="active">Fecha de emisión de la PCL</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <div class="input-field">
                            <p-dropdown [filter]="true" [options]="emitPclentity" formControlName="entidadEmitePcl" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Entidad que emite la PCL</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" *ngIf="pclForm.get('entidadEmitePcl').value == 'EPS' || pclForm.get('entidadEmitePcl').value == 'ARL' || pclForm.get('entidadEmitePcl').value == 'AFP'">
                        <div class="input-field">
                            <p-dropdown [filter]="true" [options]="entity[pclForm.get('entidadEmitePcl').value]" formControlName="entidadEmitida" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Entidad</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <div class="input-field">
                            <p-dropdown [options]="origenList" formControlName="origen" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Origen</label>
                        </div>
                    </div>

                    <div class="ui-g-12 p-mb-2">
                        <h5 class="title-header">Origen</h5>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <div class="input-field">
                            <p-calendar [monthNavigator]="true" [touchUI]="true" [yearNavigator]="true" showButtonBar="true" [yearRange]="yearRange" [maxDate]="fechaActual" formControlName="fechaCalificacion" [locale]="localeES" dateFormat="dd/mm/yy" styleClass="calendar-material"
                                inputStyleClass="form-material" [disabled]="action"></p-calendar>
                            <label for="" class="active">Fecha de calificación origen</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <div class="input-field">
                            <p-dropdown [filter]="true" [options]="pclCalificacionList" formControlName="statusDeCalificacion" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Estado de calificación origen</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <div class="input-field">
                            <p-dropdown [filter]="true" [options]="emitPclentity" formControlName="entidadEmiteCalificacion" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Entidad que emite la calificación origen</label>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" *ngIf="pclForm.get('entidadEmiteCalificacion').value == 'EPS' || pclForm.get('entidadEmiteCalificacion').value == 'ARL' || pclForm.get('entidadEmiteCalificacion').value == 'AFP'">
                        <div class="input-field">
                            <p-dropdown [filter]="true" [options]="entity[pclForm.get('entidadEmiteCalificacion').value]" formControlName="entidadEmitidaCalificacion" class="select-material" styleClass="select-material" [readonly]="action">
                            </p-dropdown>
                            <label for="" class="active">Entidad </label>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="input-field">
                            <textarea class="textarea-material" rows="3" pInputTextarea formControlName="observaciones" [readonly]="action"></textarea>
                            <label for="" class="active">Observaciones o diagnósticos calificados</label>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Start footer -->
        <p-footer>
            <button *ngIf="pclSelect && !action" pButton type="button" label="Guardar" [icon]="(loadingForm) ? 'pi pi-spin pi-spinner' : 'fa fa-plus'" [disabled]="loadingForm" (click)="onSubmit(true)"></button>
            <button *ngIf="!pclSelect && !action" pButton type="button" label="Crear" [icon]="(loadingForm) ? 'pi pi-spin pi-spinner' : 'fa fa-plus'" [disabled]="loadingForm" (click)="onSubmit()"></button>
            <button pButton type="button" [label]="(action) ? 'Cerrar' : 'Cancelar'" icon="pi pi-times" class="ui-button-danger" [disabled]="loadingForm" (click)="onCancel()"></button>
        </p-footer>
        <!-- End footer -->
    </p-dialog>

</div>