#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform{
	display: flex;
	div{
		width: 50%;
	}
}

.divleft{
	display: flex;
    justify-content: flex-end;
}