<p-toast></p-toast>
    <p-panel *ngIf="process=='ESPECIFICO'">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-panel-title" style="width: 49%;">
                    <span>ESPECIFICO</span>
                </div>
                <div class="ui-panel-title" style="float: right; width: 49%;">
                    <p class="p-text-center" style="float: right;"
                    >Estado: <b [ngClass]="{
                        'status--danger': estado === 'Vencida' || estado === 'Cerrada fuera de tiempo', 
                        'status--success': estado === 'Abierta' || estado === 'Cerrada en el tiempo',
                        'status--info': estado === 'En seguimiento',
                        'status--warning': estado === 'N/A'}">{{ estado || '...'}}</b></p>
                </div>
            </div>
        </p-header>
        <!-- <p-panel *ngIf="process=='ESPECIFICO'" header="ESPECIFICO" [formGroup]="formEspecifico"> -->
        <div class="p-field">
            <label>Nombre de Acción Correctiva</label>
            <input type="text" [(ngModel)]="planAcciones.especifico.nombreAccionCorrectiva" required onchange="planAcciones.especifico.email=false"/>
            <!-- <input type="text" formControlName="nombreAccionCorrectiva" /> -->
        </div>
        <div class="p-field">
            <label>Acción correctiva</label>
            <input type="text" [(ngModel)]="planAcciones.especifico.accionCorrectiva" required autofocus onchange="habilitar()"/>
        </div>
        <div class="p-field">
            <label>Fecha Vencimiento</label>
            <!-- <p-calendar [defaultDate]="fechaActual" [minDate]="fechaActual" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [touchUI]="true" [(ngModel)]="planAcciones.especifico.fechaVencimiento" required autofocus [locale]="localeES" dateFormat="dd/mm/yy"></p-calendar> -->
            <p-calendar [defaultDate]="fechaActual" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [touchUI]="true" [(ngModel)]="planAcciones.especifico.fechaVencimiento" required autofocus [locale]="localeES" dateFormat="dd/mm/yy"></p-calendar>
        </div>
        <div class="p-field">
            <label>Responsable Empresa</label>
            <s-empleadoBasicSelector [(ngModel)]="planAcciones.especifico.responsableEmpresa" [readOnly]="reporteSelect " required></s-empleadoBasicSelector>
        </div>
        <div class="p-field">
            <label>Responsable Externo</label>
            <input type="text" [(ngModel)]="planAcciones.especifico.responsableExterno" onchange="habilitar()"/>
        </div>
    </p-panel>

    <p-panel *ngIf="process=='RAZONABLE'">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title">RAZONABLE</span>
            </div>
        </p-header>
        <div class="p-field">
            <label>Justificación (Opcional)</label>
            <input type="text" [(ngModel)]="planAcciones.razonable.justificacion" required autofocus/>
        </div>
    </p-panel>

    <p-panel *ngIf="process=='MEDIBLE'">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-panel-title" >
                    <span>MEDIBLE</span>
                </div>
                <div class="ui-panel-title" style="float: right; width: 49%;">
                    <p class="p-text-center" style="float: right;"
                    >Estado: <b [ngClass]="{
                        'status--danger': estado === 'Vencida' || estado === 'Cerrada fuera de tiempo', 
                        'status--success': estado === 'Abierta' || estado === 'Cerrada en el tiempo',
                        'status--info': estado === 'En seguimiento',
                        'status--warning': estado === 'N/A'}">{{ estado || '...'}}</b></p>
                </div>
            </div>
        </p-header>
        <div class="p-field">
            <label>Responsable de Verificar que la acción ha sido compleatada</label>
            <!-- <input type="text" required autofocus/> -->
            <s-empleadoBasicSelector [(ngModel)]="planAcciones.medible.responsableEmpresa" [readOnly]="reporteSelect " required></s-empleadoBasicSelector>
        </div>
        <div class="p-field">
            <label>Responsable Externo</label>
            <input type="text" [(ngModel)]="planAcciones.medible.responsableExterno" onchange="habilitar()"/>
        </div>
        <div class="p-field">
            <label>Fecha Vencimiento</label>
            <p-calendar [defaultDate]="planAcciones.especifico.fechaVencimiento" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [touchUI]="true" [locale]="localeES" [minDate]="planAcciones.especifico.fechaVencimiento" [(ngModel)]="planAcciones.medible.fechaVencimiento" (onInput)="test()" dateFormat="dd/mm/yy" required></p-calendar>
        </div>
        <div class="p-field">
            <label>Plan de Verificación</label>
            <input type="text" [(ngModel)]="planAcciones.medible.planVerificacion" required autofocus onchange="habilitar()"/>
        </div>
    </p-panel>

    <p-panel *ngIf="process=='EFICAZ'">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-panel-title" >
                    <span>EFICAZ</span>
                </div>
                <div class="ui-panel-title" style="float: right; width: 49%;">
                    <p class="p-text-center" style="float: right;"
                    >Estado: <b [ngClass]="{
                        'status--danger': estado === 'Vencida' || estado === 'Cerrada fuera de tiempo', 
                        'status--success': estado === 'Abierta' || estado === 'Cerrada en el tiempo',
                        'status--info': estado === 'En seguimiento',
                        'status--warning': estado === 'N/A'}">{{ estado || '...'}}</b></p>
                </div>
            </div>
        </p-header>
        <div class="p-field">
            <label>Responsable Verificar solución</label>
            <!-- <input type="text" required autofocus/> -->
            <s-empleadoBasicSelector [(ngModel)]="planAcciones.eficaz.responsableEmpresa " [readOnly]="reporteSelect " required></s-empleadoBasicSelector>
        </div>
        <div class="p-field">
            <label>Responsable Externo</label>
            <input type="text" [(ngModel)]="planAcciones.eficaz.responsableExterno" onchange="habilitar()"/>
        </div>
        <div class="p-field">
            <label>Fecha Vencimiento</label>
            <p-calendar [defaultDate]="planAcciones.medible.fechaVencimiento" [yearNavigator]="true" yearRange="1900:2030" [monthNavigator]="true" [touchUI]="true" [locale]="localeES" [minDate]="planAcciones.medible.fechaVencimiento" [(ngModel)]="planAcciones.eficaz.fechaVencimiento" dateFormat="dd/mm/yy" required></p-calendar>
        </div>
        <div class="p-field">
            <label>Plan de Validación</label>
            <input type="text" [(ngModel)]="planAcciones.eficaz.planValidacion" required autofocus onchange="habilitar()"/>
        </div>
    </p-panel>

    <p-panel *ngIf="process=='REVISADO'">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title">REVISADO</span>
            </div>
        </p-header>
        <div class="p-field">
            <label>Revisado</label>
            <div class="field-radiobutton">
                <p-radioButton name="groupname" value="Si" [(ngModel)]="planAcciones.revisado.revisado" ></p-radioButton>
                <label for="groupname1">Si</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton name="groupname" value="No" [(ngModel)]="planAcciones.revisado.revisado" ></p-radioButton>
                <label for="groupname1">No</label>
            </div>
        </div>
    </p-panel>
    <br>
    <br>
    <button pButton *ngIf="process=='ESPECIFICO'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.especifico.accionCorrectiva!=null && planAcciones.especifico.fechaVencimiento!=null && (planAcciones.especifico.responsableEmpresa!=null))"></button>
    <button pButton *ngIf="process=='RAZONABLE'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised"></button>
    <button pButton *ngIf="process=='MEDIBLE'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.medible.planVerificacion!=null && planAcciones.medible.fechaVencimiento!=null && (planAcciones.medible.responsableEmpresa))"></button>
    <button pButton *ngIf="process=='EFICAZ'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.eficaz.planValidacion!=null && planAcciones.eficaz.fechaVencimiento!=null && (planAcciones.eficaz.responsableEmpresa))"></button>
    <button pButton *ngIf="process=='REVISADO'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.revisado.revisado!=null)"></button>
    <!-- <button (click)="cerrar()" pButton type="button" label="x" class="ui-button-raised ui-button-danger" style="position:absolute; top:0; right:0; height: 20px;width: 20px;"></button> -->

<!-- <button (click)="test()">test</button> -->