<p-toast></p-toast>
<p-panel *ngIf="process=='ESPECIFICO'" header="ESPECIFICO">
<!-- <p-panel *ngIf="process=='ESPECIFICO'" header="ESPECIFICO" [formGroup]="formEspecifico"> -->
    <div class="p-field">
        <label>Nombre de Acción Correctiva</label>
        <input type="text" [(ngModel)]="planAcciones.especifico.nombreAccionCorrectiva" />
        <!-- <input type="text" formControlName="nombreAccionCorrectiva" /> -->
    </div>
    <div class="p-field">
        <label>Acción correctiva</label>
        <input type="text" [(ngModel)]="planAcciones.especifico.accionCorrectiva" required autofocus/>
    </div>
    <div class="p-field">
        <label>Fecha Vencimiento</label>
        <p-calendar [touchUI]="true" [(ngModel)]="planAcciones.especifico.fechaVencimiento" required autofocus [locale]="localeES" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="p-field">
        <label>Responsable Empresa</label>
        <s-empleadoSelector [(ngModel)]="planAcciones.especifico.responsableEmpresa" [readOnly]="reporteSelect "></s-empleadoSelector>
    </div>
    <div class="p-field">
        <label>Responsable Externo</label>
        <input type="text" [(ngModel)]="planAcciones.especifico.responsableExterno" />
    </div>
    </p-panel>

    <p-panel *ngIf="process=='RAZONABLE'" header="RAZONABLE">
    <div class="p-field">
        <label>Justificación (Opcional)</label>
        <input type="text" [(ngModel)]="planAcciones.razonable.justificacion" required autofocus/>
    </div>
    </p-panel>

    <p-panel *ngIf="process=='MEDIBLE'" header="MEDIBLE">
    <div class="p-field">
        <label>Responsable de Verificar que la acción ha sido compleatada</label>
        <!-- <input type="text" required autofocus/> -->
        <s-empleadoSelector [(ngModel)]="planAcciones.medible.responsableEmpresa" [readOnly]="reporteSelect "></s-empleadoSelector>
    </div>
    <div class="p-field">
        <label>Responsable Externo</label>
        <input type="text" [(ngModel)]="planAcciones.medible.responsableExterno" />
    </div>
    <div class="p-field">
        <label>Fecha Vencimiento</label>
        <p-calendar [touchUI]="true" [locale]="localeES" [minDate]="planAcciones.especifico.fechaVencimiento" [(ngModel)]="planAcciones.medible.fechaVencimiento" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="p-field">
        <label>Plan de Verificación</label>
        <input type="text" [(ngModel)]="planAcciones.medible.planVerificacion" required autofocus/>
    </div>
    </p-panel>

    <p-panel *ngIf="process=='EFICAZ'" header="EFICAZ">    
    <div class="p-field">
        <label>Responsable Verificar solución</label>
        <!-- <input type="text" required autofocus/> -->
        <s-empleadoSelector [(ngModel)]="planAcciones.eficaz.responsableEmpresa " [readOnly]="reporteSelect "></s-empleadoSelector>
    </div>
    <div class="p-field">
        <label>Responsable Externo</label>
        <input type="text" [(ngModel)]="planAcciones.eficaz.responsableExterno"/>
    </div>
    <div class="p-field">
        <label>Fecha Vencimiento</label>
        <p-calendar [touchUI]="true" [locale]="localeES" [minDate]="planAcciones.medible.fechaVencimiento" [(ngModel)]="planAcciones.eficaz.fechaVencimiento" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="p-field">
        <label>Plan de Validación</label>
        <input type="text" [(ngModel)]="planAcciones.eficaz.planValidacion" required autofocus/>
    </div>
    </p-panel>

    <p-panel *ngIf="process=='REVISADO'" header="REVISADO">    
    <div class="p-field">
        <label>Revisado</label>
        <div class="field-radiobutton">
            <p-radioButton name="groupname" value="Si" [(ngModel)]="planAcciones.revisado.revisado" ></p-radioButton>
            <label for="groupname1">Si</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="groupname" value="No" [(ngModel)]="planAcciones.revisado.revisado" ></p-radioButton>
            <label for="groupname1">No</label>
        </div>
        
    </div>
    </p-panel>
    <br>
    <br>
    <button pButton *ngIf="process=='ESPECIFICO'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.especifico.accionCorrectiva!=null && planAcciones.especifico.fechaVencimiento!=null && (planAcciones.especifico.responsableEmpresa!=null || planAcciones.especifico.responsableExterno!=null))"></button>
    <button pButton *ngIf="process=='RAZONABLE'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised"></button>
    <button pButton *ngIf="process=='MEDIBLE'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.medible.planVerificacion!=null && planAcciones.medible.fechaVencimiento!=null && (planAcciones.medible.responsableEmpresa || planAcciones.medible.responsableExterno))"></button>
    <button pButton *ngIf="process=='EFICAZ'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.eficaz.planValidacion!=null && planAcciones.eficaz.fechaVencimiento!=null && (planAcciones.eficaz.responsableEmpresa || planAcciones.eficaz.responsableExterno))"></button>
    <button pButton *ngIf="process=='REVISADO'" type="button" (click)="submit()" label="confirmar" class="ui-button-raised" [disabled]="!(planAcciones.revisado.revisado!=null)"></button>

<button (click)="test2()">test</button>