<p-growl [value]="msgs"></p-growl>

<s-dataNotFound *ngIf="!tareasList || tareasList.length <= 0" icon="fa-tasks"
    message="No se cuenta con registros de tareas generadas">
    <div *sTienePermiso="'SEC_GET_ANADESV'">
        Genera nuevas tareas a partir de un análisis de desviación
        <a (click)="navegar()">aqui</a>
    </div>
</s-dataNotFound>


<p-panel header="Listado de tareas" styleClass="material-panel"
    [style.display]="tareasList && tareasList.length > 0 ? 'block':'none'">

    <div class="ui-g">
        <div class="ui-g-12 p-mb-3">

            <p-table #dt styleClass="material-table" autoLayout="true" selectionMode="single"
                [(selection)]="tareaSelect" selectionMode="single" [value]="tareasList" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="modulo"> Módulo
                            <p-sortIcon field="modulo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fechaReporte">Fecha
                            <p-sortIcon field="fechaReporte"></p-sortIcon>
                        </th>
                        <th pSortableColumn="regional"> Regional
                            <p-sortIcon field="regional"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sede"> Sede
                            <p-sortIcon field="sede"></p-sortIcon>
                        </th>
                        <th pSortableColumn="codigo"> Código
                            <p-sortIcon field="codigo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="descripcion" style="width: 10%">Descripción
                            <p-sortIcon field="descripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="responsable"> Responsable
                            <p-sortIcon field="responsable.primerNombre"></p-sortIcon>
                        </th>

                        <th pSortableColumn="fechaProyectada"> Fecha proyectada de cierre
                            <p-sortIcon field="fechaProyectada"></p-sortIcon>
                        </th>

                        <th pSortableColumn="estado">Estado
                            <p-sortIcon field="estado"></p-sortIcon>
                        </th>

                    </tr>
                    <tr class="filters">
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'modulo', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'fechaReporte', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'regional', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'sede', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'codigo', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'descripcion', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'responsable', 'contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'fechaProyectada','contains')">
                            </div>
                        </td>
                        <td>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <em class="pi pi-search"></em>
                                </span>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'estado', 'contains')">
                            </div>
                        </td>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tarea>
                    <tr [pSelectableRow]="tarea">

                        <td class="p-text-center">{{tarea.modulo}}</td>
                        <td class="p-text-center">{{tarea.fechaProyectada | date:'dd-MM-yyyy'}}</td>
                        <td>{{tarea.areaResponsable?.nombre}}</td>
                        <td>{{tarea.areaResponsable?.nombre}}</td>
                        <td>{{tarea.codigo}}</td>
                        <td>{{tarea.nombre}}</td>
                        <td>{{tarea?.empResponsable?.primerNombre}}</td>
                        <td class="p-text-center">{{tarea.fechaProyectada | date:'dd-MM-yyyy'}}</td>
                        <td class="p-text-center status" [ngClass]="{
                            'status--danger': tarea.estado === 'Vencida' || tarea.estado === 'Cerrada fuera de tiempo', 
                            'status--success': tarea.estado === 'Abierta' || tarea.estado === 'Cerrada en el tiempo',
                            'status--info': tarea.estado === 'En seguimiento',
                            'status--warning': tarea.estado === 'N/A'
                        }">{{tarea.estado}}</td>


                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9" class="p-text-center">No hay registro de tareas asignadas o con los términos de
                            filtro usados</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <button pButton type="button" icon="fa fa-search" label="Consultar" (click)="onClick()"
                        routerLinkActive="router-link-active" class="ui-button-primary"
                        [disabled]="!tareaSelect"></button>
                </ng-template>
            </p-table>
        </div>
    </div>


</p-panel>


<p-overlayPanel #opCump appendTo="body">
    <div *ngIf="tareaSelect">
        <h4>{{tareaSelect.nombre}}</h4>
        <textarea rows="8" maxlength="512" pInputTextarea [(ngModel)]="tareaSelect.observacionesRealizacion"
            placeholder="Observaciones de cumplimiento"></textarea>
        <br />
        <br />
        <button pButton type="button" (click)="reportarCumplimiento()" label="Reportar cumplimiento de tarea"></button>
    </div>
</p-overlayPanel>


<p-overlayPanel #opVerf appendTo="body">
    <div *ngIf="tareaSelect">
        <h4>{{tareaSelect.nombre}}</h4>
        <textarea rows="8" maxlength="512" pInputTextarea [(ngModel)]="tareaSelect.observacionesVerificacion"
            placeholder="Observaciones de verificación"></textarea>
        <br />
        <br />
        <button pButton type="button" (click)="reportarVerificacion()" label="Reportar verificación de tarea"></button>
    </div>
</p-overlayPanel>