:host ::ng-deep {

    /* Panel material design */
    .material-panel {
        &.ui-panel {
            border-radius: .75rem;
            background-color: #ffffff;
        }

        .ui-panel-titlebar {
            font-size: 1.25rem;
            margin-block-start: 0;
            margin-block-end: 0;
            position: relative;
            background-color: transparent;
            border: none;

            &:before {
                content: "";
                position: absolute;
                bottom: 4px;
                height: 2px;
                width: 2rem;
                background-color: #007ad9;
            }
        }

        .ui-panel-content {
            border: none;
            background-color: transparent;
            padding: 1rem .75rem;
        }
    }

    .table-material {
        .ui-table {
            .ui-table-wrapper {
                &::-webkit-scrollbar {
                    background-color: #fff;
                    height: 6px;
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background-color: #fff;
                }

                &::-webkit-scrollbar-track:hover {
                    background-color: #f4f4f4;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #3ba2dc;
                    border-radius: 16px;
                    border: 1px solid #fff;
                }

                &::-webkit-scrollbar-button {
                    display: none;
                }
            }

            .ui-table-thead {

                tr,
                th {
                    border: none;
                    color: rgba(0, 0, 0, 0.6);
                    background-color: transparent;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    padding: 0.571em 0.157em;
                    font-weight: 700 !important;
                }

                td {
                    font-weight: 500;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-top: 1px solid transparent;
                }

                .ui-inputtext {
                    border: none !important;
                }
            }

            .ui-paginator {
                margin: 1rem 0;
                border: 1px solid transparent;
                background-color: transparent;
            }

            .ui-table-summary {
                border: 1px solid transparent;
                background-color: transparent;
            }
        }
    }
}