/* Buttons */

.ui-button {
    &.ui-table-btn {
        width: 2rem !important;
        min-width: unset;
    }
    &.ui-state-default {
        &.ui-button-warning {
            color: #fff !important;
        }
    }
}