<p-growl [value]="msgs"></p-growl>


<form [formGroup]="diagnosticoForm">
    <div class="ui-g">
        <div class="ui-g p-py-2">
            <div class="ui-g-12">
                <h5 class="title-header p-mb-2">Diagnóstico</h5>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="input-field">
                    <label class="active">Código CIE 10</label>
                    <s-cieSelector id="ccide-input" formControlName="codigoCie10" (dateChange)="test($event)">
                    </s-cieSelector>
                    <small *ngIf="codigo.errors?.required && codigo.touched" id="username2-help"
                        class="p-invalid">Obligatorio</small>
                </div>
            </div>



            <div class="ui-g-12 ui-md-6">
                <div class="input-field">
                    <input pInputText type="text" [value]="cieTipo">

                    <label for="" class="active">Sistema Afectado</label>
                    <small *ngIf="sistemaAfec.errors?.required && sistemaAfec.touched" id="username2-help"
                        class="p-invalid">Obligatorio</small>
                </div>
            </div>

            <div class="ui-g-12 ui-md-4 ui-lg-4">
                <div class="input-field">
                    <p-calendar [monthNavigator]="true" [touchUI]="true" [yearNavigator]="true" [yearRange]="yearRange"
                        formControlName="fechaDiagnostico" [locale]="localeES" dateFormat="dd/mm/yy"
                        inputStyleClass="form-material">
                    </p-calendar>
                    <label for="" class="active">Fecha Diagnóstico</label>
                </div>
                <small *ngIf="fechaDiagnostico.errors?.required && fechaDiagnostico.touched" id="username2-help"
                    class="p-invalid">Obligatorio</small>
            </div>

            <div class="ui-g-12">
                <div class="input-field">
                    <textarea class="textarea-material" pInputTextarea formControlName="diagnostico"></textarea>
                    <label for="" class="active">Diagnóstico</label>
                    <small *ngIf="diagnostico.errors?.required && diagnostico.touched" id="username2-help"
                        class="p-invalid">Obligatorio</small>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="input-field">
                    <textarea class="textarea-material" pInputTextarea formControlName="detalle"></textarea>
                    <label for="" class="active">Detalle de Diagnóstico</label>
                    <small *ngIf="detalle.errors?.required && detalle.touched" id="username2-help"
                        class="p-invalid">Obligatorio</small>
                </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="input-field">
                    <p-dropdown [options]="origenList" formControlName="origen" class="select-material"
                        styleClass="select-material">
                    </p-dropdown>
                    <label for="" class="active">Origen</label>
                    <small *ngIf="origen.errors?.required && origen.touched" id="username2-help"
                        class="p-invalid">Obligatorio</small>
                </div>
            </div>

            <div style="height:200px">

            </div>
            <div class="ui-g-12">
                <button *sTienePermiso="'SCM_CREATE_CASE_DIAG'" pButton type="button" label="Guardar" icon="fa fa-plus"
                    (click)="onSubmit()">

                </button>
            </div>
        </div>
    </div>
</form>