<p-growl [value]="msgs"></p-growl>


<form [formGroup]="diagnosticoForm">
    <div class="ui-g">
        <div class="ui-g-12">
            <h5 class="title-header p-mb-2">Diagnóstico</h5>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3">
            <div class="input-field">
                <label class="active">Código CIE 10</label>
                <s-cieSelector id="ccide-input" formControlName="codigoCie10" (dateChange)="test($event)">
                </s-cieSelector>
            </div>
            <small *ngIf="codigo.errors?.required && codigo.touched" id="username2-help" class="p-invalid">Obligatorio</small>
        </div>

        <div class="ui-g-12 ui-md-4 ui-lg-3">
            <div class="input-field">
                <p-dropdown [options]="origenList" formControlName="origen" class="select-material" styleClass="select-material">
                </p-dropdown>
                <label for="" class="active">Origen</label>
            </div>
            <small *ngIf="origen.errors?.required && origen.touched" id="username2-help" class="p-invalid">Obligatorio</small>
        </div>

        <div class="ui-g-12 ui-md-4 ui-lg-3">
            <div class="input-field">
                <input pInputText type="text" [value]="cieTipo">

                <label for="" class="active">Sistema Afectado</label>
            </div>
            <small *ngIf="sistemaAfec.errors?.required && sistemaAfec.touched" id="username2-help" class="p-invalid">Obligatorio</small>
        </div>

        <div class="ui-g-12 ui-md-4 ui-lg-3">
            <div class="input-field">
                <p-calendar [monthNavigator]="true" [touchUI]="true" [yearNavigator]="true" [yearRange]="yearRange" formControlName="fechaDiagnostico" [locale]="localeES" dateFormat="dd/mm/yy" inputStyleClass="form-material">
                </p-calendar>
                <label for="" class="active">Fecha Diagnóstico</label>
            </div>
            <small *ngIf="fechaDiagnostico.errors?.required && fechaDiagnostico.touched" id="username2-help" class="p-invalid">Obligatorio</small>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="input-field">
                <textarea rows="3" class="textarea-material" pInputTextarea formControlName="diagnostico"></textarea>
                <label for="" class="active">Diagnóstico</label>
            </div>
            <small *ngIf="diagnostico.errors?.required && diagnostico.touched" id="username2-help" class="p-invalid">Obligatorio</small>
        </div>
        <div class="ui-g-12 ui-lg-6">
            <div class="input-field">
                <textarea rows="3" class="textarea-material" pInputTextarea formControlName="detalle"></textarea>
                <label for="" class="active">Detalles del diagnóstico</label>
            </div>
            <small *ngIf="detalle.errors?.required && detalle.touched" id="username2-help" class="p-invalid">Obligatorio</small>
        </div>

        <div class="ui-g-12 p-d-flex p-jc-center p-py-2">
            <button *sTienePermiso="'SCM_CREATE_CASE_DIAG'" pButton type="button" [label]="(diagSelect) ? 'Guardar' : 'Crear'" icon="fa fa-plus" style="margin-right: .5rem;" (click)="onSubmit()"></button>
            <button pButton type="button" [label]="(diagSelect) ? 'Cancelar' : 'Cerrar'" icon="pi pi-times" class="ui-button-danger" (click)="close()"></button>
        </div>
    </div>
</form>