<p-growl [value]="msgs"></p-growl>


<form [formGroup]="diagnosticoForm">
    <div class="ui-g">
        <div class="ui-g p-py-2">
            <div class="ui-g-12">
                <h5 class="title-header p-mb-2">Diagnostico</h5>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="input-field">
                    <label class="active">Código CIE</label>
                    <s-cieSelector id="ccide-input" formControlName="codigoCie10" (dateChange)="test($event)">
                    </s-cieSelector>
                    <small *ngIf="codigo.errors?.required && codigo.touched" id="username2-help"
                        class="p-invalid">Requerido</small>
                </div>
            </div>



            <div class="ui-g-12 ui-md-4">
                <div class="input-field">
                    <p-dropdown [options]="sistemaAfectado" formControlName="sistemaAfectado" class="select-material"
                        styleClass="select-material">
                    </p-dropdown>
                    <label for="" class="active">Sistema Afectado</label>
                    <small *ngIf="sistemaAfec.errors?.required && sistemaAfec.touched" id="username2-help"
                        class="p-invalid">Requerido</small>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="input-field">
                    <textarea class="textarea-material" pInputTextarea formControlName="diagnostico"></textarea>
                    <label for="" class="active">Diagnóstico</label>
                    <small *ngIf="diagnostico.errors?.required && diagnostico.touched" id="username2-help"
                        class="p-invalid">Requerido</small>
                </div>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="input-field">
                    <input type="text" pInputText formControlName="origen" placeholder="Origen" class="form-material"
                        id="" />
                    <label for="" class="active">Origen</label>
                    <small *ngIf="origen.errors?.required && origen.touched" id="username2-help"
                        class="p-invalid">Requerido</small>
                </div>
            </div>
            <div class="ui-g-12">
                <button *sTienePermiso="'ADM_POST_USR'" pButton type="button" label="Guardar" icon="fa fa-plus"
                    (click)="onSubmit()">

                </button>
            </div>
        </div>
    </div>
</form>