<s-dataNotFound *ngIf="!responsableList || responsableList.length <= 0" icon="fa-handshake-o" message="No se encontraron registros del equipo de Salud Seguridad Trabajo">
    <button pButton type="button" (click)="crearMiembros()" icon="fa fa-plus" label="Crear"></button>
</s-dataNotFound>

<s-dataNotFound *ngIf="!equipoList || equipoList.length <= 0" icon="fa-handshake-o" message="No se encontraron registros del equipo de Salud Seguridad Trabajo">
    <button pButton type="button" (click)="crearMiembros()" icon="fa fa-plus" label="Crear"></button>
</s-dataNotFound>

<p-panel header="Responsable SST" [style.display]="responsableList && responsableList.length > 0 ? 'block':'none'">
    <p-tabView>
        <p-table [value]="equipoList" responsiveLayout="scroll" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)" [(selection)]="selectedList">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Licencia SST
                    </th>           
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>
                        {{rowData.nombre}}
                    </td>
                    <td>
                        {{rowData.correo}}
                    </td>
                    <td>
                        {{rowData.telefono}}
                    </td>
                    <td>
                        {{rowData.licenciaSST}}
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="onEdit(rowData)" title="Editar"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded ui-button-danger" (click)="onEdit(rowData)" title="Eliminar"></button>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary" let-rowData>
                <button pButton type="button" icon="fa fa-plus" (click)="crearMiembros()" label="Crear"></button>    
            </ng-template> -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="p-text-center">No hay registro con los términos de filtro usados
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabView>
</p-panel>

<p-panel header="Lista de Aliados" [style.display]="equipoList && equipoList.length > 0 ? 'block':'none'">
    <p-tabView>
        <p-table [value]="equipoList" responsiveLayout="scroll" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)" [(selection)]="selectedList">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Licencia SST
                    </th>           
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>
                        {{rowData.nombre}}
                    </td>
                    <td>
                        {{rowData.correo}}
                    </td>
                    <td>
                        {{rowData.telefono}}
                    </td>
                    <td>
                        {{rowData.licenciaSST}}
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="onEdit(rowData)" title="Editar"></button>
                        <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded ui-button-warning" (click)="onEdit(rowData)" title="Enviar correo"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <button pButton type="button" icon="fa fa-plus" (click)="crearMiembros()" label="Crear"></button>    
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="p-text-center">No hay registro con los términos de filtro usados
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabView>
</p-panel>

<p-dialog header="Responsable SST" [(visible)]="visibleDlg" [style]="{width: '50vw'}">
  <app-equipo-sst (closeDialog)="closeDialog()" (createMiembroSST)="agregarMiembroSST($event)"></app-equipo-sst>
</p-dialog>

<p-dialog header="Miembro SST" [(visible)]="visibleDlg" [style]="{width: '50vw'}">
    <app-equipo-sst (closeDialog)="closeDialog()" (createMiembroSST)="agregarMiembroSST($event)"></app-equipo-sst>
</p-dialog>
