<p-panel header="Información General">
    <div style="width:350px;margin-bottom:10px">
          
    </div>
    <div class="cols">
        <div class="input-field">
            <input required [disabled]="onEdit == 'edit'" type="text" [(ngModel)]="repLegal" class="form-material" (input)="onRepLegal()">
            <label for="" class="active">Nombre del Representante Legal</label>            
        </div>
        <div class="input-field">
            <input required [disabled]="onEdit == 'edit'" type="number" [(ngModel)]="numTrabajadores" class="form-material" (input)="onNumTrabajadores()">
            <label for="" class="active">Numero de trabajadores totales</label>            
        </div>
        <div class="input-field">
            <input required [disabled]="onEdit == 'edit'" type="number" [(ngModel)]="numTrabajadoresAsig" class="form-material" (input)="onNumTrabajadoresAsig()">
            <label for="" class="active">Numero de trabajadores en Corona</label>            
        </div>
        <div class="input-field">
            <input required [disabled]="onEdit == 'edit'" type="email" [(ngModel)]="emailComercial" class="form-material" (input)="onEmailComercial()">
            <label for="" class="active">Email de comunicaciones</label>
        </div>
        <div class="input-field">
            <input required [disabled]="onEdit == 'edit'" type="text" [(ngModel)]="telefonoContacto" class="form-material" (input)="onTelefonoContacto()">
            <label for="" class="active">Teléfono de contacto</label>
        </div>
        <div class="input-field">
            <p-dropdown required [disabled]="onEdit == 'edit'" [options]="arlList" [(ngModel)]="selectedArl" (onClick)="onSelectArl()" optionLabel="name" placeholder="--seleccione arl--"></p-dropdown>
            <label for="" class="active">Seleccione su ARL</label>
        </div>
    </div>
    <br>
    <!-- <div class="cols">
        <div class="input-field">
            <div class="ui-g-12">
                <label for="subctr" class="active" style="margin-bottom:10px;background-color:transparent;">La empresa cuenta con autorización para subcontratación: </label>
                <p-radioButton [disabled]="onEdit != 'edit'" (onClick)="onAutorizaSubcontratacion()" [style]="{'padding':'3px'}" name="subctr" value="Si" label="Si" [(ngModel)]="autorizaSubcontratacion" required></p-radioButton>
                <p-radioButton [disabled]="onEdit != 'edit'" (onClick)="onAutorizaSubcontratacion()" [style]="{'padding':'3px'}" name="subctr" value="No" label="No" [(ngModel)]="autorizaSubcontratacion" required></p-radioButton>
            </div>
        </div>
    </div> -->
</p-panel >
