<p-tabView styleClass="custom-panel">

    <p-tabPanel header="Información General">
        <div class="ui-g">


            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Modulo" class="form-material" id="modulo" [attr.disabled]="true" [value]="tarea.module" />
                    <label for="" class="active">Modulo</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Fecha reporte" class="form-material" [value]="tarea.fecha_reporte" [attr.disabled]="true" />
                    <label for="" class="active">Fecha de realización del reporte</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Regional" class="form-material" [value]="tarea.regional" />
                    <label for="" class="active">Regional</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Area" class="form-material" [value]="tarea.area" />
                    <label for="" class="active">Sede</label>
                </div>
            </div>


            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Fecha reporte" class="form-material" [value]="tarea.hash_id" [attr.disabled]="true" />
                    <label for="" class="active">Código de la desviación</label>

                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">

                    <textarea pInputTextarea [(ngModel)]="tarea.concepto" rows="2" required></textarea>

                    <label for="" class="active">Concepto</label>
                </div>
            </div>



            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <textarea pInputTextarea [(ngModel)]="tarea.aspecto_causante" rows="5" required></textarea>

                    <label for="" class="active">Descripción de la desviación</label>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="email" pInputText placeholder="Correo corporativo" class="form-material" [value]="tarea.nombre" />
                    <label for="" class="active">Nombre de la actividad</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Descripción de la actividad" class="form-material" [value]="tarea.descripcion" />
                    <label for="" class="active">Descripción de la actividad</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Tipo de Accion" class="form-material" [value]="tarea.tipo_accion" />
                    <label for="" class="active">Tipo de Accion</label>
                </div>
            </div>


            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Jerarquia de control" class="form-material" [value]="tarea.jerarquia" />
                    <label for="" class="active">Jerarquia de control</label>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Responsable" class="form-material" [value]="tarea.primer_nombre" />
                    <label for="" class="active">Responsable</label>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <input type="text" pInputText placeholder="Correo Electronico" class="form-material" [value]="tarea.email" />
                    <label for="" class="active">Correo Electronico</label>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="input-field">
                    <p-calendar [attr.disabled]="true" [monthNavigator]="true" [yearNavigator]="true" [touchUI]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" [(ngModel)]="tarea.fecha_proyectada"></p-calendar>
                    <label for="" class="active">Fecha Proyectada de cierre</label>
                </div>
            </div>

        </div>


    </p-tabPanel>

    <p-tabPanel header="Gestion">
        <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
            <div class="ui-g">

                <!-- Start general info -->

                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">General</h5>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input pInputText formControlName="usuarioSeguimiento" styleClass="form-material">
                        <label for="" class="active">Usuario que realiza el seguimiento</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.usuarioSeguimiento.hasError('required')" class="error-msg ">
                        <span>Debe buscar un usuario válido.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText placeholder="Apellidos y nombres" class="form-material" id="nameAndLastName" [attr.disabled]="true" />
                        <label for="" class="active">Apellidos y nombres</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input pInputText formControlName="usuarioGestion" styleClass="form-material">
                        <label for="" class="active">Usuario que gestiona</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.usuarioGestion.hasError('required')" class="error-msg ">
                        <span>Debe buscar un usuario válido.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-3">
                    <div class="input-field">
                        <p-dropdown [options]="estadoList" formControlName="estado" class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Estado</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.estado.hasError('required')" class="error-msg mt-4 ">
                        <span>Debe buscar un usuario válido.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-3">
                    <div class="input-field">
                        <p-calendar formControlName="fechaSeguimiento" [attr.disabled]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"></p-calendar>
                        <label for="" class="active">Fecha seguimiento</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.fechaSeguimiento.hasError('required')" class="error-msg ">
                        <span>Debe seleccionar una fecha de seguimiento.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-3">
                    <div class="input-field">
                        <p-calendar formControlName="fechaProyectadaCierre" [attr.disabled]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"></p-calendar>
                        <label for="" class="active">Fecha Proyectada de cierre</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.fechaProyectadaCierre.hasError('required')" class="error-msg ">
                        <span>Debe seleccionar una fecha factible de cierre.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-3">
                    <div class="input-field">
                        <p-calendar formControlName="fechaCierre" [attr.disabled]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"></p-calendar>
                        <label for="" class="active">Fecha de cierre</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.fechaCierre.hasError('required')" class="error-msg ">
                        <span>Debe seleccionar una fecha de cierre.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <textarea pInputTextarea formControlName="descripcion" placeholder="Descripción de la acción realizada" class="form-material" rows="3" required></textarea>
                        <label for="" class="active">Descripción de la acción realizada</label>
                    </div>

                    <!-- Start validations -->
                    <div *ngIf="submitted && f.descripcion.hasError('required')" class="error-msg ">
                        <span>Debe describir la acción realizada.</span>
                    </div>
                    <!-- End validations -->

                </div>

                <!-- End general info -->

                <!-- Start evidences -->

                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Evidencias</h5>
                </div>

                <div class="uploaders">
                    <app-file-uploader *ngFor="let item of [0,1,2]; let i = index" [index]="i" (loadedImage)="addImage($event)"></app-file-uploader>
                </div>

                <!-- End evidences -->

                <!-- Start send button -->
                <button pButton *ngIf="cargando == false" type="submit" icon="fa fa-floppy-o" class="float-btn" style="bottom: 100px;" title="Guardar tarea"></button>
                <p-progressSpinner *ngIf="cargando == true" class="float-btn" strokeWidth="8" [style]="{width: '35px', height: '35px'}"></p-progressSpinner>
                <!-- End send button -->

            </div>

        </form>
    </p-tabPanel>
</p-tabView>