
#reportContainer {
    width: 22cm;
    margin:auto;
}


.visor-menu{
  width: 100%;
}

.visor-menu button{  
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  color: white;
  width: 1.5em;
  padding: 0px;
}
