<p-tabView>
    <p-tabPanel header="Datos básicos">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p-panel header="PERSONAL">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2">
                        Primer nombre
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="primerNombre" required />
                    </div>
                    
                    <div class="ui-g-12 ui-md-2">
                        <label>Segundo Nombre</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="segundoNombre" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Primer Apellido
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="primerApellido" required />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Segundo Apellido
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="segundoApellido" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Tipo identificación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="tipoIdentificacionList" formControlName="tipoIdentificacion" required>
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Número identificación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="numeroIdentificacion" required />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Departamento y Ciudad
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <s-ciudadSelector formControlName="ciudad"></s-ciudadSelector>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Zona residencia
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-radioButton name="zonaResidencia" value="U" label="Urbana " formControlName="zonaResidencia">
                        </p-radioButton>
                        <p-radioButton name="zonaResidencia" value="R" label="Rural" formControlName="zonaResidencia">
                        </p-radioButton>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Dirección residencia
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="direccion" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Teléfono movil personal
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="telefono1" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Teléfono fijo personal
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="telefono2" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Género
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-radioButton name="genero" value="M" label="Masculino " formControlName="genero">
                        </p-radioButton>
                        <p-radioButton name="genero" value="F" label="Femenino" formControlName="genero">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Fecha de nacimiento
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaNacimiento"></p-calendar>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Correo personal
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="correoPersonal" placeholder="Email personal" />
                    </div>
                </div>
            </p-panel>
            <br/>
            <div class="ui-g">
            <p-panel  class="ui-g-4" header="FIRMA EMPLEADO">
                <p-messages [(value)]="msgs"></p-messages>
                <button pButton type="button" (click)="fileInput.click()" icon="fa fa-plus" label="Adjuntar imágen" ></button>                
                <s-galeria *ngIf="imagenesList?.length > 0" [images]="imagenesList" ></s-galeria>
                <input name="myFile" type="file" style="visibility: hidden;" #fileInput (change)="onArchivoSelect($event)">    
               
               
                <div class="uploaders" *ngIf="listaEvidence.length >= 0 ">
                   
                    <img *ngIf="avatar" [src]="imagenesPath"  />
                </div>
               
            </p-panel>
        </div> 
            <br>
            <p-panel header="EMERGENCIA">
                <div class="ui-g">                    
                    
                    <div class="ui-g-12 ui-md-2">
                        Contacto de emergencia
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="emergencyContact"
                            placeholder="Contacto de emergencia" />
                    </div>


                    <div class="ui-g-12 ui-md-2">
                        Numero de emergencia
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="phoneEmergencyContact"
                            placeholder="Numero de emergencia" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Email de emergencia
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="emailEmergencyContact"
                            placeholder="Email de emergencia" />
                    </div>                 


                </div>
            </p-panel>
            <br />
            <p-panel header="LABORAL">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2">
                        Correo electrónico
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="email" required />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Perfiles
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-multiSelect [options]="perfilList" formControlName="perfilesId" defaultLabel="--Perfiles--"
                            required></p-multiSelect>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="codigo" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        AFP
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="afpList" formControlName="afp"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        EPS
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="epsList" formControlName="eps"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Fecha de ingreso
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaIngreso" required></p-calendar>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Tipo vinculación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="tipoVinculacionList" formControlName="tipoVinculacion"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Ubicación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <area-selector formControlName="area"
                            [name]="this.empleadoSelect ? this.empleadoSelect.area.nombre:''" required></area-selector>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Cargo
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" required>
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    Telefono Laboral
                    </div>
                    <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText formControlName="corporativePhone" />
                    </div>                  
                    <div class="ui-g-12 ui-md-2">
                        Regional
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="regional" placeholder="Regional" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Direccion gerencia
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="direccionGerencia"
                            placeholder="Direccion Gerencia" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="ciudadGerencia" placeholder="Ciudad" />
                    </div>
                </div>
            </p-panel>
            <div style="text-align: center; width: 100%;" *ngIf="isUpdate || editable">
                <button pButton *ngIf="solicitando == false" type="submit" icon="fa fa-floppy-o"
                    [disabled]="!form.valid" class="float-btn" style="bottom: 100px;"
                    title="Guardar datos de empleado"></button>

                <p-progressSpinner *ngIf="solicitando == true" class="float-btn" strokeWidth="8"
                    [style]="{width: '35px', height: '35px'}"></p-progressSpinner>
            </div>
        </form>

    </p-tabPanel>

    <p-tabPanel header="Jornada" *ngIf="empleadoSelect">
        <s-jornadaForm [value]="empleadoSelect" *ngIf="loaded"></s-jornadaForm>
    </p-tabPanel>
    <p-tabPanel header="Horas extra" *ngIf="empleadoSelect">
        <s-horasExtraForm [value]="empleadoSelect" *ngIf="loaded"></s-horasExtraForm>
    </p-tabPanel>
    <p-tabPanel header="Documentación" *ngIf="empleadoSelect">
        <s-documentosEmpleadoForm *ngIf="loaded" [value]="empleadoSelect"></s-documentosEmpleadoForm>
    </p-tabPanel>

    <p-tabPanel header="Empresa" *ngIf="empresaId=='3'">
        
        <p-panel header="Datos de la empresa">


            <div class="ui-g" [formGroup]="empresaForm" >
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">

                        <p-dropdown [options]="empresaList2" optionLabel="label" formControlName="empresa" [(ngModel)]="empresaSelect2"
                            class="select-material" styleClass="select-material" >
                        </p-dropdown>

                        <label for="" class="active">Nombre Comercial</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                    <input type="text" pInputText optionLabel="nit" formControlName="nit" [value]="empresaSelect2?.nit"  readonly=true/>
                    <label for="" class="active">Nit</label>
                    </div>
                </div>
            </div>
        </p-panel>
        <br>
        <p-panel header="Jefe inmediato">
            <div class="ui-g" [formGroup]="jefeInmediatoForm">


                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite"
                            [style]="{'width':'100%'}" (onSelect)="onSelectionJefeInmediato($event)"
                            [suggestions]="empleadosList" (completeMethod)="buscarEmpleado($event)"
                            formControlName="numeroIdentificacion" *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle"
                                            style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon"
                                            style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <br />{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>

                        <label class="active" for="" >Número de identificación</label>
                    </div>
                    <small *ngIf="3>4" id="username2-help" class="p-invalid">Obligatorio</small>
               
                
                    </div>
           
                

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                    <input type="text" pInputText formControlName="primerNombre" required />
                    <label for="" class="active">Primer nombre</label>
                    </div>
                </div>

               

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerApellido" required />
                        <label for="" class="active">Primer Apellido</label>
                    
                    </div>
                </div>
                

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="direccionGerencia" />
                        <label for="" class="active">Dirección / Gerencia</label>
                    
                    </div>
                </div>

               

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="email" placeholder="Correo corporativo" />
                        <label for="" class="active">Correo corporativo</label>
                    
                    </div>
                </div>
                

               
            </div>
        </p-panel>
        <br>
        <p-panel header="Business Partner">


            <div class="ui-g" [formGroup]="businessForm">


                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite"
                            [style]="{'width':'100%'}" (onSelect)="onSelectionBP($event)"
                            [suggestions]="empleadosList" (completeMethod)="buscarEmpleado($event)"
                            formControlName="numeroIdentificacion" *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle"
                                            style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon"
                                            style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <br />{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>

                        <label class="active" for="" >Número de identificación</label>
                    </div>
                    <small *ngIf="3>4" id="username2-help" class="p-invalid">Obligatorio</small>
               
                
                    </div>
           
                

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                    <input type="text" pInputText formControlName="primerNombre" required />
                    <label for="" class="active">Primer nombre</label>
                    </div>
                </div>

               

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerApellido" required />
                        <label for="" class="active">Primer Apellido</label>
                    
                    </div>
                </div>
                

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="direccionGerencia" />
                        <label for="" class="active">Dirección / Gerencia</label>
                    
                    </div>
                </div>

               

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="email" placeholder="Correo corporativo" />
                        <label for="" class="active">Correo corporativo</label>
                    
                    </div>
                </div>

               
            </div>
        </p-panel>
    </p-tabPanel>
</p-tabView>

<button pButton *ngIf="solicitando == false" type="button" icon="fa fa-chevron-left" class="float-btn"
    (click)="closeForm()" title="Volver a listado de empleados"></button>

    <button (click)="test()">test</button>