
<p-panel header="FORMULARIO DE ACCIDENTES (FURAT)">
    
    <p-accordion [multiple]="true">
        <form [formGroup]="form">
            <p-accordionTab header="I. IDENTIFICACIÓN GENERAL DE LA EMPRESA">
                <div class="ui-g">
                <div class="ui-g-12 ui-sm-12 ui-md-2">
                    Nombre o razon social
                </div>
                <div class="ui-g-12 ui-sm-12 ui-md-4">
                    <input pInputText formControlName="razonSocial" readonly/>
                    <!-- <p-dropdown required [options]="temporales" formControlName="razonSocial" [(ngModel)]="selectedTemporal" placeholder="--Elija una opción--"></p-dropdown> -->
                </div>
                <div class="ui-g-12 ui-sm-12 ui-md-2">
                    Nit.
                </div>
                <div class="ui-g-12 ui-sm-12 ui-md-4">
                    <input pInputText formControlName="identificacionEmpresa" readonly/>  
                    <!-- {{ selectedTemporal ? selectedTemporal : '0' }} -->
                </div>
                </div>
            </p-accordionTab>
            <ng-template #blanco2><div class="ui-g-12 ui-sm-12 ui-md-2">
                &nbsp;
            </div></ng-template>
            <ng-template #blanco4><div class="ui-g-12 ui-sm-12 ui-md-4">
                &nbsp;
            </div></ng-template>
            <p-accordionTab
                header="II. INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Primer apellido
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input required pInputText formControlName="primerApellidoEmpleado" [readonly]="consultar" required/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Segundo apellido
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="segundoApellidoEmpleado" [readonly]="consultar"/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Primer nombre
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input required pInputText formControlName="primerNombreEmpleado" required [readonly]="consultar"/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Segundo nombre
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="segundoNombreEmpleado" [readonly]="consultar"/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="tipoIdentificacion" formControlName="tipoIdentificacionEmpleado" [readonly]="consultar">
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Número identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input required pInputText formControlName="numeroIdentificacionEmpleado" [readonly]="consultar"/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Fecha nacimiento
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-calendar required [locale]="localeES" dateFormat="dd/mm/yy" [monthNavigator]="true"  [yearNavigator]="true" [yearRange]="yearRange" formControlName="fechaNacimientoEmpleado" [disabled]="consultar">
                        </p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Sexo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton required name="generoEmpleado" label="M" value="M" formControlName="generoEmpleado" [disabled]="consultar">
                        </p-radioButton>
                        <p-radioButton required name="generoEmpleado" label="F" value="F" formControlName="generoEmpleado" [disabled]="consultar">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Fecha ingreso
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-calendar required [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaIngresoEmpleado" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [disabled]="consultar">
                        </p-calendar>
                    </div>
                    <!-- <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <s-ciudadSelector required formControlName="ciudadEmpleado"></s-ciudadSelector>
                    </div> -->
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Cargo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoEmpleado" required [readonly]="consultar">
                        </p-dropdown>
                    </div>
                    <!-- <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input required pInputText formControlName="cargoEmpleado" />
                    </div> -->
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Jornada trabajo habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="jornadaTrabajoList" formControlName="jornadaHabitual" [readonly]="consultar"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Ubicación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <area-selector required formControlName="areaAccidente" style="width: 350px;"  
                        [name]="this.reporte ? this.reporte.areaAccidente.nombre:''"
                        required>
                        </area-selector>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab
                header="III. INFORMACIÓN SOBRE EL ACCIDENTE">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Fecha {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-calendar required [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaAccidente"  required [disabled]="consultar">
                        </p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Hora {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-calendar required [locale]="localeES" dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaAccidente" requierd [disabled]="consultar"></p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Jornada
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-radioButton required name="jornadaAcc" label="Normal" value="NORMAL"
                            formControlName="jornadaAccidente" [disabled]="consultar"></p-radioButton>
                        <p-radioButton required name="jornadaAcc" label="Extra" value="EXTRA" formControlName="jornadaAccidente" [disabled]="consultar" >
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-6">
                        &nbsp;
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Realizaba labor habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton required name="laborHabitual" label="Si" [value]="true"
                            formControlName="realizandoLaborHabitual" [disabled]="consultar"></p-radioButton>
                        <p-radioButton required name="laborHabitual" label="No" [value]="false"
                            formControlName="realizandoLaborHabitual" [disabled]="consultar"></p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && (form.value.realizandoLaborHabitual==false);else blanco2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && (form.value.realizandoLaborHabitual==false);else blanco4">
                        <input required pInputText formControlName="nombreLaborHabitual" [readonly]="consultar"/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Hora de inicio de labores
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                    <p-calendar required [locale]="localeES" dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaInicioLabor" [disabled]="consultar"></p-calendar>
                        </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="tipoAccidenteList" formControlName="tipoAccidente" [readonly]="consultar"></p-dropdown>
                    </div>
                    <!-- <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <s-ciudadSelector required formControlName="ciudadAccidente"></s-ciudadSelector>
                    </div> -->

                    <!-- <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Zona
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton required name="zonaAcc" label="Urbana" value="U" formControlName="zonaAccidente">
                        </p-radioButton>
                        <p-radioButton required name="zonaAcc" label="Rural" value="R" formControlName="zonaAccidente">
                        </p-radioButton>
                    </div> -->
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Clasificación del evento
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="severidadList" formControlName="severidad" required [readonly]="consultar"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Lugar {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="lugarList" formControlName="lugarAccidente" [readonly]="consultar"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Sitio {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="sitioList" formControlName="sitio" [readonly]="consultar"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && (form.value.sitio=='OTRO');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && (form.value.sitio=='OTRO');else blanco4">
                        <input required pInputText formControlName="cualSitio" placeholder="Sitio del accidente" [readonly]="consultar"/>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Tipo lesión
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-dropdown required [options]="tipoLesionList" formControlName="tipoLesion" [readonly]="consultar"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && (form.value.tipoLesion=='OTRO');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && (form.value.tipoLesion=='OTRO');else blanco4">
                        <input required pInputText formControlName="cualTipoLesion" placeholder="Tipo lesión"[readonly]="consultar"/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente ">
                        Agente del accidente
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-dropdown required [options]="agenteList" formControlName="agente" [readonly]="consultar"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && (form.value.agente=='NO_CLASIFICADOS');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && (form.value.agente=='NO_CLASIFICADOS');else blanco4">
                        <input required pInputText formControlName="cualAgente" placeholder="Agente" [readonly]="consultar"/>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Mecanismo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown required [options]="mecanismoList" formControlName="mecanismo" [readonly]="consultar"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2 " *ngIf="(form.value.mecanismo=='OTRO');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="form.value.mecanismo=='OTRO';else blanco4">
                        <input required pInputText formControlName="cualMecanismo" placeholder="Mecanismo" [readonly]="consultar"/>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab
                header="IV. DESCRIPCIÓN PRELIMINAR DEL ACCIDENTE">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ">
                        Describa preliminarmente dentro de la información del {{visibleCamposAccidente ?
                        'accidente':'incidente'}}, que lo originó
                        o causó y los demas aspectos relacionados
                    </div>
                    <div class="ui-g-12 ui-sm-12">
                        <textarea required type="text" pInputText style="width:100%;height: 100px;"
                            formControlName="descripcion" [readonly]="consultar"></textarea>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab
                header="V. DÍAS PERDIDOS">
                <app-incapacidades-complementaria-temporal (listIncapacidades)="getListIncapacidades($event)" [incapacidades]="incapacidadesList" [consultar]="consultar"></app-incapacidades-complementaria-temporal>
            </p-accordionTab>
            <p-accordionTab
                header="VI. PELIGRO DESCRIPTOR">
                <div class="ui-g" [formGroup]="analisisPeligros">
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Peligro
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown appendTo="body" [filter]="true" [options]="this.tipoPeligroItemList" (onChange)="SelectPeligro($event.value)" formControlName="Peligro"[readonly]="consultar"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Descripción del Peligro
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown appendTo="body" [filter]="true" [options]="this.peligroItemList" formControlName="DescripcionPeligro"[readonly]="consultar"></p-dropdown>
                    </div>                    
                </div>
            </p-accordionTab>
            <p-accordionTab header="VII. INVESTIGACIÓN" *ngFor="let data of factorCausal">
                <div >
                    <app-factor-causal (dataFC)="setListDataFactor()" (validators2)="getValidator($event)"[factorCausal]="data"></app-factor-causal>
                </div>
            </p-accordionTab>
            <p-accordionTab header="VIII. LISTADO DE CAUSAS">
                <app-listado-causas-temporal [factores]="dataListFactor"></app-listado-causas-temporal>
            </p-accordionTab>
        </form>

        <form [formGroup]="formplanaccion">
            <p-accordionTab header="IX. PLAN DE ACCION">
                
                <div class="ui-g">

                    <div class="ui-g-12">
                        <h5 class="title-header p-mb-2">Plan de acción</h5>
                    </div>
    
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <div class="input-field">
                            <input type="number" pInputText placeholder="% de avance"
                                class="form-material" formControlName="avance" [readonly]="consultar"/>
                            <!-- <input type="number" pInputText placeholder="% de avance"
                                class="form-material"/> -->
                            <label for="" class="active">% de avance</label>
                        </div>        
                    </div>
    
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <div class="input-field">
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="2010:2030" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaCierre" [disabled]="consultar"></p-calendar>
                            <!-- <p-calendar [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="2010:2030" [locale]="localeES" dateFormat="dd/mm/yy"></p-calendar> -->
                            <label for="" class="active">Fecha de cierre</label>
                        </div>        
                    </div>
    
                    <div class="ui-g-12 ui-md-6">
                        <div class="input-field">
                            <textarea pInputTextarea class="form-material" rows="5" formControlName="descripcion" [readonly]="consultar"></textarea>
                            <!-- <textarea pInputTextarea class="form-material" rows="5"></textarea> -->
                            <label for="" class="active">Descripción de la acción realizada</label>
                        </div>        
                    </div>
    
    
                    <div class="ui-g-12">
                        <h5 class="title-header p-mb-2">Evidencias</h5>
                    </div>
    
                    <div class="uploaders">
                        <div>  
                            <button *ngIf="!consultar" pButton type="button" (click)="showDialog()" icon="fa fa-plus" label="Adjuntar evidencia" style="margin-bottom: 10px;"></button>
                            <!-- <button pButton type="button" (click)="showDialog('foto')" icon="fa fa-trash" style="margin-bottom: 10px; background-color: red;" *ngIf="!readOnly"></button> -->
                            <s-documentoUpload [(visible)]="visibleDlgExcel" [modParam]="analisisId"  tipoEvidencia="fotografica"  [modulo]="modulo" [temporalesFlag]="temporalesFlag" (onUpload)="onUpload($event)"></s-documentoUpload>
                        </div>
                        <div class="ui-g" style="margin-top: 10px;">
                            <div class="ui-g-12 ui-sm-12 ui-md-10">
                                <div *ngFor="let doc of documentos">
                                    <table class="dwrapper" *ngIf="doc.proceso=='fotografica'">
                                    <tr>
                                        <td>
                                        <span [class]="doc.extension?.icono" [style.color]="doc.extension?.color"></span>
                                        <a style="margin-left: 10px;" (click)="descargarDocumento(doc)">{{doc.nombre}}</a>
                                        </td>
                                        <td style="text-align: right;">
                                        <a class="fa fa-pencil" title="Actualizar Descripción" (click)="actualizarDesc(doc)" *ngIf="!consultar"></a>
                                        <a>&nbsp;</a>
                                        <a class="fa fa-trash" title="Eliminar documento" (click)="eliminarDocument(doc)" *ngIf="!consultar" style="color: red;"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                        <textarea [disabled]="consultar" pInputTextarea placeholder="Descripción" [(ngModel)]="doc.descripcion" maxlength="253" [ngModelOptions]="{standalone: true}"></textarea>
                                        </td>
                                    </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </form>
    </p-accordion> 
</p-panel>
<!-- 
<button (click)="test()">test</button> -->
<ng-container *ngIf="!consultar && adicionar">
    <button *sTienePermiso="'RAI_POST_REPT'" pButton  (click)="submit1()" icon="fa fa-floppy-o" title="Guardar reporte"
        class="float-btn" [disabled]="!form.valid" style="z-index: 100;"></button>
</ng-container>

<ng-container *ngIf="!consultar && !adicionar">
    <button *sTienePermiso="'RAI_PUT_REPT'" pButton  (click)="submit1()" icon="fa fa-pencil" title="Actualizar reporte"
        class="float-btn ui-button-success" [disabled]="!form.valid" style="z-index: 100;"></button>
</ng-container>
<a style="visibility: hidden" id="dwldLink"></a>

