<p-messages [(value)]="msgs" [closable]="true"></p-messages>
<p>Evidencia Fotografica</p> 
<div>  
    <button pButton type="button" (click)="showDialog1()" icon="fa fa-plus" label="Adjuntar soporte foto" style="margin-bottom: 10px;" *ngIf="!readOnly"></button>
<s-documentoUpload accept="image/*"  fileLimit="3" [(visible)]="visibleDlg1" [modParam]="analisisId"  tipoEvidencia="fotografica"  [modulo]="modulo"  (onUpload)="onUpload($event)"></s-documentoUpload>
</div>
<div class="ui-g" style="margin-top: 10px;">
    <div class="ui-g-12 ui-sm-12 ui-md-10">
      <ng-template ngFor let-doc [ngForOf]="documentos" let-i="index">
        <table class="dwrapper">
          <tr>
            <td>
              <span [class]="doc.extension?.icono" [style.color]="doc.extension?.color"></span>
              <a style="margin-left: 10px;" (click)="descargarDocumento(doc)">{{doc.nombre}}</a>
            </td>
            <td style="text-align: right;">
              <a class="fa fa-pencil" title="Actualizar descripción" (click)="actualizarDesc(doc)" *ngIf="!readOnly"></a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea [disabled]="readOnly" pInputTextarea placeholder="Descripción" [(ngModel)]="doc.descripcion" maxlength="253"></textarea>
            </td>
          </tr>
        </table>
      </ng-template>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-6">
      <s-galeria *ngIf="documentosList?.length > 0" [images]="documentosList" [readOnly]="true"></s-galeria>
    </div>
  </div>
<p>Evidencia Documental</p>

<div>
    <button pButton type="button" (click)="showDialog2()" icon="fa fa-plus" label="Adjuntar soporte" style="margin-bottom: 10px;" *ngIf="!readOnly"></button>
<s-documentoUpload accept="pdf/*"  fileLimit="3" [(visible)]="visibleDlg2" [modParam]="analisisId"  tipoEvidencia="documental"  [modulo]="modulo"  (onUpload)="onUpload($event)"></s-documentoUpload>
</div>

<p>Evidencia Politicas</p>

<div>
    <button pButton type="button" (click)="showDialog3()" icon="fa fa-plus" label="Adjuntar soporte" style="margin-bottom: 10px;" *ngIf="!readOnly"></button>
<s-documentoUpload accept="pdf/*"  fileLimit="3" [(visible)]="visibleDlg3" [modParam]="analisisId"  tipoEvidencia="politica"  [modulo]="modulo"  (onUpload)="onUpload($event)"></s-documentoUpload>
<s-galeria *ngIf="documentosList?.length > 0" [images]="documentosList" [readOnly]="true"></s-galeria>
</div>

<p>Evidencia Procedimientos</p>

<div>
    <button pButton type="button" (click)="showDialog4()" icon="fa fa-plus" label="Adjuntar soporte" style="margin-bottom: 10px;" *ngIf="!readOnly"></button>
<s-documentoUpload accept="pdf/*"  fileLimit="3" [(visible)]="visibleDlg4" [modParam]="analisisId"  tipoEvidencia="procedimientos"  [modulo]="modulo"  (onUpload)="onUpload($event)"></s-documentoUpload>
<s-galeria *ngIf="documentosList?.length > 0" [images]="documentosList" [readOnly]="true"></s-galeria>
</div>

<p>Evidencia Multimedia</p>

<div>
    <button pButton type="button" (click)="showDialog5()" icon="fa fa-plus" label="Adjuntar soporte" style="margin-bottom: 10px;" *ngIf="!readOnly"></button>
<s-documentoUpload accept="video/*"  fileLimit="3" [(visible)]="visibleDlg5" [modParam]="analisisId"  tipoEvidencia="multimedia"  [modulo]="modulo"  (onUpload)="onUpload($event)"></s-documentoUpload>
</div>
