<p>Evidencia Fotografica</p>

<p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
    accept="image/*" maxFileSize="10000000" fileLimit="3">
</p-fileUpload>

<p>Evidencia Documental</p>

<p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
    accept=".pdf,/*" maxFileSize="10000000">
</p-fileUpload>

<p>Evidencia Multimedia</p>

<p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
    accept="video/*" maxFileSize="100000000" fileLimit="3">
</p-fileUpload>
