<p-panel header="Seguimiento contratistas" >
    <p-tabView>
      <!-- <p-tabPanel [header]="emp" *ngFor="let emp of empresasList">
        <s-empresaDash [empresa]="emp"></s-empresaDash>
      </p-tabPanel> -->
      <p-tabPanel header="Información">
        <app-aliados [valueEmpresa]="aliado" ></app-aliados>
      </p-tabPanel>
      <p-tabPanel header="SST"> <!-- Salud Seguridad Trabajo -->
        <app-equipo-sst-list></app-equipo-sst-list>
      </p-tabPanel>
      <p-tabPanel header="Cargue Documentos">
        <app-cargue-documentos></app-cargue-documentos>
      </p-tabPanel>
      <p-tabPanel header="Actividades Contratadas">
        <app-actividades-contratadas></app-actividades-contratadas>
      </p-tabPanel>
      <p-tabPanel header="División/Localidad">
        <app-localidades></app-localidades>
      </p-tabPanel>
      <p-tabPanel header="Clasificación">
        <app-calificacion></app-calificacion>
      </p-tabPanel>
      <p-tabPanel header="Asignacion Colider">
        <app-asignacion-colider></app-asignacion-colider>
      </p-tabPanel>
    </p-tabView>
</p-panel>

<!-- <button (click)="test()">test</button> -->