<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-panel [header]="visibleCamposAccidente ? 'FORMULARIO DE ACCIDENTES (FURAT)':'FORMULARIO DE INCIDENTES'">
        <p-accordion [multiple]="true">
            <p-accordionTab header="SEGURIDAD SOCIAL" *ngIf="visibleCamposAccidente">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        <!--<span class="fa fa-check-circle" [ngClass]="form.value.nombreEps?.length > 0 ? 'diligenciado': 'no-diligenciado'"></span>-->
                        EPS
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombreEps" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código EPS
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="codigoEps" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        ARL
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombreArl" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código ARL
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="codigoArl" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        AFP
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombreAfp" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código AFP
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="codigoAfp" />
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="I. IDENTIFICACIÓN GENERAL DEL EMPLEADOR, CONTRATANTE O COOPERATIVA"
                *ngIf="visibleCamposAccidente">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo vinculador
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-10">
                        <p-radioButton name="tipoVinculador" label="Empleador" value="EMPLEADOR"
                            formControlName="tipoVinculador"></p-radioButton>
                        <p-radioButton name="tipoVinculador" label="Contratante" value="CONTRATANTE"
                            formControlName="tipoVinculador"></p-radioButton>
                        <p-radioButton name="tipoVinculador" label="Cooperativa de trabajo asociado" value="COOPERATIVA"
                            formControlName="tipoVinculador"></p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Actividad económica (sede principal)
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombreCiiu" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="codigoCiiu" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Nombre o razon social
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="razonSocial" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="tipoIdentificacionEmpresa" formControlName="tipoIdentificacionEmpresa">
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Número identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="identificacionEmpresa" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Dirección
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="direccionEmpresa" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Teléfono
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="telefonoEmpresa" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Fax
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="telefono2Empresa" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Correo electrónico
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="emailEmpresa" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Zona
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-radioButton name="zonaEmp" label="Urbana" formControlName="zonaEmpresa" value="U">
                        </p-radioButton>
                        <p-radioButton name="zonaEmp" label="Rural" formControlName="zonaEmpresa" value="R">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <s-ciudadSelector formControlName="ciudadEmpresa"></s-ciudadSelector>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">

                    </div>

                    <div class="ui-g-12 ui-sm-12"></div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        ¿CT igual a sede principal?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-radioButton name="ctIgualSede" label="Si" value="true"
                            formControlName="centrTrabIgualSedePrinc"></p-radioButton>
                        <p-radioButton name="ctIgualSede" label="No" value="false"
                            formControlName="centrTrabIgualSedePrinc"></p-radioButton>
                    </div>

                    <div class="ui-g-12 ui-sm-12"></div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Centro de trabajo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombreCentroTrabajo" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="codigoCentroTrabajo" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Actividad económica (Centro de trabajo)
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombreCiiuCentroTrabajo" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="ciiuCentroTrabajo" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Dirección
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="direccionCentroTrabajo" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Teléfono
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="telefonoCentroTrabajo" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <s-ciudadSelector formControlName="ciudadCentroTrabajo"></s-ciudadSelector>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Zona
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-radioButton name="tipoIdentificacionCT" label="Urbana" value="U"
                            formControlName="zonaCentroTrabajo"></p-radioButton>
                        <p-radioButton name="tipoIdentificacionCT" label="Rural" value="R"
                            formControlName="zonaCentroTrabajo"></p-radioButton>
                    </div>
                </div>
            </p-accordionTab>
            <ng-template #blanco2><div class="ui-g-12 ui-sm-12 ui-md-2">
                &nbsp;
            </div></ng-template>
            <ng-template #blanco4><div class="ui-g-12 ui-sm-12 ui-md-4">
                &nbsp;
            </div></ng-template>
            <p-accordionTab
                [header]="visibleCamposAccidente ? 'II. INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ':'I. INFORMACIÓN DE LA PERSONA QUE SE REPORTA'">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Primer apellido
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="primerApellidoEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Segundo apellido
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="segundoApellidoEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Primer nombre
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="primerNombreEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Segundo nombre
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="segundoNombreEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="tipoIdentificacion" formControlName="tipoIdentificacionEmpleado">
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Número identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="numeroIdentificacionEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Fecha nacimiento
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimientoEmpleado">
                        </p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Género
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton name="generoEmpleado" label="M" value="M" formControlName="generoEmpleado">
                        </p-radioButton>
                        <p-radioButton name="generoEmpleado" label="F" value="F" formControlName="generoEmpleado">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Dirección
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="direccionEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Teléfono
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="telefonoEmpleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Teléfono 2
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="telefono2Empleado" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Fecha ingreso
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaIngresoEmpleado" (ngModelChange)="changeCalendar()" >
                            <!-- [formControl]="form.controls['fechaIngresoEmpleado']" -->
                            <!-- formControlName="fechaIngresoEmpleado" -->
                        </p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <s-ciudadSelector formControlName="ciudadEmpleado"></s-ciudadSelector>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Cargo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="cargoEmpleado" />
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Tipo vinculación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-dropdown [options]="tipoVinculacionList" formControlName="tipoVinculacion"></p-dropdown>
                    </div>
                    <div  class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input pInputText formControlName="codigoTipoVinculacion" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Ocupación habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="ocupacionHabitual" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input pInputText formControlName="codigoOcupacionHabitual" />
                    </div>
                    
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Zona residencia
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-radioButton name="zonaEmpleado" label="Urbana" value="U" formControlName="zonaEmpleado">
                        </p-radioButton>
                        <p-radioButton name="zonaEmpleado" label="Rural" value="R" formControlName="zonaEmpleado">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Tiempo ocupación habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        Días: <input pInputText placeholder="DD" style="width: 24%;" formControlName="diasLaborHabitual" readonly/>
                        Meses: <input pInputText placeholder="MM" style="width: 24%;" formControlName="mesesLaborHabitual" readonly/>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Salario u honorarios
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="salario" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Jornada trabajo habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="jornadaTrabajoList" formControlName="jornadaHabitual"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Ubicación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <area-selector formControlName="areaAccidente" style="
                        width: 320px;
                    "
                            [name]="this.reporte.areaAccidente ?this.reporte.areaAccidente.nombre:''" required>
                        </area-selector>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab
                [header]="visibleCamposAccidente ? 'III. INFORMACIÓN SOBRE EL ACCIDENTE':'II. INFORMACIÓN SOBRE EL INCIDENTE'">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="idEmpresa == '3' || idEmpresa == '22';else blanco2">
                        Numero de FURAT
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="idEmpresa == '3' || idEmpresa == '22';else blanco4" >
                        <input pInputText formControlName="numero_furat" required />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Fecha {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaAccidente" (onSelect)="changeCalendar()">
                        </p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Hora {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaAccidente"></p-calendar>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Jornada
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-radioButton name="jornadaAcc" label="Normal" value="NORMAL"
                            formControlName="jornadaAccidente"></p-radioButton>
                        <p-radioButton name="jornadaAcc" label="Extra" value="EXTRA" formControlName="jornadaAccidente">
                        </p-radioButton>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Realizaba labor habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton name="laborHabitual" label="Si" [value]="true"
                            formControlName="realizandoLaborHabitual"></p-radioButton>
                        <p-radioButton name="laborHabitual" label="No" [value]="false"
                            formControlName="realizandoLaborHabitual"></p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="nombreLaborHabitual" />
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Código labor habitual
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input pInputText formControlName="codigoLaborHabitual" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Hora de inicio de labores
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                    <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaInicioLabor"></p-calendar>
                        </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="tipoAccidenteList" formControlName="tipoAccidente"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Ciudad
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <s-ciudadSelector formControlName="ciudadAccidente"></s-ciudadSelector>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Zona
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton name="zonaAcc" label="Urbana" value="U" formControlName="zonaAccidente">
                        </p-radioButton>
                        <p-radioButton name="zonaAcc" label="Rural" value="R" formControlName="zonaAccidente">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Clasificación del evento
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-dropdown [options]="severidadList" formControlName="severidad"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        ¿Causó muerte?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-radioButton name="causoMuerte" label="Si" [value]="true" formControlName="causoMuerte">
                        </p-radioButton>
                        <p-radioButton name="causoMuerte" label="No" [value]="false" formControlName="causoMuerte">
                        </p-radioButton>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Lugar {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="lugarList" formControlName="lugarAccidente"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Sitio {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="sitioList" formControlName="sitio"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="cualSitio" placeholder="Sitio del accidente" />
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Tipo lesión
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-dropdown [options]="tipoLesionList" formControlName="tipoLesion"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="cualTipoLesion" />
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        Agente del accidente
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <p-dropdown [options]="agenteList" formControlName="agente"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2" *ngIf="visibleCamposAccidente">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4" *ngIf="visibleCamposAccidente">
                        <input pInputText formControlName="cualAgente" />
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Mecanismo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="mecanismoList" formControlName="mecanismo"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        ¿Cual?
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="cualMecanismo" placeholder="Mecanismo" />
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Parte del cuerpo afectada
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="parteCuerpoList" formControlName="parteCuerpo"></p-dropdown>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab
                [header]="visibleCamposAccidente ? 'IV. DESCRIPCIÓN DEL ACCIDENTE':'III. DESCRIPCIÓN DEL INCIDENTE'">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ">
                        Describa detalladamente dentro de la información del {{visibleCamposAccidente ?
                        'accidente':'incidente'}}, que lo originó
                        o causó y los demas aspectos relacionados
                    </div>
                    <div class="ui-g-12 ui-sm-12">
                        <textarea type="text" pInputText style="width:100%;height: 100px;"
                            formControlName="descripcion"></textarea>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        ¿Hubo personas que presenciaron el {{visibleCamposAccidente ? 'accidente':'incidente'}}?
                    </div>
                    <div class="ui-g-1">
                        <p-radioButton name="huboTestigos" label="Si" value="true" formControlName="huboTestigos">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-1">
                        <p-radioButton name="huboTestigos" label="No" value="false" formControlName="huboTestigos">
                        </p-radioButton>
                    </div>
                    <div class="ui-g-2">
                        <button pButton type="button" icon="fa fa-plus" label="Adicionar"
                            (click)="adicionarTestigo()"></button>
                    </div>
                    <div class="ui-g-12 ui-sm-12">
                        <p-table [value]="testigoReporteList" autoLayout="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="width20">Nombres</th>
                                    <th class="width20">Apellidos</th>
                                    <th class="width20">Cargo</th>
                                    <th class="width20">Tipo identificación</th>
                                    <th class="width20">Número identificación</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-testigo>
                                <tr>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText [(ngModel)]="testigo.nombres"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.nombres}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText [(ngModel)]="testigo.apellidos"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.apellidos}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText [(ngModel)]="testigo.cargo"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.cargo}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="tipoIdentificacion"
                                                    [(ngModel)]="testigo.tipoIdentificacion"
                                                    [ngModelOptions]="{standalone: true}" appendTo="body"
                                                    [autoWidth]="false"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.tipoIdentificacion}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText [(ngModel)]="testigo.numeroIdentificacion"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.numeroIdentificacion}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width: 3em;">
                                        <button pButton type="button" class="soft-icon" icon="fa fa-close"
                                            (click)="removerTestigo(testigo)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ">
                        Responsable del informe
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Nombres
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="nombresResponsable" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Apellidos
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="apellidosResponsable" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Tipo identificacion
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <p-dropdown [options]="tipoIdentificacion" formControlName="tipoIdentificacionResponsable">
                        </p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Número identificación
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="numeroIdentificacionResponsable" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Cargo
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <input pInputText formControlName="cargoResponsable" />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-2">
                        Fecha reporte
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        {{form.value.fechaReporte | date:'dd MMM yyyy HH:mm'}}
                    </div>

                </div>
            </p-accordionTab>
        </p-accordion>
    </p-panel>

    <ng-container *ngIf="!consultar && adicionar">
        <button *sTienePermiso="'RAI_POST_REP'" pButton type="submit" icon="fa fa-floppy-o" title="Guardar reporte"
            class="float-btn" [disabled]="!form.valid"></button>
    </ng-container>

    <ng-container *ngIf="!consultar && !adicionar">
        <button *sTienePermiso="'RAI_PUT_REP'" pButton type="submit" icon="fa fa-pencil" title="Actualizar reporte"
            class="float-btn ui-button-success" [disabled]="!form.valid"></button>
    </ng-container>

</form>