<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="ui-g">
    <div style="width: 100%;">
      <p-panel header="RESUMEN">
          <div class="p-grid  p-mt-3 p-jc-evenly colorsitos colorfondo">
              <div class="col-md-10 ">
                  <div class="row ">
                      <div class="col-xl-4 col-lg-6">
                          <div class="card l-bg-blue1-dark">
                              <div class="card-statistic-3 p-3">
                                <div class="card-icon card-icon-large"></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Numero de casos</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                  <div class="col-4 text-right">
                                      <span class="tamañotexto">{{this.numCasos}}</span>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-lg-6">
                          <div class="card l-bg-blue2-dark">
                              <div class="card-statistic-3 p-3">
                                  <div class="card-icon card-icon-large"></div>
                                  <div class="mb-4">
                                      <h5 class="card-title mb-0">Casos abiertos</h5>
                                  </div>
                                  <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-4 text-right">
                                        <span class="tamañotexto">{{this.casosAbiertos}}</span>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-4 col-lg-6">
                          <div class="card l-bg-blue3-dark">
                              <div class="card-statistic-3 p-3">
                                  <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                                  <div class="mb-4">
                                      <h5 class="card-title mb-0">Casos cerrados</h5>
                                  </div>
                                  <div class="row align-items-center mb-2 d-flex">
                                      <div class="col-4 text-left">
                                          <span class="tamañotexto">{{this.casosCerrados}}</span>
                                      </div>                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="p-col-6 p-mt-6 mid-border">
                  <div class="p-d-flex p-jc-evenly">
                      <div class="p-d-flex"><p class="p-m-0">Area: </p> <p-dropdown appendTo="body" [options]="divisiones0" placeholder="Seleccionar división" (onChange)="numeroCasos()" [(ngModel)]="selecDiv0"></p-dropdown></div>
                      <div class="p-d-flex">  
                          <i style="font-size:24px" class="fa">&#xf073;</i>   
                          <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde0" (ngModelChange)="numeroCasos()"> </p-calendar> 
                      </div>
                      <div class="p-d-flex"> 
                          <i style="font-size:24px" class="fa">&#xf073;</i> 
                          <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body" [(ngModel)]="fechaHasta0" (ngModelChange)="numeroCasos()"> </p-calendar>
                      </div>
                  </div>
              </div>
          </div>
      </p-panel>
      <br/>
      <p-panel header="TOTAL CASOS Y DIAGNOSTICO" >
        <div class="colorfondo">
          <div class="ui-g">
            <p> <b> Casos medicos </b></p>
            <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center" style="height: 10cm;">
              <p-radioButton name="group0" label="Total " [value]="0"   (onClick)="DatosGrafica1()" [style]="{'margin-left': '15px'}" [(ngModel)]="radioButon0"></p-radioButton>
              <p-radioButton name="group0" label=" Abiertos " [value]="1"  (onClick)="DatosGrafica1()" [style]="{'margin-left': '15px'}" [(ngModel)]="radioButon0"></p-radioButton>
              <p-radioButton name="group0" label=" Cerrados " [value]="2"  (onClick)="DatosGrafica1()" [style]="{'margin-left': '15px'}" [(ngModel)]="radioButon0"></p-radioButton>
              <ngx-charts-advanced-pie-chart
              class="align-items-center"
              [scheme]="colorScheme"
              [results]="datosGraf0Print"
              [gradient]="true">
              </ngx-charts-advanced-pie-chart>
            </div>
            <div class="ui-g-3">&nbsp;</div>
            <div class="ui-g-6">
              <div class="ui-g-6">  
                <i style="font-size:24px" class="fa">&#xf073;</i>   
                <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy"  placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde1" (ngModelChange)="DatosGrafica1()"> </p-calendar> 
              </div>
              <div class="ui-g-6"> 
                <i style="font-size:24px" class="fa">&#xf073;</i> 
                <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy"  placeholder="Hasta" appendTo="body" [(ngModel)]="fechaHasta1" (ngModelChange)="DatosGrafica1()"> </p-calendar>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
      <br/>
      <p-panel header="Casos medicos">
        <div class="ui-g" *ngIf="flag1">
        <!-- Primera grafica -->
          <p><b>
            <ng-container *ngIf="selectEvento1.length>0">
              <ng-container *ngFor="let ret of selectEvento1;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                  /{{ret.label}}
                </ng-template>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="selectEvento1.length==0">
              <ng-container *ngFor="let ret of opcion1;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                  /{{ret.label}}
                </ng-template>
              </ng-container>
            </ng-container>
          </b></p>

          <div class="ui-g-12">&nbsp;</div>
          <div  class="ui-g-8 ui-g-nopad">
            <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
                <ngx-charts-bar-vertical-2d 
                [scheme]="colorScheme"
                [results]="datosGraf1Print"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'casos'"
                [yAxisLabel]="'No. Casos'"
                [barPadding]=0
                [groupPadding]=4
                [showDataLabel]="false"
                [tooltipDisabled]="false">
                </ngx-charts-bar-vertical-2d>
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-2">&nbsp;</div>
            <div class="ui-g-8">
              <div class="ui-g-6">  
                <i style="font-size:24px" class="fa">&#xf073;</i>   
                <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde2" (ngModelChange)="DatosGrafica2()"> </p-calendar> 
              </div>
              <div class="ui-g-6"> 
                <i style="font-size:24px" class="fa">&#xf073;</i> 
                <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body" [(ngModel)]="fechaHasta2" (ngModelChange)="DatosGrafica2()"> </p-calendar>
              </div>
            </div>
          </div>
  
          <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter">
            <h5>Division</h5>
            <!-- <p-multiSelect defaultLabel="Seleccione" [options]="divisiones0" optionLabel="label" [(ngModel)]="selectDivisiones1" (onChange)="DatosGrafica2()"></p-multiSelect> -->
            <div *ngFor="let category of divisiones0" class="p-field-checkbox">
              <p-checkbox name="group1" value="category" [value]="category"  [(ngModel)]="selectDivisiones1" [inputId]="category.value" (click)="DatosGrafica2()"></p-checkbox>
              <label>{{category.label}}</label>
            </div>
            <h5>Filtro casos</h5>
            <div class="col-md-10">
              <p-radioButton name="group1" label="Estado" [value]="0" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton><br>
              <p-radioButton name="group1" label="Mesa laboral" [value]="1" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton><br>
              <p-radioButton name="group1" label="Prioridad" [value]="2" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton><br>
              <p-radioButton name="group1" label="Tipo de caso" [value]="3" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton>
            </div>
            <br>
            <p-multiSelect defaultLabel="Seleccione" [options]="opcion1" optionLabel="label" [(ngModel)]="selectEvento1" (onChange)="DatosGrafica2()"></p-multiSelect>
          </div>

        </div>
        <hr/>
        <div class="ui-g" *ngIf="flag2">

          <div class="ui-g-12">&nbsp;</div>
  
          <div  class="ui-g-8 ui-g-nopad">
            <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic" *ngIf="flagReturnDatos2">
              <!-- <ng-container *ngIf="flagReturnDatos2"> -->
                <ngx-charts-bar-vertical-2d
                class="align-items-center"
                [scheme]="colorScheme"
                [results]="datosGraf2Print"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Casos'"
                [yAxisLabel]="'No. Casos'"
                [showDataLabel]="false"
                [barPadding]=0
                [groupPadding]=4
                [tooltipDisabled]="false">
                </ngx-charts-bar-vertical-2d>
              <!-- </ng-container> -->
            </div>
            <ng-container *ngIf="!flagReturnDatos2">
              <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad">
                <s-dataNotFound [message]="'Selecione una división'"></s-dataNotFound>
              </div>
            </ng-container>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-2">&nbsp;</div>
            <div class="ui-g-8">
                <div class="ui-g-6" *ngIf="flagReturnDatos2">  
                    <i style="font-size:24px" class="fa">&#xf073;</i>   
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde3" (ngModelChange)="DatosGrafica3()"> </p-calendar> 
                </div>
                <div class="ui-g-6" *ngIf="flagReturnDatos2"> 
                    <i style="font-size:24px" class="fa">&#xf073;</i> 
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body" [(ngModel)]="fechaHasta3" (ngModelChange)="DatosGrafica3()"> </p-calendar>
                </div>
            </div>
          </div>
  
  
          <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter">
            <h5>Division</h5>
            <p-dropdown appendTo="body" [options]="divisiones3" [(ngModel)]="selectDivisiones2" placeholder="Seleccionar división" (onChange)="cargarArea()"></p-dropdown>
            <ng-container *ngIf="selectDivisiones2.length>0">
              &nbsp;
              <h5>Estructura</h5>
              <button style="display:flex" pButton type="button" icon="fa fa-pencil" (click)="abrirDialogo1()" label="Seleccionar Ubicación"></button>
            </ng-container>
            &nbsp;
            <h5>Filtro casos</h5>
            <div class="col-md-10">
              <p-radioButton name="group2" label="Estado" [value]="0" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton><br>
              <p-radioButton name="group2" label="Mesa laboral" [value]="1" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton><br>
              <p-radioButton name="group2" label="Prioridad" [value]="2" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton><br>
              <p-radioButton name="group2" label="Tipo de caso" [value]="3" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton>
            </div>
            <br>
            <p-multiSelect defaultLabel="Seleccione" [options]="opcion2" optionLabel="label" [(ngModel)]="selectEvento2" (onChange)="DatosGrafica3()"></p-multiSelect>
          </div>
        </div>
        
      </p-panel>
      <br/>
      <p-panel header="RETORNO">
        <div class="ui-g" *ngIf="flag3">

          <p><b>
            <ng-container *ngIf="selectEvento3.length>0">
              <ng-container *ngFor="let ret of selectEvento3;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                  /{{ret.label}}
                </ng-template>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="selectEvento3.length==0">
              <ng-container *ngFor="let ret of opcion3;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                  /{{ret.label}}
                </ng-template>
              </ng-container>
            </ng-container>
          </b></p>

          <div class="ui-g-12">&nbsp;</div>
  
          <div  class="ui-g-8 ui-g-nopad">
            <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
              <ngx-charts-bar-vertical-2d
              class="align-items-center"
              [scheme]="colorScheme"
              [results]="datosGraf3Print"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Retorno'"
              [yAxisLabel]="'No. Casos'"
              [showDataLabel]="false"
              [barPadding]=0
              [groupPadding]=4
              [tooltipDisabled]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-2">&nbsp;</div>
            <div class="ui-g-8">
                <div class="ui-g-6">  
                    <i style="font-size:24px" class="fa">&#xf073;</i>   
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde4" (ngModelChange)="DatosGrafica4()"> </p-calendar> 
                </div>
                <div class="ui-g-6"> 
                    <i style="font-size:24px" class="fa">&#xf073;</i> 
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body"> [(ngModel)]="fechaHasta4" (ngModelChange)="DatosGrafica4()"</p-calendar>
                </div>
            </div>
          </div>
  
  
          <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter">
            <h5>Division</h5>
            <div *ngFor="let category of divisiones0" class="p-field-checkbox">
              <p-checkbox name="group3" value="category" [value]="category"  [(ngModel)]="selectDivisiones3" [inputId]="category.value" (click)="DatosGrafica4()"></p-checkbox>
              <label>{{category.label}}</label>
            </div>
            <h5>Filtro casos</h5>
            <p-multiSelect defaultLabel="Seleccione" [options]="opcion3" optionLabel="label" [(ngModel)]="selectEvento3" (onChange)="DatosGrafica4()"></p-multiSelect>
          </div>
        </div>
        <hr>

        <div class="ui-g" *ngIf="flag4">

          <div class="ui-g-12">&nbsp;</div>
  
          <div  class="ui-g-8 ui-g-nopad">
            <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic" *ngIf="flagReturnDatos4">
                <ngx-charts-bar-vertical-2d
                class="align-items-center"
                [scheme]="colorScheme"
                [results]="datosGraf4Print"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Retorno'"
                [yAxisLabel]="'No. Casos'"
                [showDataLabel]="false"
                [barPadding]=0
                [groupPadding]=4
                [tooltipDisabled]="false">
                </ngx-charts-bar-vertical-2d>
            </div>
            <ng-container *ngIf="!flagReturnDatos4">
              <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad">
                <s-dataNotFound [message]="'Selecione una división'"></s-dataNotFound>
              </div>
            </ng-container>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-2">&nbsp;</div>
            <div class="ui-g-8">
                <div class="ui-g-6" *ngIf="flagReturnDatos4">  
                    <i style="font-size:24px" class="fa">&#xf073;</i>   
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde5" (ngModelChange)="DatosGrafica5()"> </p-calendar> 
                </div>
                <div class="ui-g-6" *ngIf="flagReturnDatos4"> 
                    <i style="font-size:24px" class="fa">&#xf073;</i> 
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body" [(ngModel)]="fechaHasta5" (ngModelChange)="DatosGrafica5()"> </p-calendar>
                </div>
            </div>
          </div>

          <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter">
            <h5>Division</h5>
            <p-dropdown appendTo="body" [options]="divisiones3" [(ngModel)]="selectDivisiones4" placeholder="Seleccionar división" (onChange)="cargarArea5()"></p-dropdown>
            <ng-container *ngIf="selectDivisiones4.length>0">
              &nbsp;
              <h5>Estructura</h5>
              <button style="display:flex" pButton type="button" icon="fa fa-pencil" (click)="abrirDialogo5()" label="Seleccionar Ubicación"></button>
            </ng-container>
            &nbsp;
            <h5>Filtro casos</h5>
            <p-multiSelect defaultLabel="Seleccione" [options]="opcion4" optionLabel="label" [(ngModel)]="selectEvento4" (onChange)="DatosGrafica5()"></p-multiSelect>
          </div>
        </div>
      </p-panel>
      <br/>
      <p-panel header="Diagnosticos">
        <div class="ui-g" *ngIf="flag5">

          <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
            <p-radioButton name="group4" [(ngModel)]="radioButon5" label="Total " [value]="0" (onClick)="DatosGrafica6()" [style]="{'margin-left':'15px'}"></p-radioButton>
            <p-radioButton name="group4" [(ngModel)]="radioButon5" label=" Comun " [value]="1" (onClick)="DatosGrafica6()" [style]="{'margin-left':'15px'}"></p-radioButton>
            <p-radioButton name="group4" [(ngModel)]="radioButon5" label=" Laboral " [value]="2" (onClick)="DatosGrafica6()" [style]="{'margin-left':'15px'}"></p-radioButton>
          </div>
  
          <div  class="ui-g-8 ui-g-nopad">
            <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic">
              <ngx-charts-bar-vertical-2d
              class="align-items-center"
              [scheme]="colorScheme"
              [results]="datosGraf5Print"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Diagnosticos'"
              [yAxisLabel]="'No. Casos'"
              [showDataLabel]="false"
              [barPadding]=0
              [groupPadding]=4
              [tooltipDisabled]="false">
              </ngx-charts-bar-vertical-2d>
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-2">&nbsp;</div>
            <div class="ui-g-8">
                <div class="ui-g-6">  
                    <i style="font-size:24px" class="fa">&#xf073;</i>   
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde6" (ngModelChange)="DatosGrafica6()"> </p-calendar> 
                </div>
                <div class="ui-g-6"> 
                    <i style="font-size:24px" class="fa">&#xf073;</i> 
                    <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body"> [(ngModel)]="fechaHasta6" (ngModelChange)="DatosGrafica6()"</p-calendar>
                </div>
            </div>
          </div>
  
  
          <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter">
            <h5>Division</h5>
            <div *ngFor="let category of divisiones1" class="p-field-checkbox">
              <p-checkbox name="group5" value="category" [value]="category"  [(ngModel)]="selectDivisiones5" [inputId]="category.value" (click)="DatosGrafica6()"></p-checkbox>
              <label>{{category.label}}</label>
            </div>
            <h5>Filtro diagnosticos</h5>
            <p-multiSelect defaultLabel="Seleccione" [options]="opcion5" optionLabel="label" [(ngModel)]="selectEvento5" (onChange)="DatosGrafica6()"></p-multiSelect>
          </div>
        </div>
        <hr>

        <div class="ui-g" *ngIf="flag6">
          <div class="ui-g-12 ui-sm-12 ui-md-12 align-items-center">
            <p-radioButton name="group6" [(ngModel)]="radioButon6" label="Total " [value]="0" (onClick)="DatosGrafica7()" [style]="{'margin-left':'15px'}"></p-radioButton>
            <p-radioButton name="group6" [(ngModel)]="radioButon6" label=" Comun " [value]="1" (onClick)="DatosGrafica7()" [style]="{'margin-left':'15px'}"></p-radioButton>
            <p-radioButton name="group6" [(ngModel)]="radioButon6" label=" Laboral " [value]="2" (onClick)="DatosGrafica7()" [style]="{'margin-left':'15px'}"></p-radioButton>
          </div>
          <div class="ui-g-12">&nbsp;</div>
          <div  class="ui-g-8 ui-g-nopad">
            <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad grafic" *ngIf="flagReturnDatos6">
                <ngx-charts-bar-vertical-2d
                class="align-items-center"
                [scheme]="colorScheme"
                [results]="datosGraf6Print"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Diagnosticos'"
                [yAxisLabel]="'No. Casos'"
                [showDataLabel]="false"
                [barPadding]=0
                [groupPadding]=4
                [tooltipDisabled]="false">
                </ngx-charts-bar-vertical-2d>
            </div>
            <ng-container *ngIf="!flagReturnDatos6">
              <div class="ui-g-11 ui-sm-11 ui-md-11 ui-g-nopad">
                <s-dataNotFound [message]="'Selecione una división'"></s-dataNotFound>
              </div>
            </ng-container>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-2">&nbsp;</div>
            <div class="ui-g-8">
              <div class="ui-g-6" *ngIf="flagReturnDatos6">  
                <i style="font-size:24px" class="fa">&#xf073;</i>   
                <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="fechaDesde7" (ngModelChange)="DatosGrafica7()"> </p-calendar> 
              </div>
              <div class="ui-g-6" *ngIf="flagReturnDatos6"> 
                <i style="font-size:24px" class="fa">&#xf073;</i> 
                <p-calendar [showButtonBar]="true" [locale]="localeES" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body" [(ngModel)]="fechaHasta7" (ngModelChange)="DatosGrafica7()"> </p-calendar>
              </div>
            </div>
          </div>

          <div class="ui-g-4 ui-sm-12 ui-md-4 align-items-center justify-content-md-center filter">
            <h5>Division</h5>
            <p-dropdown appendTo="body" [options]="divisiones3" [(ngModel)]="selectDivisiones6" placeholder="Seleccionar división" (onChange)="cargarArea7()"></p-dropdown>
            <ng-container *ngIf="selectDivisiones6.length>0">
              &nbsp;
              <h5>Estructura</h5>
              <button style="display:flex" pButton type="button" icon="fa fa-pencil" (click)="abrirDialogo7()" label="Seleccionar Ubicación"></button>
            </ng-container>
            &nbsp;
            <h5>Filtro casos</h5>
            <p-multiSelect defaultLabel="Seleccione" [options]="opcion6" optionLabel="label" [(ngModel)]="selectEvento6" (onChange)="DatosGrafica7()"></p-multiSelect>
          </div>
        </div>
      </p-panel>
  </div>
</div>
<!-- <button (click)="restarTree()"></button> -->
<!-- grafica 3 -->
<p-dialog header="Estructura" [(visible)]="visibleDlg" [contentStyle]="{'max-height':'95%'}" [style]="{width: '80%', height: '70%'}">
    
  <div >
      <label for="" class="active">Seleccionar ubicacion</label>
  </div>

  <div >
      <p-tree #tree [filter]="true" [value]="areasNodesMemory1" selectionMode="checkbox" [(selection)]="selectUbicacion2" layout="vertical"></p-tree>
  </div>

  <p-footer>
      <button pButton type="button" (click)="DatosGrafica3()" label="Aceptar"></button>
      <button pButton type="button" (click)="cerrarDialogo()" class="ui-button-secondary" label="Cancelar"></button>
  </p-footer>
  
</p-dialog>
<!-- grafica 5 -->
<p-dialog header="Estructura" [(visible)]="visibleDlg2" [contentStyle]="{'max-height':'95%'}" [style]="{width: '80%', height: '70%'}">
    
  <div >
      <label for="" class="active">Seleccionar ubicacion</label>
  </div>

  <div >
      <p-tree [filter]="true" [value]="areasNodesMemory5" selectionMode="checkbox" [(selection)]="selectUbicacion4" layout="vertical"></p-tree>
  </div>

  <p-footer>
      <button pButton type="button" (click)="DatosGrafica5()" label="Aceptar"></button>
      <button pButton type="button" (click)="cerrarDialogo5()" class="ui-button-secondary" label="Cancelar"></button>
  </p-footer>
  
</p-dialog>
<!-- grafica 6 -->
<p-dialog header="Estructura" [(visible)]="visibleDlg3" [contentStyle]="{'max-height':'95%'}" [style]="{width: '80%', height: '70%'}">
    
  <div >
      <label for="" class="active">Seleccionar ubicacion</label>
  </div>

  <div >
      <p-tree [filter]="true" [value]="areasNodesMemory7" selectionMode="checkbox" [(selection)]="selectUbicacion6" layout="vertical"></p-tree>
  </div>

  <p-footer>
      <button pButton type="button" (click)="DatosGrafica7()" label="Aceptar"></button>
      <button pButton type="button" (click)="cerrarDialogo7()" class="ui-button-secondary" label="Cancelar"></button>
  </p-footer>
  
</p-dialog>