input[type="text"]{
  border: none;
  border-bottom: solid thin #ccc;
}

table{
  width: 100%;
}

.table th{
  color: #777;
  font-weight: 100;
  text-align: left;
}

.column-tree{
  display: flex;
  // justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border: none !important;
}