.subtotal{
  display: flex;
  justify-content: right;
}
.subtotal label{
  align-self: center;
}

.title{
  background-color: #777;
  color: #fff;
}

.subtitle{  
  background-color: #eee;
}

i{
  color:#3ba2dc;
}