.rigth-button{
    margin-left: 15px;
}

.my-center-text {
    text-align: center;
    width: 100%;
}

.contenedor .ui-chkbox-label  .ui-dialog .ui-dialog-content{
    width: 1000px !important;
}


.ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    
    width: 100% ;
    // margin-left: -180px;
}

body .ui-dialog .ui-dialog-titlebar {
    border: 1px solid #c8c8c8;
    background-color: #f4f4f4;
    color: #333333;
    padding: 1em;
    font-weight: 700;
    border-bottom: 0 none;
    width: 100% ;
    // margin-left: -180px;
}

body .ui-dialog .ui-dialog-footer {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
    margin: 0;
    text-align: right;
    position: relative;
    top: -1px;
    width:100%;
    // margin-left: -180px;
}
// #tree-comp {
//     width: 100% !important;
// }

.ui-tree {
    width: 100%;
}