<p-growl [value]="msgs"></p-growl>

<div *ngIf="finalizado" style="margin: 20px;">
  <h2>Inspección finalizada</h2>
  <br/>
  <a (click)="volver()">Volver</a>
</div>
<p-progressBar *ngIf="initLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

<div *ngIf="!finalizado && initLoading == false" id="contenedor">
  <p-panel>
    <p-header>
      <div style="float: left;">
        <button *ngIf="!adicionar" pButton icon="fa fa-print" (click)="imprimir()" class="soft-icon"></button>
        {{listaInspeccion?.nombre}}

      </div>
      <div style="float: right;">
        {{listaInspeccion?.codigo}} | Versión: {{listaInspeccion?.listaInspeccionPK.version}}
         <p> Ubicacion: {{programacion ? programacion.area.nombre : "" }}</p>

      </div>
    </p-header>
    
    <p>
      {{listaInspeccion?.descripcion}}
    </p>
    <br>
    <div class="uploaders"  *ngIf="listaEvidence.length > 0 ">
      <app-file-uploader *ngFor="let evidence of listaEvidence; let i = index" [img]="evidence" [index]="i"
          [show]="true">
      </app-file-uploader>
    </div> 
  </p-panel>
  <br/>
  <s-formulario *ngIf="listaInspeccion?.formulario" [formularioModel]="listaInspeccion?.formulario" (onValidChange)="actualizarValidacion($event)"></s-formulario>
  <br/>
  <s-lista-inspeccion-form [value]="listaInspeccion?.elementoInspeccionList" [opciones]="listaInspeccion?.opcionCalificacionList"
    [editable]="false" [disabled]="consultar" [nivelRiesgoList]="nivelRiesgoList" diligenciable="true" #listaInspeccionForm
    [usarNivelRiesgo]="listaInspeccion?.usarNivelRiesgo" [usarTipoHallazgo]="listaInspeccion?.usarTipoHallazgo"></s-lista-inspeccion-form>
   
  <br>
  <p-panel *ngIf="permisoHse">
    <p-header>
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <label class="ui-panel-title">Visto Bueno HSE</label>
    </p-header>
    <form [formGroup]="FormHseq" *ngIf="mostarHseGet">
      <div>
        <i class="pi pi-check-circle aceptar" *ngIf="FormHseq.value.concepto=='Aceptado'"></i>
        <i class="pi pi-minus-circle denegar" *ngIf="FormHseq.value.concepto=='Denegado'"></i>
        <label>Concepto</label>
        <div>
          <input type="text" formControlName="concepto" [(ngModel)]="FormHseq.value.concepto" [value]="FormHseq.value.concepto" readOnly="true"/>
        </div>
        <label>Usuario que Gestiona</label>
        <div>
          <input type="text" formControlName="usuarioGestiona" [(ngModel)]="FormHseq.value.usuarioGestiona" [value]="FormHseq.value.usuarioGestiona" readOnly="true"/>
        </div>
        <label>Cargo</label>
        <div>
          <input type="text" formControlName="cargo" readOnly="true"/>
        </div>
        <label>Fecha</label>
        <div>
          <input 
            [readOnly]="!FormHseq.invalid"
            type="date" 
            formControlName="fecha" 
            [value]="selectDateHse|date:'yyyy-MM-dd':'GMT'" 
            [min]="minDateHse|date:'yyyy-MM-dd'" 
            [max]="maxDateHse | date:'yyyy-MM-dd'" 
            style="width: 20%;"
            [(ngModel)]="selectDateHse"
            (ionChange)="rangoFechaCierreHse($event)"/>
        </div>
        <br>
        <button *ngIf="FormHseq.invalid" pButton type="button" icon="fa fa-check" label="Aceptar" (click)="botonAceptar('HSE')" style="margin-right: 10px;" class="ui-button-success"></button>
        <button *ngIf="FormHseq.invalid" pButton type="button" icon="fa fa-ban" label="Denegar" (click)="botonDenegar('HSE')" class="ui-button-danger"></button>
      </div>
    </form>
    <div *ngIf="!mostarHseGet">
      <h2>No posee visto bueno</h2>
    </div> 
  </p-panel>
  
  <br>
  <p-panel *ngIf="permisoIngenieria">
    <p-header>
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <label class="ui-panel-title">Visto Bueno Supervisión/Ingenieria</label>
    </p-header>
    <form [formGroup]="FormIng" *ngIf="mostarIngGet">
      <div>
        <i class="pi pi-check-circle aceptar" *ngIf="FormIng.value.concepto=='Aceptado'"></i>
        <i class="pi pi-minus-circle denegar" *ngIf="FormIng.value.concepto=='Denegado'"></i>
        <label>Concepto</label>
        <div>
          <input type="text" formControlName="concepto" [(ngModel)]="FormIng.value.concepto" [value]="FormIng.value.concepto" readOnly="true"/>
        </div>
        <label>Usuario que Gestiona</label>
        <div>
          <input type="text" formControlName="usuarioGestiona" [(ngModel)]="FormIng.value.usuarioGestiona" [value]="FormIng.value.usuarioGestiona" readOnly="true"/>
        </div>
        <label>Cargo</label>
        <div>
          <input type="text" formControlName="cargo" readOnly="true"/>
        </div>
        <label>Fecha</label>
        <div>
          <input 
            [readOnly]="!FormIng.invalid"
            type="date" 
            formControlName="fecha" 
            [value]="selectDateIngenieria|date:'yyyy-MM-dd':'GMT'" 
            [min]="minDateIngenieria|date:'yyyy-MM-dd'" 
            [max]="maxDateIngenieria | date:'yyyy-MM-dd'" 
            style="width: 20%;"
            [(ngModel)]="selectDateIngenieria"
            (ionChange)="rangoFechaCierre($event)"/>
        </div>
        <br>
         <button *ngIf="FormIng.invalid" pButton type="button" icon="fa fa-check" label="Aceptar" (click)="botonAceptar('ING')" style="margin-right: 10px;" class="ui-button-success"></button>
         <button *ngIf="FormIng.invalid" pButton type="button" icon="fa fa-ban" label="Denegar" (click)="botonDenegar('ING')" class="ui-button-danger"></button>
      </div>
    </form> 
    <div *ngIf="!mostarIngGet">
      <h2>No posee visto bueno</h2>
    </div> 
  </p-panel>
  <br>
  <br>
  <button pButton type="button" icon="fa fa-floppy-o" *ngIf="adicionar && solicitando == false"(click)="onSubmit()"
    class="float-btn" data-toggle="tooltip" data-placement="bottom" title="Guardar"></button>

  <button pButton type="button" icon="fa fa-pencil" *ngIf="modificar && solicitando == false" (click)="onSubmit()"
    class="float-btn ui-button-success" data-toggle="tooltip" data-placement="bottom" title="Modificar"></button>

  <p-progressSpinner *ngIf="solicitando == true" class="float-btn" strokeWidth="8" [style]="{width: '35px', height: '35px'}"></p-progressSpinner>

</div>

<div id="plantilla" style="display: none;">
  <div style="background-color: white">
    <table width="100%" style="border-collapse: collapse;">
      <tr>
        <td rowspan="2" style="width: 30%;border:solid thin #ccc;text-align: center">
          <img style="width:100%;" id="P_empresa_logo" />
        </td>        
        <td style="width: 55%;border:solid thin #ccc;text-align: center">
          SISTEMA DE GESTION DE SEGURIDAD Y SALUD EN EL TRABAJO
        </td>
        <td style="width: 15%;border:solid thin #ccc;text-align: center">
          Código: <label id="P_codigo"></label>
        </td>
      </tr>
      <tr>
        <td style="border:solid thin #ccc;text-align: center">
          <label id="P_lista_nombre"></label>
        </td>
        <td style="border:solid thin #ccc;text-align: center">
          Version <label id="P_version"></label>
        </td>
      </tr>
      <tr>
        
        <td  colspan="3" style="width: 30%;border:solid thin #ccc;text-align: center">      
          <div>
            <app-file-uploader *ngFor="let evidence of listaEvidence; let i = index" [img]="evidence" [index]="i"
                [show]="true" style="display:block;" width="20%" >
            </app-file-uploader>          
          </div>
        </td>        
        
      </tr>
      <tr>
        <td colspan="3" style="background-color:#eee;border:solid thin #ccc;padding: 8px;-webkit-print-color-adjust: exact;">
          <label id="P_formulario_nombre"></label>
        </td>
      </tr>
      <tr id="L_campos_formulario">
        <td style="border:solid thin #ccc;padding: 8px;">

        </td>
        <td style="border:solid thin #ccc;padding: 8px;" colspan="2">

        </td> 
      </tr>
    </table>
    <table width="100%" style="border-collapse: collapse;">
      <tr id="L_elementos_lista">
        <td id="C_codigo" style="border:solid thin #ccc;padding: 8px;">

        </td>
        <td id="C_nombre" style="border:solid thin #ccc;padding: 8px;">

        </td>
        <td id="C_opciones" style="border:solid thin #ccc;padding: 8px;">

        </td>
        <td id="C_recomendacion" style="border:solid thin #ccc;padding: 8px;">

        </td>
      </tr>
    </table>
    <table width="100%" style="border-collapse: collapse;">
      <tr>

      </tr>
      <tr>
        <td  colspan="1" style="width: 30%;border:solid thin #ccc;text-align: center">
          Diligenciado por: <label id="P_version"></label>
        </td>             
         
        <td rowspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
          <label id="P_firma"></label>
          <label id="P_cargo"></label>
        </td>
        
      </tr>
      
    </table>
    <table width="100%" style="border-collapse: collapse;"  *ngIf="permisoHse">
      <tr>
        <td  colspan="4" style="background-color:#eee;border:solid thin #ccc;padding: 8px;-webkit-print-color-adjust: exact;">
          Visto Bueno HSE
        </td>
       
      </tr>
      <tr> 
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>Concepto</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label id="P_conceptohse">{{inspeccion?.conceptohse}}</label>
        
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>Usuario que gestiona</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>{{inspeccion?.empleadohse?.primerNombre}} {{inspeccion?.empleadohse?.primerApellido}}</label>
        
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>Cargo</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>{{inspeccion?.empleadohse?.cargo.nombre}}</label>
        
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label >Fecha</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label >{{inspeccion?.fechavistohse | date:'dd/MM/yyyy HH:mm'}}</label>
        
        </td>
      </tr>
    </table>
    <table width="100%" style="border-collapse: collapse;" *ngIf="permisoIngenieria">
      <tr>
        <td  colspan="4" style="background-color:#eee;border:solid thin #ccc;padding: 8px;-webkit-print-color-adjust: exact;">
          Visto Bueno Supervisión/Ingenieria
        </td>
       
      </tr>
      <tr> 
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>Concepto</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>{{inspeccion?.conceptoing}}</label>
        
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>Usuario que gestiona</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>{{inspeccion?.empleadoing?.primerNombre}} {{inspeccion?.empleadoing?.primerApellido}}</label>
        
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>Cargo</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label>{{inspeccion?.empleadoing?.cargo.nombre}}</label>
        
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label >Fecha</label>
        
        </td>
        <td colspan="2" style="width: 200px;border:solid thin #ccc;text-align: center">
              
        <label >{{inspeccion?.fechavistoing | date:'dd/MM/yyyy HH:mm'}}</label>
        
        </td>
      </tr>
    </table>

  </div>
</div>