<p-growl [value]="msgs"></p-growl>

<div *ngIf="finalizado" style="margin: 20px;">
  <h2>Inspección finalizada</h2>
  <br/>
  <a (click)="volver()">Volver</a>
</div>
<p-progressBar *ngIf="initLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

<div *ngIf="!finalizado && initLoading == false" id="contenedor">
  <p-panel>
    <p-header>
      <div style="float: left;">
        <button *ngIf="!adicionar" pButton icon="fa fa-print" (click)="imprimir()" class="soft-icon"></button>
        {{listaInspeccion?.nombre}}

      </div>
      <div style="float: right;">
        {{listaInspeccion?.codigo}} | Versión: {{listaInspeccion?.listaInspeccionPK.version}}
         <p> Ubicacion: {{programacion ? programacion.area.nombre : "" }}</p>

      </div>
    </p-header>
    
    <p>
      {{listaInspeccion?.descripcion}}
    </p>
    <br>
    <div class="uploaders"  *ngIf="listaEvidence.length > 0 ">
      <app-file-uploader *ngFor="let evidence of listaEvidence; let i = index" [img]="evidence" [index]="i"
          [show]="true">
      </app-file-uploader>
    </div> 
  </p-panel>
  <br/>
  <s-formulario *ngIf="listaInspeccion?.formulario" [formularioModel]="listaInspeccion?.formulario" (onValidChange)="actualizarValidacion($event)"></s-formulario>
  <br/>
  <s-lista-inspeccion-form [value]="listaInspeccion?.elementoInspeccionList" [opciones]="listaInspeccion?.opcionCalificacionList"
    [editable]="false" [disabled]="consultar" [nivelRiesgoList]="nivelRiesgoList" diligenciable="true" #listaInspeccionForm
    [usarNivelRiesgo]="listaInspeccion?.usarNivelRiesgo" [usarTipoHallazgo]="listaInspeccion?.usarTipoHallazgo"></s-lista-inspeccion-form>
   
  <br>
  <p-panel *ngIf="permisoHse">
    <p-header>
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <label class="ui-panel-title">Visto Bueno HSE</label>
    </p-header>
    <form [formGroup]="FormHseq" *ngIf="mostarHseGet">
      <div>
        <i class="pi pi-check-circle aceptar" *ngIf="FormHseq.value.concepto=='Aceptado'"></i>
        <i class="pi pi-minus-circle denegar" *ngIf="FormHseq.value.concepto=='Denegado'"></i>
        <label>Concepto</label>
        <div>
          <input type="text" formControlName="concepto" [(ngModel)]="FormHseq.value.concepto" [value]="FormHseq.value.concepto" readOnly="true"/>
        </div>
        <label>Usuario que Gestiona</label>
        <div>
          <input type="text" formControlName="usuarioGestiona" [(ngModel)]="FormHseq.value.usuarioGestiona" [value]="FormHseq.value.usuarioGestiona" readOnly="true"/>
        </div>
        <label>Cargo</label>
        <div>
          <input type="text" formControlName="cargo" readOnly="true"/>
        </div>
        <label>Fecha</label>
        <div>
          <input 
            [readOnly]="!FormHseq.invalid"
            type="date" 
            formControlName="fecha" 
            [value]="selectDateHse|date:'yyyy-MM-dd':'GMT'" 
            [min]="minDateHse|date:'yyyy-MM-dd'" 
            [max]="maxDateHse | date:'yyyy-MM-dd'" 
            style="width: 20%;"
            [(ngModel)]="selectDateHse"
            (ionChange)="rangoFechaCierreHse($event)"/>
        </div>
        <br>
        <button *ngIf="FormHseq.invalid" pButton type="button" icon="fa fa-check" label="Aceptar" (click)="botonAceptar('HSE')" style="margin-right: 10px;"></button>
        <button *ngIf="FormHseq.invalid" pButton type="button" icon="fa fa-ban" label="Denegar" (click)="botonDenegar('HSE')"></button>
      </div>
    </form>
    <div *ngIf="!mostarHseGet">
      <h2>No posee visto bueno</h2>
    </div> 
  </p-panel>
  
  <br>
  <p-panel *ngIf="permisoIngenieria">
    <p-header>
      <i class="fa fa-th-list" aria-hidden="true"></i>
      <label class="ui-panel-title">Visto Bueno Supervisión/Ingenieria</label>
    </p-header>
    <form [formGroup]="FormIng" *ngIf="mostarIngGet">
      <div>
        <i class="pi pi-check-circle aceptar" *ngIf="FormIng.value.concepto=='Aceptado'"></i>
        <i class="pi pi-minus-circle denegar" *ngIf="FormIng.value.concepto=='Denegado'"></i>
        <label>Concepto</label>
        <div>
          <input type="text" formControlName="concepto" [(ngModel)]="FormIng.value.concepto" [value]="FormIng.value.concepto" readOnly="true"/>
        </div>
        <label>Usuario que Gestiona</label>
        <div>
          <input type="text" formControlName="usuarioGestiona" [(ngModel)]="FormIng.value.usuarioGestiona" [value]="FormIng.value.usuarioGestiona" readOnly="true"/>
        </div>
        <label>Cargo</label>
        <div>
          <input type="text" formControlName="cargo" readOnly="true"/>
        </div>
        <label>Fecha</label>
        <div>
          <input 
            [readOnly]="!FormIng.invalid"
            type="date" 
            formControlName="fecha" 
            [value]="selectDateIngenieria|date:'yyyy-MM-dd':'GMT'" 
            [min]="minDateIngenieria|date:'yyyy-MM-dd'" 
            [max]="maxDateIngenieria | date:'yyyy-MM-dd'" 
            style="width: 20%;"
            [(ngModel)]="selectDateIngenieria"
            (ionChange)="rangoFechaCierre($event)"/>
        </div>
        <br>
         <button *ngIf="FormIng.invalid" pButton type="button" icon="fa fa-check" label="Aceptar" (click)="botonAceptar('ING')" style="margin-right: 10px;"></button>
         <button *ngIf="FormIng.invalid" pButton type="button" icon="fa fa-ban" label="Denegar" (click)="botonDenegar('ING')"></button>
      </div>
    </form> 
    <div *ngIf="!mostarIngGet">
      <h2>No posee visto bueno</h2>
    </div> 
  </p-panel>
  <br>
  <br>
  <button pButton type="button" icon="fa fa-floppy-o" *ngIf="adicionar && solicitando == false"(click)="onSubmit()"
    class="float-btn" data-toggle="tooltip" data-placement="bottom" title="Guardar"></button>

  <button pButton type="button" icon="fa fa-pencil" *ngIf="modificar && solicitando == false" (click)="onSubmit()"
    class="float-btn ui-button-success" data-toggle="tooltip" data-placement="bottom" title="Modificar"></button>

  <p-progressSpinner *ngIf="solicitando == true" class="float-btn" strokeWidth="8" [style]="{width: '35px', height: '35px'}"></p-progressSpinner>

</div>
