

<!-- <p-toast></p-toast> -->

<!-- <button pButton>gas</button> -->
<button pButton pRipple label="Nuevo" icon="pi pi-plus" (click)="openNew()"></button>
<button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>

<div >
    <!-- <p-toolbar >
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar> -->

    <p-table #dt [value]="miembrosList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
         [showCurrentPageReport]="false">
        <!-- <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Miembros del equipo</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="doc">Cedula <p-sortIcon field="doc"></p-sortIcon></th>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Cargo <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">División <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Localidad <p-sortIcon field="rating"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-miembro>
            <tr>
                <td>
                    <p-tableCheckbox [value]="miembro"></p-tableCheckbox>
                </td>
                <td>{{miembro.cedula}}</td>
                <td>{{miembro.nombre}}</td>
                <td>{{miembro.cargo}}</td>
                <td>{{miembro.division}}</td>
                <td>{{miembro.localidad}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(miembro)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(miembro)"></button>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{miembros ? miembros.length : 0 }} products.
            </div>
            <h1>{{miembros.length%2}}</h1>
            <div *ngIf="miembros.length%2==0">
                <h1>El numero de miembros debe ser impar</h1>
            </div>
        </ng-template> -->
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Agregar Miembro al Equipo" [modal]="true" styleClass="p-fluid">
        <div class="p-field">
            <label for="Cedula">Cédula</label>
            <input type="number" required autofocus [(ngModel)]="cedula" />
        </div>
        <div class="p-field">
            <label for="Nombre">Nombre</label>
            <input type="text" required autofocus [(ngModel)]="nombre" />
            <small class="p-invalid" *ngIf="submitted && !nombre">is required.</small>
        </div>
        <div class="p-field">
            <label for="Cargo">Cargo</label>
            <input type="text" required autofocus [(ngModel)]="cargo" />
        </div>
        <div class="p-field">
            <label for="Division">División</label>             
            <p-dropdown [options]="DivisionList" [(ngModel)]="division"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="Localidad">Localidad</label>
            <input type="text" required autofocus [(ngModel)]="localidad" />
        </div>

        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog();salida();"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct();salida();"></button>
   
</p-dialog>

<p-toast></p-toast>
<!-- <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger"></button> -->