<div>
    <strong>Seleccione el gestor o interventor del contrato</strong>

    <div class="card">

    
        <p-table #dt styleClass="material-table" autoLayout="true"  [lazy]="true" [value]="gestorInters" [rows]="10" [paginator]="true"
             [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="gestor.primerNombre">Nombre</th>
                    <th pSortableColumn="cargo">Cargo</th>
                    <th pSortableColumn="gestor.numeroIdentificacion">No. documento</th>
                    <th pSortableColumn="email">Correo</th>
                    <th pSortableColumn="telefono">Telefono</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td>{{rowData.gestor?.primerNombre}} {{rowData.gestor?.primerApellido}}</td>
                    <td>{{rowData.cargo}}</td>
                    <td>{{rowData.gestor?.numeroIdentificacion}}</td>
                    <td>{{rowData.email}}</td>
                    <td>{{rowData.telefono}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(rowData)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(rowData)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Gestor o interventor" [modal]="true" styleClass="p-fluid">
        <!-- <ng-template pTemplate="content"> -->
            <div class="p-field">
                <label>Gestor o interventor</label>
                <!-- <s-empleadoSelector [(ngModel)]="empleadoSelect " (onSelect)="onData()"  [readOnly]="onEdit!='edit'"></s-empleadoSelector> -->
                <s-empleadoBasicSelector [(ngModel)]="gestorInter.gestor" [readOnly]="onEdit!='edit'"  (onSelect)="onData()" required autofocus></s-empleadoBasicSelector>
                <small class="p-invalid" *ngIf="submitted && !gestorInter.gestor">Interventor o gestor requerido.</small>
            </div>
            <div class="p-field">
                <label>Correo</label>
                <input type="text" pInputText [(ngModel)]="gestorInter.email" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !gestorInter.email">Correo requerido.</small>
            </div>
            <div class="p-field">
                <label>Telefono</label>
                <input type="text" pInputText  [(ngModel)]="gestorInter.telefono" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !gestorInter.telefono">Telefono es requerido.</small>
            </div>
        
        <div>
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()" *ngIf="!edit"></button>
            <button pButton pRipple label="Editar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"*ngIf="edit"></button>
        </div>
    </p-dialog>
</div>

