<p-growl [value]="msgs"></p-growl>

<p-panel header="CARGA ARCHIVO REPORTES AT">
  <p-radioButton name="tipoReporte" value="ACCIDENTE" label="Accidente" [(ngModel)]="tipoReporte" required></p-radioButton>
  <p-radioButton name="tipoReporte" value="INCIDENTE" label="Incidente" [(ngModel)]="tipoReporte" required></p-radioButton>

  <br/>
  <input type="file" #fileChooser (change)="onFileSelect(fileChooser.files)" style="display: none;" onclick="this.value=null;"/>
  <table *ngIf="cargando">
    <tr>
      <td>
        <p-progressSpinner strokeWidth="8" [style]="{width: '35px', height: '35px'}" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
      </td>
      <td>Cargando archivo {{file?.name}}</td>
    </tr>
  </table>
  <button *ngIf="!cargando" pButton type="button" icon="fa fa fa-upload" (click)="fileChooser.click()" label="Cargar archivo"
    [disabled]="!tipoReporte"></button>
<!-- </p-panel>
    <p-panel *ngIf="idEmpresa == '3'">
        <app-flow-chart></app-flow-chart>
    </p-panel>
<p-panel> -->
   