.tab-list{
    width: 100%;
    border-bottom: solid thin #ccc;
    padding: 10px;
}

i{
    margin-right: 15px;
    cursor: pointer;
}

.border-bottom-dataset{
    border-bottom: solid thin #ccc;
    padding-bottom: 5px;
}

.input-color{
    width: 50px;
    background: #00000000;
    border: none !important;
    cursor: pointer;
}