<s-dataNotFound *ngIf="!aliadosList || aliadosList.length <= 0" icon="fa-handshake-o" message="No se encontraron registros de Aliados">
        <button pButton type="button" icon="fa fa-plus" [routerLink]="['/app/ctr/aliado']" label="Crear"></button>
</s-dataNotFound>

<p-panel header="Lista de Aliados" [style.display]="aliadosList && aliadosList.length > 0 ? 'block':'none'">
  <p-tabView>
    <p-table [value]="aliadosList" responsiveLayout="scroll" (onRowUnselect)="onRowSelect($event)" [(selection)]="selectedList">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <!-- <th pSortableColumn="name">
                    <div class="flex justify-content-between align-items-center">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                </th> -->
                <th>
                    Nombre o Razón Social
                </th>
                <th>
                    Tipo de Persona
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Calificación
                </th>
                <th>
                    Fecha Creación
                </th>
                <th>
                    Fecha Modificación
                </th>
                <th></th>
            </tr>
            <!-- <tr class="filters">

            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>
                    <p-tableCheckbox [value]="rowData" (ngModelChange)="onRowSelect($event)"></p-tableCheckbox>
                </td>
                <td>
                    {{rowData.razonSocial}}
                </td>
                <td>
                    {{rowData.tipo_persona}}
                </td>
                <td>
                    {{rowData.estado}}
                </td>
                <td>
                    {{rowData.calificacion}}
                </td>
                <td>
                    {{rowData.fechaCreacion | date:'dd/MM/yyyy'}}
                </td>
                <td>
                    {{rowData.fechaActualizacion | date:'dd/MM/yyyy'}}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="onEdit(rowData)" title="Editar"></button>
                    <button pButton pRipple icon="pi pi-power-off" *ngIf="rowData.activo" class="p-button-rounded ui-button-success p-mr-2" (click)="onChangeStatusAliado(rowData, 'Desactivar')" title="Desactivar Alidado"></button>
                    <button pButton pRipple icon="pi pi-power-off" *ngIf="!rowData.activo" class="p-button-rounded ui-button-danger p-mr-2" (click)="onChangeStatusAliado(rowData, 'Activar')" title="Activar Alidado"></button>
                    <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded ui-button-warning" (click)="onEdit(rowData)" title="Enviar correo"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <button pButton type="button" icon="fa fa-plus" [routerLink]="['/app/ctr/aliado']" label="Crear"></button>    
            <!-- <button pButton type="button" icon="fa fa-pencil" label="Modificar" class="ui-button-success" (click)="onEdit(rowData)" [disabled]="!caseSelect"></button>     -->
            <button pButton type="button" icon="pi pi-envelope" label="Enviar Correos" class="ui-button-warning" (click)="ngOnInit()" [disabled]="!caseSelect"></button>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" class="p-text-center">No hay registro con los términos de filtro usados
                </td>
            </tr>
        </ng-template>
    </p-table>
  </p-tabView>
</p-panel>

<!-- <button (click)="test()">test</button> -->