<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<p-card class="ui-g-12"  >
   
    <div class="p-grid  p-mt-3 p-jc-evenly colorsitos" style="padding: 2px 2px;">

        <p class=".col-md-4"><circle-progress
        [percent]="NoEventos"
        [radius]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        
        ></circle-progress></p>

        <p class=".col-md-4"><circle-progress
        [percent]="250"
        [radius]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5132db'"
        [innerStrokeColor]="'#96d3e5'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress></p>

        <p class=".col-md-4"><circle-progress
        [percent]="0.047"
        [radius]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#db328f'"
        [innerStrokeColor]="'#e596d8'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress></p>

        <div class="p-col-12 p-mt-3 mid-border">
            <div class="p-grid p-jc-evenly">
                <div class="p-grid" ><p class=".col-md-4" [style.background-color]="'#8fb56f'" style="color:rgb(7, 7, 7);font-size:15px; border-radius: 40px; padding: 10px 10px;">Numero de eventos</p></div>     
                <div class="p-grid" ><p class=".col-md-4" [style.background-color]="'#65afc4'" style="color:rgb(7, 7, 7);font-size:15px; border-radius: 40px; padding: 10px 10px;">Días perdidos</p></div>
                <div class="p-grid" ><p class=".col-md-4" [style.background-color]="'#a4719b'" style="color:rgb(7, 7, 7);font-size:15px; border-radius: 40px; padding: 10px 10px;">ILI</p></div>
            </div>
        </div>
        
          <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Numero de Eventos</h6>
                            <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span style="
                                font-size: 40px;
                            ">31</span></h2>
                            
                        </div>
                    </div>
                </div>                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Dias perdidos</h6>
                            <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span style="
                                font-size: 40px;
                            ">250</span></h2>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">ILI</h6>
                            <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span style="
                                font-size: 40px;
                            ">0.0471</span></h2>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Meta</h6>
                            <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>0.02953</span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 ">
            <div class="row ">
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Numero de ATs</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                
                                <div class="col-4 text-right">
                                    <span class="tamañotexto">31</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Dias perdidos</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                
                                <div class="col-4 text-right">
                                    <span class="tamañotexto">250</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">ILI</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                
                                <div class="col-4 text-left">
                                    <span class="tamañotexto">0.0471</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Meta</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-4 text-left">
                                    <span class="tamañotexto">0.02953</span>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-mt-4 mid-border">
            <div class="p-d-flex p-jc-evenly">
                <div class="p-d-flex"><p class="p-m-0">Area : </p> <area-selectorind></area-selectorind></div>
                <div class="p-d-flex">  
                    <i style="font-size:24px" class="fa">&#xf073;</i>   
                    <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" value="this.desde"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desde"  > </p-calendar> 
                </div>
                <div class="p-d-flex"> 
                    <i style="font-size:24px" class="fa">&#xf073;</i> 
                    <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desde" value="this.hasta"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hasta"> </p-calendar>
                </div>
            </div>
        </div>
    </div>
    
</p-card>