<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<p-card class="ui-g-12"  >
   
    <div class="p-grid  p-mt-3 p-jc-evenly colorsitos" style="padding: 2px 2px;">

        <div class="col-md-10 ">
            <div class="row ">
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Numero de ATs</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                
                                <div class="col-4 text-right">
                                    <span class="tamañotexto">{{this.NoEventos}}</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Dias perdidos</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                
                                <div class="col-4 text-right">
                                    <span class="tamañotexto">{{this.diasPerdidos}}</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">ILI</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                
                                <div class="col-4 text-left">
                                    <span class="tamañotexto">0.0471</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Meta</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-4 text-left">
                                    <span class="tamañotexto">0.02953</span>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-mt-4 mid-border">
            <div class="p-d-flex p-jc-evenly">
                <div class="p-d-flex"><p class="p-m-0">Area : </p> <area-selectorind></area-selectorind></div>
                <div class="p-d-flex">  
                    <i style="font-size:24px" class="fa">&#xf073;</i>   
                    <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" value="this.desde"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desde" (onSelect)="selecFromDate($event)" > </p-calendar> 
                </div>
                <div class="p-d-flex"> 
                    <i style="font-size:24px" class="fa">&#xf073;</i> 
                    <p-calendar [locale]="localeES" view="month" dateFormat="mm/yy" [minDate]="this.desde" value="this.hasta"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hasta" (onSelect)="selectToDate($event)"> </p-calendar>
                </div>
            </div>
        </div>
    </div>
    
</p-card>