input{
	width: 100%;
}

#main-pnl{
	margin: auto;
	width: 320px;
	/*margin-top: 100px;*/
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	background-color: white;
	padding: 0px;
	overflow: hidden;
	border-radius: 3px;
}

.logo{
	background-color: #3ba2dc;
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/assets/images/logo.svg);
  opacity: 0.9;
  background-size: 130px;
	
}

.form-container {
	margin-top: 20px;
  text-align: center;
  padding: 15px;	
}

.form-container .btn-send:hover{
	background: #2ebc99;
}

.no-box-shadow > .ui-dialog{
	box-shadow: none !important;
}

.panel-login-fallidos{
	position: fixed;
	background-color: #FFFFFFAA;
	width: 100%;
	height: 100%;
	z-index: 1050;
}
.panel-login-fallidos div{
	text-align: center;
	margin: auto;
  background-color: white;
  width: 300px;
  padding: 15px;
  box-shadow: 2px 2px 5px #ccc;
}