<p-dialog header="Login" [(visible)]="visible" [responsive]="true" showEffect="fade" [modal]="modal" [closable]="false"
    [draggable]="false" [resizable]="false" [showHeader]="false"
    [contentStyle]="{'border':'none', 'padding':'0px', 'background-color':'#FFFFFF00'}" class="no-box-shadow">
    <p-growl [(value)]="msgs" life="10000"></p-growl>
    <div id="main-pnl">
        <div class="logo"></div>

        <div class="form-container">
            <form [formGroup]="userform" (ngSubmit)="validate(userform.value)">
                <div class="ui-g">
                    <div class="ui-g-12" *ngIf="visiblePinForm == false">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                            <input type="text" pInputText placeholder="Correo Electrónico" formControlName="username" />
                        </div>
                    </div>

                    <div class="ui-g-12" *ngIf="visiblePinForm == false">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
                            <input [type]="password" pInputText placeholder="Contraseña" formControlName="passwd" />
                            <button type="button" (click)="mostrar()" class="btn btn-secondary">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                            </button>
                        </div>

                    </div>

                    <div class="ui-g-12" *ngIf="visiblePinForm == true">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
                            <input type="text" pInputText placeholder="PIN" formControlName="pin" />
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <p-checkbox name="recordarPasswd" binary="true" formControlName="recordar"
                            label="Mantener sesión" *ngIf="false"></p-checkbox>
                    </div>

                    <div class="ui-g-12">
                        <p-progressSpinner *ngIf="logueando == true" strokeWidth="8"
                            [style]="{width: '35px', height: '35px'}"></p-progressSpinner>
                        <button class="btn-send" *ngIf="logueando == false" pButton type="submit"
                            [label]="visiblePinForm == true ? 'Validar' : 'Ingresar'"
                            [disabled]="!userform.valid"></button>

                    </div>
                </div>
            </form>
            <div style="margin-top:25px;" (click)="solicitarReset()"
                *ngIf="visibleLnkResetPasswd && logueando == false && visiblePinForm == false">
                <a>Olvide mi contraseña</a>
            </div>
        </div>
    </div>
</p-dialog>

<div class="panel-login-fallidos" *ngIf="contadorFallas >= intentosMax">
    <div>
        <p>
            Se ha alcanzado el número máximo de intentos.
        </p>
        Podrá volver a intentar en
        <label style="color:#3ba2dc;font-weight: bold;">{{relojText}}</label>
    </div>
</div>
<a href="https://web.whatsapp.com/send?phone=+573177613792" class="btn-wsp" target="_blank">
    <i class="fa fa-whatsapp icono" title="Contacto con soporte técnico"></i>
    <div class="ocultar" >Asesoría inmediata por <strong>WhatsApp</strong> </div>
    <strong></strong>
  </a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">