
<p-card class="ui-g-12 " *ngIf="testing" >
   
    <div class="p-grid  p-mt-3 p-jc-evenly colorsitos">
    
<circle-progress
  [percent]="this.inptotal"
  [radius]="50"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  *sTienePermiso="'INP'"
></circle-progress>

<circle-progress
[percent]="this.inptotalat"
[radius]="50"
[outerStrokeWidth]="10"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#5132db'"
[innerStrokeColor]="'#96d3e5'"
[animation]="true"
[animationDuration]="300"
*sTienePermiso="'RAI'"
></circle-progress>

<circle-progress
[percent]="this.inptotalauc"
[radius]="50"
[outerStrokeWidth]="10"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#db328f'"
[innerStrokeColor]="'#e596d8'"
[animation]="true"
[animationDuration]="300"
*sTienePermiso="'AUC'"
></circle-progress>


<div class="p-col-12 p-mt-3 mid-border">
    <div class="p-d-flex p-jc-evenly">
        
       
        <div class="p-d-flex" *sTienePermiso="'INP'"><p class=".col-md-4" [style.background-color]="'#8fb56f'" style="color:rgb(7, 7, 7);font-size:15px;"><strong>Cumplimiento Inspecciones</strong></p></div>
        <h2>This is the second heading <mdb-badge color="cyan">New</mdb-badge>  </h2>        
        <div class="p-d-flex" *sTienePermiso="'RAI'"><p class=".col-md-4" [style.background-color]="'#65afc4'" style="color:rgb(7, 7, 7);font-size:15px;"><strong>Cumplimiento Investigación de AT/IT</strong></p></div>
        <div class="p-d-flex" *sTienePermiso="'AUC'"><p class=".col-md-4" [style.background-color]="'#a4719b'" style="color:rgb(7, 7, 7);font-size:15px;"><strong>Cumplimiento Reporte de condiciones</strong></p></div>


    </div>
    </div>

        <div class="p-col-12 p-mt-4 mid-border">
            <div class="p-d-flex p-jc-evenly">
                

                <div class="p-d-flex"><p class="p-m-0">Area : </p> <area-selectorind  *ngIf="show" [(ngModel)]="areaSelected" (onAreaSelect)="actualizarArea($event)"   ></area-selectorind></div>
              <div class="p-d-flex">  
                  <i style="font-size:24px" class="fa">&#xf073;</i>   
                  <p-calendar [locale]="localeES" (onSelect)="selecFromDate($event)"  dateFormat="dd/mm/yy" value="this.desde"   placeholder="Desde" appendTo="body" [(ngModel)]="this.desde"  > </p-calendar> 
                </div>
                 
                <div class="p-d-flex"> 
                  <i style="font-size:24px" class="fa">&#xf073;</i> 
                  <p-calendar [locale]="localeES" (onSelect)="selectToDate($event)"   dateFormat="dd/mm/yy" value="this.hasta"   placeholder="Hasta" appendTo="body"  [(ngModel)]="this.hasta"> </p-calendar>

                </div>
                
               
                

            </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4" *sTienePermiso="'INP'">           
           <ng-container *ngIf="this.data">
            <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
            <div *ngIf="showData">
                <p-chart type="bar" [data]="data" [options]="options"></p-chart>
            </div>
           </ng-container>
            
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4" *sTienePermiso="'INP'">
            <ng-container *ngIf="this.data2">
                <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
            <div *ngIf="showData">
                <p-chart type="horizontalBar"  [data]="data2" [options]="options2" ></p-chart>
            </div>
        </ng-container>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4" *sTienePermiso="'INP'">
            <ng-container *ngIf="this.data">
                <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
                <div *ngIf="showData">
                <p-chart type="bar" [data]="data3" [options]="options3"></p-chart>
            </div>
        </ng-container>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4" *sTienePermiso="'RAI'">
            <ng-container *ngIf="this.data4">
                <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
                <div *ngIf="showData">
                    <p-chart type="bar" [data]="data4" [options]="options4"></p-chart>
                </div>
               </ng-container>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4" *sTienePermiso="'AUC'"> 
            <ng-container *ngIf="this.data5">
                <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
                <div *ngIf="showData">
                    <p-chart type="horizontalBar" [data]="data5" [options]="options5"></p-chart>
                </div>
               </ng-container>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4" *sTienePermiso="'RAI'">
            <ng-container *ngIf="this.data6">
                <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
                <div *ngIf="showData">
                    <p-chart type="bar" [data]="data6" [options]="options6"></p-chart>
                </div>
               </ng-container>
        </div>

        
    </div>
   

</p-card>

<div *ngIf="!testing" style="width: 100%; display: flex;
flex-direction: column-reverse;">
    
    <div class="center"><img src="assets/images/icons-invert/tenor.gif" alt=""  style="overflow: hidden"></div>

</div>
