.fa{
  font-size: 22px;
}

.fa-check-circle{
  color: green;
}

.mid-border{
    padding-top: 3px;
    padding-bottom: 5px;

border-top: 0.1px solid #ffffff;
}
.fa-times-circle{
  color:rgb(200, 0, 0);
}
.info-card {
    display: grid;
    grid-template-columns: auto 80%;
    min-height: 5rem;
     
}

    .ui-card{ 
    background: linear-gradient(256deg, #65afc4 0%, #88c0d0 100%);
        }

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .fa{
        font-size: 3rem;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .percent {
    font-size: 2rem;

}
p label{
  font-weight: bold;
}
.p-mt-6 {
  margin-top: 5px !important;
}

.center {
  margin: auto;
  width: 60%; 
  padding: 10px;
  }