<p-card class="ui-g-12 ">

    <div class="p-grid  p-mt-6 p-jc-evenly colorsitos">
        <p-card class="p-col-12 p-xl-3 p-md-6 " [style]="{'background-color': '#42a6f5'}">
            <div class="info-card">
                <div class="icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="percent p-m-0 p-badge">
                        67%
                    </p>
                    <label for="">INP Ejecutadas</label>
                </div>
            </div>
        </p-card>

        <p-card class="p-col-12 p-xl-3 p-md-6  " [style]="{'background-color': '#76e0aa'}">
            <div class="info-card">
                <div class="icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="percent p-m-0">
                        67%
                    </p>
                    <label for="">AT Investigados</label>
                </div>
            </div>
        </p-card>

        <p-card class="p-col-12 p-xl-3 p-md-6  " [style]="{'background-color': '#e0aa76'}">
            <div class="info-card">
                <div class="icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="percent p-m-0">
                        67%
                    </p>
                    <label for="">Condiciones reportadas</label>
                </div>
            </div>
        </p-card>
        <p-card class="p-col-12 p-xl-3 p-md-6" [style]="{'background-color': '#e07677'}">
            <div class="info-card">
                <div class="icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="percent p-m-0">
                        670
                    </p>
                    <label for="">AT reportados</label>
                </div>
            </div>
        </p-card>
 
        <div class="p-col-6 p-mt-4">
            <div class="p-d-flex p-jc-evenly">
                

                <div class="p-d-flex"><p class="p-m-0">Area:</p> <area-selectorind *ngIf="show" [(ngModel)]="areaSelected" (onAreaSelect)="actualizarArea($event)" ></area-selectorind></div>
              <div class="p-d-flex">      
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Desde" appendTo="body"></p-calendar>
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Hasta" appendTo="body"></p-calendar>

                </div>


            </div>
           <ng-container *ngIf="this.data">
            <p-progressSpinner *ngIf="!showData"></p-progressSpinner>
            <div *ngIf="showData">
                <p-chart type="bar" [data]="data"></p-chart>
            </div>
           </ng-container>
            
        </div>
        <div class="p-col-6 p-mt-4">
            <div class="p-d-flex p-jc-evenly">
                

                <div class="p-d-flex"><p class="p-m-0">Area:</p> <area-selectorind *ngIf="show" [(ngModel)]="areaSelected" (onAreaSelect)="actualizarArea($event)" ></area-selectorind></div>
              <div class="p-d-flex">      
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Desde" appendTo="body"></p-calendar>
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Hasta" appendTo="body"></p-calendar>

                </div>


            </div>
            <div>
                <p-chart type="bar" [data]="data2"></p-chart>
            </div>
        </div>
        <div class="p-col-6 p-mt-4">
            <div class="p-d-flex p-jc-evenly">
                

                <div class="p-d-flex"><p class="p-m-0">Area:</p> <area-selectorind *ngIf="show" [(ngModel)]="areaSelected" (onAreaSelect)="actualizarArea($event)" ></area-selectorind></div>
              <div class="p-d-flex">      
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Desde" appendTo="body"></p-calendar>
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Hasta" appendTo="body"></p-calendar>

                </div>


            </div>
            <div>
                <p-chart type="bar" [data]="data3"></p-chart>
            </div>
        </div>
        <div class="p-col-6 p-mt-4">
            <div class="p-d-flex p-jc-evenly">
                

                <div class="p-d-flex"><p class="p-m-0">Area:</p> <area-selectorind *ngIf="show" [(ngModel)]="areaSelected" (onAreaSelect)="actualizarArea($event)" ></area-selectorind></div>
              <div class="p-d-flex">      
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Desde" appendTo="body"></p-calendar>
                  <p-calendar  dateFormat="dd/mm/yy" placeholder="Hasta" appendTo="body"></p-calendar>

                </div>


            </div>
            <div>
                <p-chart type="bar" [data]="data"></p-chart>
            </div>
        </div>
        <div class="p-col-6"></div>


    </div>

   

</p-card>