<!-- Start file uploader -->
<div class="image-item" [ngClass]="{'upload': !imgURL, 'with-download': imgURL}">

    <input #file type="file" accept='image/*, application/*' (change)="onArchivoSelect($event)" class="file-upload">

    <!-- Start loader -->
    <div class="loader" *ngIf="loading">
        <em class="pi pi-spinner pi-spin"></em>
    </div>
    <!-- End loader -->

    <!-- Start image -->
    <div class="image" *ngIf="imgURL">
        <img [src]="imgURL" class="img img-fluid" alt="Image uploaded">
        <button type="button" class="btn-rounded shadow-none" (click)="removeImg()" *ngIf="imgURL && !show" [ngClass]="{'show': imgURL}">
            <em class="pi pi-times"></em>
        </button>
    </div>
    <!-- End image -->

    <!-- Start add image -->
    <div class="add" *ngIf="!loading">
        <em class="pi pi-plus"></em>
    </div>
    <!-- End add image -->

    <!-- Start download button -->
    <div class="download" *ngIf="!show" (click)="download()">
        <em class="pi pi-download"></em>
    </div>
    <!-- End download button -->

</div>
<!-- End file uploader -->