.image-item {
    position: relative;
    width: 12rem;
    height: 8rem;
    margin-bottom: 0.75rem;
    background-image: url('../../../../../assets/images/gallery-border.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    .file-upload {
        width: 100%;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 6;
        text-indent: -999em;
        cursor: pointer;
        background: transparent;
    }
    .add {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        .pi {
            color: #ed1f24;
            font-size: 2.25rem;
            line-height: 0;
        }
    }
    .image {
        margin: -3px;
        height: inherit;
        width: 100%;
        z-index: 10;
        position: relative;
        background-color: #fff;
        .img {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: relative;
            border-radius: 3px;
        }
    }
}