table, th, td {
  border-collapse: collapse;
  border: 0px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.node4{
  background-color: #fff;
  color: #555;
  border-bottom: solid thin #ccc !important;
}