<p-growl [value]="msgs"></p-growl>

<div *ngIf="!visibleForm">

  <s-dataNotFound *ngIf="!empleadosList || empleadosList.length <= 0" icon="fa-users" message="Aún no se han registrado empleados">
    <div *sTienePermiso="'EMP_POST_EMPL'">
      Inicia agregandolos haciendo click
      <a (click)="showAddForm()">aqui</a>
    </div>
  </s-dataNotFound>

  <p-panel header="Administración de empleados" [style.display]="empleadosList && empleadosList.length > 0 ? 'block':'none'">

    <p-table #dt [value]="empleadosList" [(selection)]="empleadoSelect" autoLayout="true" selectionMode="single" [rows]="10"
      [paginator]="true" dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [totalRecords]="totalRecords" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th rowspan="2"></th>
          <th pSortableColumn="primerNombre">Primer nombre
            <p-sortIcon field="primerNombre"></p-sortIcon>
          </th>
          <th pSortableColumn="segundoNombre">Segundo nombre
            <p-sortIcon field="segundoNombre"></p-sortIcon>
          </th>
          <th pSortableColumn="primerApellido">Primer apellido
            <p-sortIcon field="primerApellido"></p-sortIcon>
          </th>
          <th pSortableColumn="segundoApellido">Segundo apellido
            <p-sortIcon field="segundoApellido"></p-sortIcon>
          </th>
          <th pSortableColumn="numeroIdentificacion">Número identificación
            <p-sortIcon field="numeroIdentificacion"></p-sortIcon>
          </th>
          <th pSortableColumn="cargo.nombre">Cargo
            <p-sortIcon field="cargo.nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="usuario.email">E-Mail
            <p-sortIcon field="usuario.email"></p-sortIcon>
          </th>
          <th pSortableColumn="area.nombre">Ubicación
            <p-sortIcon field="area.nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="estado">Estado
            <p-sortIcon field="estado"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'primerNombre', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'segundoNombre', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'primerApellido', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'segundoApellido', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'numeroIdentificacion', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'cargo.nombre', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'usuario.email', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'area.nombre', 'contains')">
          </td>
          <td>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'estado', 'contains')">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empleado>
        <tr [pSelectableRow]="empleado" class="table-row table-row-selectable">
          <td class="td-avatar">
            <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle" aria-hidden="true"></i>
            <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon" style="border-radius: 50%;" />
          </td>
          <td>{{empleado.primerNombre}}</td>
          <td>{{empleado.segundoNombre}}</td>
          <td>{{empleado.primerApellido}}</td>
          <td>{{empleado.segundoApellido}}</td>
          <td>{{empleado.numeroIdentificacion}}</td>
          <td>{{empleado.cargo.nombre}}</td>
          <td>{{empleado.usuario.email}}</td>
          <td>{{empleado.area.nombre}}</td>
          <td>
            <label class="badge" [ngClass]="{'success': empleado.estado != 'ELIMINADO', 'novalid': empleado.estado == 'ELIMINADO'}">{{empleado.estado}}</label>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <button *sTienePermiso="'EMP_POST_EMPL'" pButton type="button" icon="fa fa-plus" label="Nuevo" (click)="showAddForm()"></button>
        <button *sTienePermiso="'EMP_PUT_EMPL'" pButton type="button" icon="fa fa-pencil-square-o" class="ui-button-success" label="Modificar"
          (click)="showUpdateForm()" [disabled]="!empleadoSelect"></button>
        <button *sTienePermiso="'EMP_DELETE_EMPL'" pButton type="button" icon="fa fa-trash" class="ui-button-danger" label="Eliminar"
          (click)="onEmpleadoDelete()" [disabled]="!empleadoSelect"></button>
      </ng-template>
    </p-table>

  </p-panel>

</div>

<div>
  <s-empleadoForm *ngIf="visibleForm" (onEmpleadoCreate)="onEmpleadoCreate($event)" (onEmpleadoUpdate)="onEmpleadoUpdate($event)"
    (onCancel)="onCancel()" [isUpdate]="isUpdate" [empleadoSelect]="empleadoSelect"></s-empleadoForm>
</div>