<p-growl [value]="msgs"></p-growl>
<div *ngIf="!visibleForm">
    <p-panel styleClass="material-panel">
        <p-header>
            Casos médicos
        </p-header>

        <p-table #dt [value]="casosList" autoLayout="true" styleClass="material-table" selectionMode="single" [(selection)]="caseSelect" [rows]="11" [paginator]="true" dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)" sortField="fechaCreacion" sortOrder="1"
            [totalRecords]="totalRecords" [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">#CASO
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fechaCreacion">Fecha de apertura
                        <p-sortIcon field="fechaCreacion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="region">Regional
                        <p-sortIcon field="region"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ciudad">Ciudad
                        <p-sortIcon field="ciudad"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pkUser">Apellido
                        <p-sortIcon field="pkUser"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pkUser">Nombre
                        <p-sortIcon field="pkUser"></p-sortIcon>
                    </th>
                    <th pSortableColumn="documento">Documento
                        <p-sortIcon field="documento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="statusCaso">Estado de caso
                        <p-sortIcon field="statusCaso"></p-sortIcon>
                    </th>
                    <th pSortableColumn="casoMedicoLaboral">Caso de mesa laboral
                        <p-sortIcon field="casoMedicoLaboral"></p-sortIcon>
                    </th>
                </tr>
                <tr class="filters">
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="number" (input)="dt.filter($event.target.value, 'id', 'equals')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'fechaCreacion', 'contains')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'region', 'contains')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'ciudad', 'contains')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'pkUser.primerApellido')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'pkUser.primerNombre')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'documento', 'contains')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'statusCaso', 'contains')">
                        </div>
                    </td>
                    <td>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <em class="pi pi-search"></em>
                            </span>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'casoMedicoLaboral', 'contains')">
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-case>

                <tr [pSelectableRow]="case" class="table-row table-row-selectable">
                    <td>{{case.id}}</td>
                    <td>{{case.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
                    <td>{{case.region}}</td>
                    <td>{{case.ciudad}}</td>
                    <td>{{case.pkUser.primerApellido}}</td>
                    <td>{{case.pkUser.primerNombre}} </td>
                    <td>{{case.documento}}</td>
                    <td>{{case.statusCaso == 1 ? 'Abierto' : 'Cerrado'}}</td>
                    <td>{{case.casoMedicoLaboral == 1 ? 'Si' : 'No'}}</td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <button *sTienePermiso="'SCM_CREATE_CASE'" pButton type="button" icon="fa fa-plus" [routerLink]="['/app/scm/creacion']" label="Crear Caso"></button>

                <button *sTienePermiso="'SCM_PUT_CASE'" pButton type="button" icon="fa fa-pencil" label="Modificar" class="ui-button-success" (click)="openCase()" [disabled]="!caseSelect"></button>

                <button *sTienePermiso="'SCM_LIST_CASE'" pButton type="button" icon="fa fa-search" label="Consultar" class="ui-button-warning" (click)="openCaseConsultar()" [disabled]="!caseSelect"></button>
                <!--  <button *sTienePermiso="'ADM_DELETE_USR'" pButton type="button" icon="fa fa-trash" label="Eliminar" class="ui-button-danger"
                (click)="eliminar()" [disabled]="!usuarioSelect"></button>-->
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="p-text-center">No hay registro de casos médicos o con los términos de filtro usados
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-panel>
</div>

<div>
    <app-formulario-scm *ngIf="visibleForm && caseSelect" (onCancel)="onCancel()" [consultar]="consultar" [caseSelect]="caseSelect">
    </app-formulario-scm>
</div>