<p-growl [value]="msgs"></p-growl>
<p-panel styleClass="material-panel">
    <p-header>
        Casos médicos
    </p-header>

    <p-table #dt [value]="casosList" class="table-material" autoLayout="true" selectionMode="single" [(selection)]="usuarioSelect" [rows]="10" [paginator]="true" dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [totalRecords]="totalRecords" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">#CASO
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="fapertura">Fecha de apertura
                    <p-sortIcon field="fapertura"></p-sortIcon>
                </th>
                <th pSortableColumn="regional">Regional
                    <p-sortIcon field="regional"></p-sortIcon>
                </th>
                <th pSortableColumn="ciudad">Ciudad
                    <p-sortIcon field="ciudad"></p-sortIcon>
                </th>
                <th pSortableColumn="nameLastname">Apellido - Nombre
                    <p-sortIcon field="nameLastname"></p-sortIcon>
                </th>
                <th pSortableColumn="charge">Cargo
                    <p-sortIcon field="charge"></p-sortIcon>
                </th>
                <th pSortableColumn="saludstate">Estado de salud
                    <p-sortIcon field="saludstate"></p-sortIcon>
                </th>
                <th pSortableColumn="saludstate">Caso de mesa laboral
                    <p-sortIcon field="saludstate"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'estado', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'estado', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'estado', 'contains')">
                </td>
                <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'estado', 'contains')">
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-case>
            <tr>
                <td>{{case.id}}</td>
                <td>{{case.fechaFinal}}</td>
                <td>{{case.region}}</td>
                <td>{{case.ciudad}}</td>
                <td>{{case.names}}</td>
                <td>{{case.cargo}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <button *sTienePermiso="'ADM_POST_USR'" pButton type="button" icon="fa fa-plus" label="Crear Caso" (click)="abrirDlg(false)"></button>

            <!-- <button *sTienePermiso="'ADM_PUT_USR'" pButton type="button" icon="fa fa-pencil" label="Modificar" class="ui-button-success"
                (click)="abrirDlg(true)" [disabled]="!usuarioSelect"></button>
            <button *sTienePermiso="'ADM_DELETE_USR'" pButton type="button" icon="fa fa-trash" label="Eliminar" class="ui-button-danger"
                (click)="eliminar()" [disabled]="!usuarioSelect"></button>-->
        </ng-template>
    </p-table>

</p-panel>