<p-growl [value]="msgs"></p-growl>
<div *ngIf="!visibleForm">
    <p-panel styleClass="material-panel">
        <p-header>
            Casos médicos
        </p-header>

        <p-table #dt [value]="casosList" autoLayout="true" selectionMode="single" [(selection)]="caseSelect" [rows]="10"
            [paginator]="true" dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [totalRecords]="totalRecords"
            [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">#CASO
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fechaCreacion">Fecha de apertura
                        <p-sortIcon field="fechaCreacion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="region">Regional
                        <p-sortIcon field="region"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ciudad">Ciudad
                        <p-sortIcon field="ciudad"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pkUser">Apellido - Nombre
                        <p-sortIcon field="pkUser"></p-sortIcon>
                    </th>
                    <th pSortableColumn="documento">Documento
                        <p-sortIcon field="documento"></p-sortIcon>
                    </th>

                    <th pSortableColumn="cargo">Cargo
                        <p-sortIcon field="cargo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="statusCaso">Estado de caso
                        <p-sortIcon field="statusCaso"></p-sortIcon>
                    </th>
                    <th pSortableColumn="casoMedicoLaboral">Caso de mesa laboral
                        <p-sortIcon field="casoMedicoLaboral"></p-sortIcon>
                    </th>
                </tr>
                <tr>

                    <td>
                        <input pInputText type="number" (input)="dt.filter($event.target.value, 'id', 'equals')">
                    </td>
                    <td>
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, 'fechaCreacion', 'contains')">
                    </td>
                    <td>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'region', 'contains')">
                    </td>
                    <td>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'ciudad', 'contains')">
                    </td>
                    <td>
                        <input [disabled]="true" pInputText type="text"
                            (input)="dt.filter($event.target.value, 'pkUser', 'contains')">
                    </td>
                    <td>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'documento', 'contains')">
                    </td>
                    <td>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'cargo', 'contains')">
                    </td>
                    <td>
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, 'statusCaso', 'contains')">
                    </td>
                    <td>
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, 'casoMedicoLaboral', 'contains')">
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-case>

                <tr [pSelectableRow]="case" class="table-row table-row-selectable">
                    <td>{{case.id}}</td>
                    <td>{{case.fechaCreacion | date}}</td>
                    <td>{{case.region}}</td>
                    <td>{{case.ciudad}}</td>
                    <td>{{case.pkUser.primerNombre}}</td>
                    <td>{{case.documento}}</td>
                    <td>{{case.cargo}}</td>
                    <td>{{case.statusCaso == 1 ? 'Abierto' : 'Cerrado'}}</td>
                    <td>{{case.casoMedicoLaboral}}</td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <button *sTienePermiso="'ADM_POST_USR'" pButton type="button" icon="fa fa-plus"
                    [routerLink]="['/app/scm/creacion']" label="Crear Caso"></button>

                <button *sTienePermiso="'ADM_PUT_USR'" pButton type="button" icon="fa fa-pencil" label="Modificar"
                    class="ui-button-success" (click)="openCase()" [disabled]="!caseSelect"></button>

                <button *sTienePermiso="'ADM_PUT_USR'" pButton type="button" icon="fa fa-pencil" label="Consultar"
                    class="ui-button-success" (click)="openCaseConsultar()" [disabled]="!caseSelect"></button>
                <!--  <button *sTienePermiso="'ADM_DELETE_USR'" pButton type="button" icon="fa fa-trash" label="Eliminar" class="ui-button-danger"
                (click)="eliminar()" [disabled]="!usuarioSelect"></button>-->
            </ng-template>
        </p-table>

    </p-panel>
</div>

<div>
    <app-formulario-scm *ngIf="visibleForm" (onCancel)="onCancel()" [consultar]="consultar" [caseSelect]="caseSelect">
    </app-formulario-scm>
</div>