/* You can add global styles to this file, and also import other style files */

$header-color: #3ba2dc;
$danger-color: #f00;
$fatal-color: rgb(92, 0, 0);
$warning-color: #fce94f;
$warning-font-color: #968a31;
$info-color: #3465a4;
$valid-color: #73d216;
$active-color: #3ba2dc;
$success-color: #5cb85c;
$white-color: #fff;
$inactive-color: #ccc;
$secondary-color: #777;
html,
body,
h1,
h2,
h3 {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    color: #555;
}

body {
    font-size: 0.9em;
}

* {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

router-outlet~* {
    position: absolute;
    height: 100%;
    width: calc(100% - 15px);
}

.clickeable:hover {
    cursor: pointer;
    color: $active-color;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input:required {
    box-shadow: none;
}

input,
textarea {
    width: 100%;
    border: none !important;
    border-bottom: solid thin #ccc !important;
}

button {
    cursor: pointer;
    transition: all 0.3s;
}

.select-option {
    width: 100%;
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff00;
    color: #333;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-bottom: solid thin #ccc;
    height: 34px;
}

.width20 {
    width: 20%;
}

.width33 {
    width: 33%;
}

.width15 {
    width: 15%;
}

.soft-icon {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #555 !important;
    border: none !important;
}

.soft-icon:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}


/* */

.ui-dropdown {
    width: 100% !important;
}


/* */

footer {
    text-align: center;
    padding: 10px;
}


/* */

.ng-valid[required],
.ng-valid.required {
    border-left: 2px solid $valid-color !important;
    display: block;
    //border-radius: 5px;
}

.valid {
    border-left: 2px solid $valid-color !important;
    display: block;
    //border-radius: 5px;
}

.ng-invalid[required] {
    border-left: 2px solid $danger-color !important;
    display: block;
    //border-radius: 5px;
}

.invalid {
    border-left: 2px solid $danger-color !important;
    display: block;
    //border-radius: 5px;
}

.alert {
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}

.alert-danger {
    font-weight: bold;
    background-color: $danger-color;
    color: $white-color;
}


/* Estilos personalizados para el componente Calendar */

.ui-calendar {
    width: 100%;
}


/* Estilos personalizados para el componente Spinner */

p-spinner span {
    width: 100%;
}

.ui-messages {
    margin: 0px !important;
}

body .ui-multiselect {
    width: 100%;
}

.float-btn {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
    border-radius: 100px !important;
    font-size: 28px !important;
    width: 56px !important;
}

.badge {
    color: $white-color;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin: 1px;
}

.active-no-hover {
    background-color: $active-color;
}

.active {
    background-color: $active-color;
}

.warning {
    background-color: $warning-color;
    color: $warning-font-color;
}

.fatal {
    background-color: $fatal-color;
}

.success {
    background-color: $success-color;
}

.active-no-hover {
    background-color: $active-color !important;
    color: $white-color !important;
}

.inactive {
    background-color: $inactive-color;
}

.novalid {
    background-color: $danger-color;
}

.success:hover,
.active:hover {
    background-color: $active-color #333;
}

.clickable {
    cursor: pointer;
    z-index: 100;
}


/* Estilo de selección para componentes personalizados */

.selected {
    background-color: $active-color;
    cursor: pointer;
    color: #fff;
}

.no-select:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.icon-selection {
    border-bottom: solid 2px $white-color;
    transition: border-bottom 0.2s;
}

.icon-selection:hover {
    cursor: pointer;
    border-bottom: solid 2px $inactive-color;
}

.icon-selected {
    border-bottom: solid 2px $active-color;
}


/* Estilo personalizado para el nodo seleccionado del componente árbol */

.ui-treenode-label.ui-state-highlight {
    padding: 4px 4px 2px 5px !important;
}


/* Estilo para icono indicador de respuesta */

.diligenciado {
    color: green;
}

.no-diligenciado {
    color: #ccc;
}


/* Estilo para etiquetas flotantes*/

.s-float-label {
    color: $secondary-color;
    font-size: 12px;
}


/* Estilos para p-table*/

table .ui-table-thead>tr>th {
    font-weight: 100 !important;
}

.separator {
    border-bottom: #ccc solid thin;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.ui-table-thead>tr>th,
.ui-table-thead>tr>td {
    border: solid thin #ccc;
}

.tree-table-toggler-invisible>a>i {
    visibility: hidden;
}

.tree-table-toggler-invisible>a {
    pointer-events: none;
}

.ui-float-label {
    margin-top: 8px;
}


/* */

.ui-table-summary button {
    margin-left: 5px !important;
}

.ui-panel {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.rpc-grid {
    display: flex;
    flex-wrap: wrap;
}

.rpc-grid>[class*='rpc-col-'] {
    display: flex;
    flex-direction: column;
}

[class*='rpc-col-'] {
    padding: 5px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .rpc-col-xs-1 {
        width: 8.33%;
    }
    .rpc-col-xs-2 {
        width: 16.66%;
    }
    .rpc-col-xs-3 {
        width: 25%;
    }
    .rpc-col-xs-4 {
        width: 33.33%;
    }
    .rpc-col-xs-5 {
        width: 41.66%;
    }
    .rpc-col-xs-6 {
        width: 50%;
    }
    .rpc-col-xs-7 {
        width: 58.33%;
    }
    .rpc-col-xs-8 {
        width: 66.66%;
    }
    .rpc-col-xs-9 {
        width: 75%;
    }
    .rpc-col-xs-10 {
        width: 83.33%;
    }
    .rpc-col-xs-11 {
        width: 91.66%;
    }
    .rpc-col-xs-12 {
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .rpc-col-s-1 {
        width: 8.33%;
    }
    .rpc-col-s-2 {
        width: 16.66%;
    }
    .rpc-col-s-3 {
        width: 25%;
    }
    .rpc-col-s-4 {
        width: 33.33%;
    }
    .rpc-col-s-5 {
        width: 41.66%;
    }
    .rpc-col-s-6 {
        width: 50%;
    }
    .rpc-col-s-7 {
        width: 58.33%;
    }
    .rpc-col-s-8 {
        width: 66.66%;
    }
    .rpc-col-s-9 {
        width: 75%;
    }
    .rpc-col-s-10 {
        width: 83.33%;
    }
    .rpc-col-s-11 {
        width: 91.66%;
    }
    .rpc-col-s-12 {
        width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .rpc-col-m-1 {
        width: 8.33%;
    }
    .rpc-col-m-2 {
        width: 16.66%;
    }
    .rpc-col-m-3 {
        width: 25%;
    }
    .rpc-col-m-4 {
        width: 33.33%;
    }
    .rpc-col-m-5 {
        width: 41.66%;
    }
    .rpc-col-m-6 {
        width: 50%;
    }
    .rpc-col-m-7 {
        width: 58.33%;
    }
    .rpc-col-m-8 {
        width: 66.66%;
    }
    .rpc-col-m-9 {
        width: 75%;
    }
    .rpc-col-m-10 {
        width: 83.33%;
    }
    .rpc-col-m-11 {
        width: 91.66%;
    }
    .rpc-col-m-12 {
        width: 100%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .rpc-col-lg-1 {
        width: 8.33%;
    }
    .rpc-col-lg-2 {
        width: 16.66%;
    }
    .rpc-col-lg-3 {
        width: 25%;
    }
    .rpc-col-lg-4 {
        width: 33.33%;
    }
    .rpc-col-lg-5 {
        width: 41.66%;
    }
    .rpc-col-lg-6 {
        width: 50%;
    }
    .rpc-col-lg-7 {
        width: 58.33%;
    }
    .rpc-col-lg-8 {
        width: 66.66%;
    }
    .rpc-col-lg-9 {
        width: 75%;
    }
    .rpc-col-lg-10 {
        width: 83.33%;
    }
    .rpc-col-lg-11 {
        width: 91.66%;
    }
    .rpc-col-lg-12 {
        width: 100%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .rpc-col-xl-1 {
        width: 8.33%;
    }
    .rpc-col-xl-2 {
        width: 16.66%;
    }
    .rpc-col-xl-3 {
        width: 25%;
    }
    .rpc-col-xl-4 {
        width: 33.33%;
    }
    .rpc-col-xl-5 {
        width: 41.66%;
    }
    .rpc-col-xl-6 {
        width: 50%;
    }
    .rpc-col-xl-7 {
        width: 58.33%;
    }
    .rpc-col-xl-8 {
        width: 66.66%;
    }
    .rpc-col-xl-9 {
        width: 75%;
    }
    .rpc-col-xl-10 {
        width: 83.33%;
    }
    .rpc-col-xl-11 {
        width: 91.66%;
    }
    .rpc-col-xl-12 {
        width: 100%;
    }
}