<div class="cols" [formGroup]="formResponsable" *ngIf="isResponsable">
    <div class="input-field">
        <input type="text" pInputText formControlName="nombre" placeholder="Nombre"
            class="form-material"/>
        <label for="" class="active">Nombre</label>            
    </div>
    <div class="input-field">
        <input type="text" pInputText formControlName="correo" placeholder="Correo"
        class="form-material"/>
        <label for="" class="active">Correo</label>
    </div>   
    <div class="input-field">
        <input type="text" pInputText formControlName="telefono" placeholder="Telefono"
        class="form-material"/>
        <label for="" class="active">Telefono</label>
    </div> 
    <div class="input-field">
        <input type="text" pInputText formControlName="licenciaSST" placeholder="LicenciaSST"
        class="form-material"/>
        <label for="" class="active">Licencia SST</label>
    </div> 
</div>

<div class="cols" [formGroup]="formEquipo" *ngIf="!isResponsable">
    <div class="input-field">
        <input type="text" pInputText formControlName="nombre" placeholder="Nombre"
            class="form-material"/>
        <label for="" class="active">Nombre</label>            
    </div>
    <div class="input-field">
        <input type="text" pInputText formControlName="documento" placeholder="documento"
        class="form-material"/>
        <label for="" class="active">Documento</label>
    </div>   
    <div class="input-field">
        <!-- <input type="text" pInputText formControlName="division" placeholder="division"
        class="form-material"/> -->
        <p-multiSelect class="form-material"  defaultLabel="--seleccione division--" [options]="divisionList" formControlName="division"> </p-multiSelect>
        <label for="" class="active">División</label>
    </div>   
    <div class="input-field">
        <!-- <input type="text" pInputText formControlName="correo" placeholder="Correo"
        class="form-material"/>
        <label for="" class="active">Localidad</label> -->
        <p-chips [(ngModel)]="locadidadList" formControlName="localidad"></p-chips>
        <label for="" class="active">Localidad</label>
    </div>   
    <div class="input-field">
        <input type="text" pInputText formControlName="cargo" placeholder="cargo"
        class="form-material"/>
        <label for="" class="active">Rol o Cargo</label>
    </div> 
    <div class="input-field">
        <input type="text" pInputText formControlName="licenciaSST" placeholder="LicenciaSST"
        class="form-material"/>
        <label for="" class="active">Licencia SST</label>
        <!-- <div class="input-field"> -->
        <!-- <p-chips [(ngModel)]="locadidadList"></p-chips>
        <label for="" class="active">Localidad</label> -->
        <!-- </div> -->
    </div> 
</div>

<div class="button-container">
    <!-- <button pButton type="button" icon="fa fa-plus" label="Cancelar"></button>     -->
    <button pButton icon="pi pi-times" class="p-button-rounded ui-button-danger p-mr-2" (click)="CloseDialog()" label="Cancelar"></button>

    <button pButton icon="fa fa-plus" class="rigth-button p-button-rounded p-mr-2" [disabled]="formResponsable.invalid" (click)="agregar()" *ngIf="isResponsable" label="Agregar"></button>    
    <button pButton icon="fa fa-plus" class="rigth-button p-button-rounded p-mr-2" [disabled]="formEquipo.invalid" (click)="agregar()" *ngIf="!isResponsable" label="Agregar"></button>    
</div>

<button (click)="test()">test</button>

