<div class="p-d-flex p-mb-2 p-px-2 p-jc-end">
    <div class="case-data p-d-flex p-jc-between">
        <div class="case-code">
            <div class="title">Caso:</div>
            <div class="number">
                #N/A
            </div>
        </div>
        <div class="case-date">
            28/09/2020
        </div>
    </div>
</div>

<p-tabView styleClass="custom-panel">
    <p-tabPanel header="Datos básicos">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p-panel header="PERSONAL">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2">
                        Primer nombre
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="primerNombre" required />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <label>Segundo Nombre</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="segundoNombre" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Primer Apellido
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="primerApellido" required />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Segundo Apellido
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="segundoApellido" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Tipo identificación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="tipoIdentificacionList" formControlName="tipoIdentificacion" required>
                        </p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Número identificación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-autoComplete placeholder="Digite" [style]="{'width':'100%'}" (onSelect)="onSelection($event)" [suggestions]="empleadosList" (completeMethod)="buscarEmpleado($event)" formControlName="numeroIdentificacion" *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle" style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon" style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <label>{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}</label>
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Departamento y Ciudad
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <s-ciudadSelector formControlName="ciudad"></s-ciudadSelector>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Zona residencia
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-radioButton name="zonaResidencia" value="U" label="Urbana " formControlName="zonaResidencia">
                        </p-radioButton>
                        <p-radioButton name="zonaResidencia" value="R" label="Rural" formControlName="zonaResidencia">
                        </p-radioButton>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Dirección residencia
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="direccion" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Teléfono
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="telefono1" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Teléfono 2
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="telefono2" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Fecha de nacimiento
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Género
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-radioButton name="genero" value="M" label="Masculino " formControlName="genero">
                        </p-radioButton>
                        <p-radioButton name="genero" value="F" label="Femenino" formControlName="genero">
                        </p-radioButton>
                    </div>

                </div>
            </p-panel>
            <br />
            <p-panel header="LABORAL">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2">
                        Correo electrónico
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="email" required />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        Perfiles
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-multiSelect [options]="perfilList" formControlName="perfilesId" defaultLabel="--Perfiles--" required></p-multiSelect>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Código
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText formControlName="codigo" />
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        AFP
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="afpList" formControlName="afp"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        EPS
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="epsList" formControlName="eps"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Fecha de ingreso
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaIngreso" required></p-calendar>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Tipo vinculación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="tipoVinculacionList" formControlName="tipoVinculacion"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Ubicación
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <area-selector formControlName="area" [name]="this.empleadoSelect ? this.empleadoSelect.area.nombre:''" required></area-selector>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Cargo
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" required>
                        </p-dropdown>
                    </div>
                </div>
            </p-panel>
            <div style="text-align: center; width: 100%;" *ngIf="isUpdate || editable">
                <button pButton *ngIf="solicitando == false" type="submit" icon="fa fa-floppy-o" [disabled]="!form.valid" class="float-btn" style="bottom: 100px;" title="Guardar datos de empleado"></button>

                <p-progressSpinner *ngIf="solicitando == true" class="float-btn" strokeWidth="8" [style]="{width: '35px', height: '35px'}"></p-progressSpinner>
            </div>
        </form>

    </p-tabPanel>

    <p-tabPanel header="Información General">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Datos del trabajador involucrado</h5>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [options]="tipoIdentificacionList" formControlName="tipoIdentificacion" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Tipo de identificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite" [style]="{'width':'100%'}" (onSelect)="onSelection($event)" [suggestions]="empleadosList" (completeMethod)="buscarEmpleado($event)" formControlName="numeroIdentificacion" *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle" style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon" style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <label>{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}</label>
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="autocomplete-input" class="active">Número de identificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Apellidos y nombres" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Apellidos y nombres</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-8">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Dirección / Gerencia" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Dirección / Gerencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ul-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Cargo / Categoría</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Descripción del cargo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de vinculación</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Antigüedad" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Antigüedad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Rango de antigüedad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de desvinculación</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="telefono2" class="form-material">
                        </p-inputMask>
                        <label for="" class="active">Teléfono corporativo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <input type="email" pInputText formControlName="primerNombre" placeholder="Correo corporativo" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Correo corporativo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Regional" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Regional</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" styleClass="select-material" [(ngModel)]="value"></p-dropdown>
                        <label for="autocomplete-input" class="active">Ciudad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-6">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Ubicación" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Ubicación</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-5 ui-lg-2">
                    <div class="input-field">
                        <label for="autocomplete-input" class="active">Género</label>
                    </div>
                    <div class="radio-inputs">
                        <p-radioButton name="genero" value="M" label="Masculino " formControlName="genero">
                        </p-radioButton>
                        <p-radioButton name="genero" value="F" label="Femenino" formControlName="genero">
                        </p-radioButton>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de nacimiento</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Edad" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Edad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-8">
                    <div class="input-field">
                        <s-ciudadSelector formControlName="ciudad" styleClass="select-material"></s-ciudadSelector>
                        <label for="autocomplete-input" class="active">Departamento y Ciudad</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-6">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Dirección de residencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <label for="autocomplete-input" class="active">Zona de residencia</label>
                    </div>
                    <div class="radio-inputs">
                        <p-radioButton name="zonaResidencia" value="U" label="Urbana " formControlName="zonaResidencia">
                        </p-radioButton>
                        <p-radioButton name="zonaResidencia" value="R" label="Rural" formControlName="zonaResidencia">
                        </p-radioButton>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="telefono1" class="form-material">
                        </p-inputMask>
                        <label for="" class="active">Teléfono de residencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="telefono2" class="form-material">
                        </p-inputMask>
                        <label for="" class="active">Teléfono personal</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <input type="email" pInputText formControlName="email" plaholder="Correo personal" />
                        <label for="" class="active">Correo personal</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <input type="email" pInputText formControlName="email" plaholder="Correo adicional alternativo" />
                        <label for="" class="active">Correo adicional alternativo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="afpList" formControlName="afp" styleClass="select-material"></p-dropdown>
                        <label for="" class="active">AFP</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="epsList" formControlName="eps" styleClass="select-material"></p-dropdown>
                        <label for="" class="active">EPS</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="epsList" formControlName="eps" styleClass="select-material"></p-dropdown>
                        <label for="" class="active">ARL</label>
                    </div>
                </div>

            </div>

            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <h5 class="title-header p-mb-2">Datos del jefe inmediato</h5>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-8">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Apellidos y nombres" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Apellidos y nombres</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Cargo / Categoría</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-5">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Dirección / Gerencia" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Dirección / Gerencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="telefono2" class="form-material">
                        </p-inputMask>
                        <label for="autocomplete-input" class="active">Número móvil corporativo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Correo corporativo" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Correo corporativo</label>
                    </div>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Información Médica">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Estado del caso</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de cierre</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-8">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Observaciones</label>
                    </div>
                </div>
                <div class="ui-g-12 p-mb-2">
                    <h5 class="title-header">Información del caso</h5>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Origen" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Origen</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Código CIE10" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Código CIE10</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Sistema afectado</label>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Diagnóstico</label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Descripción completa del caso</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Caso de mesa laboral" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Caso de mesa laboral</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Motivo" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Motivo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="PCL" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">PCL</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="% de la PCL" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">% de la PCL</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de emisión de la PCL</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Entidad que emite la PCL</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Estado de la calificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de la calificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Entidad que emite la calificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Concepto de rehabilitación" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Concepto de rehabilitación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de concepto de rehabilitación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Entidad que emite el concepto de
                            rehabilitación</label>
                    </div>
                </div>
            </div>

            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Intervención complementaria</h5>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Requiere intervención complementaria</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="SVE" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">SVE</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Área profesional</label>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Justificación</label>
                    </div>
                </div>
            </div>

            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Recomendaciones</h5>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input type="text" pInputText formControlName="primerNombre" placeholder="Se generan recomendaciones" class="form-material" id="autocomplete-input" />
                        <label for="autocomplete-input" class="active">Se generan recomendaciones</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-5">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Entidad que emite las recomendaciones</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Tipo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de expedición</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de vencimiento</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId" styleClass="select-material">
                        </p-dropdown>
                        <label for="autocomplete-input" class="active">Estado</label>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="autocomplete-input" class="active">Recomendaciones</label>
                    </div>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Incapacidades">
    </p-tabPanel>
</p-tabView>

<button pButton *ngIf="solicitando == false" type="button" icon="fa fa-chevron-left" class="float-btn" (click)="closeForm()" title="Volver a listado de empleados"></button>