<div class="p-d-flex p-mb-2 p-px-2 p-jc-end">
    <div class="case-data p-d-flex p-jc-between">
        <div *ngIf="caseSelect" class="case-code">
            <div  class="title">Caso:</div>
            <div  class="number">
                #{{caseSelect.id}}
            </div>
        </div>
        <div class="case-date">
            28/09/2020
        </div>
    </div>
</div>

<p-tabView styleClass="custom-panel">

    <p-tabPanel header="Información General">
        <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Datos del trabajador involucrado</h5>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite"
                            [style]="{'width':'100%'}" (onSelect)="onSelection($event)" [suggestions]="empleadosList"
                            (completeMethod)="buscarEmpleado($event)" formControlName="numeroIdentificacion"
                            *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle"
                                            style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon"
                                            style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <label>{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}</label>
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="" class="active">Número de identificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <p-dropdown [options]="tipoIdentificacionList" formControlName="tipoIdentificacion"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Tipo de identificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="input-field">
                        <input disabled disabled type="text" pInputText formControlName="primerNombre" placeholder="Apellidos y nombres"
                            class="form-material" id="" />
                        <label for="" class="active">Apellidos y nombres</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-8">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Dirección / Gerencia"
                            class="form-material" id="" />
                        <label for="" class="active">Dirección / Gerencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Cargo / Categoría</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea [value]="cargoDescripcion || ''"></textarea>
                        <label for="" class="active">Descripción del cargo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaIngreso"></p-calendar>
                        <label for="" class="active">Fecha de vinculación</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input disabled type="text" disabled pInputText [value]="antiguedad || ''" placeholder="Antigüedad"
                            class="form-material" id="" />
                        <label for="" class="active">Antigüedad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Rango de antigüedad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de desvinculación</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="corporativePhone"
                            styleClass="form-material">
                        </p-inputMask>
                        <label for="" class="active">Teléfono corporativo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="email" pInputText formControlName="primerNombre" placeholder="Correo corporativo"
                            class="form-material" id="" />
                        <label for="" class="active">Correo corporativo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="emergencyContact" placeholder="Regional"
                            class="form-material" id="" />
                        <label for="" class="active">Contacto de emergencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="phoneEmergencyContact" class="form-material"
                            styleClass="form-material">
                        </p-inputMask>
                        <label for="" class="active">Telefono de contacto de emergencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="email" pInputText formControlName="emailEmergencyContact"
                            placeholder="Correo corporativo" class="form-material" id="" />
                        <label for="" class="active">Correo de contacto de emergencia</label>
                    </div>
                </div>


                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Regional"
                            class="form-material" id="" />
                        <label for="" class="active">Regional</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" class="select-material" styleClass="select-material"></p-dropdown>
                        <label for="" class="active">Ciudad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Ubicación"
                            class="form-material" id="" />
                        <label for="" class="active">Ubicación</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <label for="" class="active">Género</label>
                    </div>
                    <div class="radio-inputs">
                        <p-radioButton name="genero" value="M" label="Masculino " formControlName="genero">
                        </p-radioButton>
                        <p-radioButton name="genero" value="F" label="Femenino" formControlName="genero">
                        </p-radioButton>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de nacimiento</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Edad"
                            class="form-material" id="" />
                        <label for="" class="active">Edad</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-9">
                    <div class="input-field">
                        <s-ciudadSelector formControlName="ciudad" class="select-material" styleClass="select-material">
                        </s-ciudadSelector>
                        <label for="" class="active">Departamento y Ciudad</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea></textarea>
                        <label for="" class="active">Dirección de residencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <label for="" class="active">Zona de residencia</label>
                    </div>
                    <div class="radio-inputs">
                        <p-radioButton name="zonaResidencia" value="U" label="Urbana " formControlName="zonaResidencia">
                        </p-radioButton>
                        <p-radioButton name="zonaResidencia" value="R" label="Rural" formControlName="zonaResidencia">
                        </p-radioButton>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="telefono1" class="form-material"
                            styleClass="form-material">
                        </p-inputMask>
                        <label for="" class="active">Teléfono de residencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="telefono2" class="form-material"
                            styleClass="form-material">
                        </p-inputMask>
                        <label for="" class="active">Teléfono personal</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <input disabled type="email" pInputText formControlName="email" plaholder="Correo personal" />
                        <label for="" class="active">Correo personal</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <input disabled type="email" pInputText formControlName="email"
                            plaholder="Correo adicional alternativo" />
                        <label for="" class="active">Correo adicional alternativo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="afpList" formControlName="afp" class="select-material"
                            styleClass="select-material"></p-dropdown>
                        <label for="" class="active">AFP</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="epsList" formControlName="eps" class="select-material"
                            styleClass="select-material"></p-dropdown>
                        <label for="" class="active">EPS</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="epsList" formControlName="eps" class="select-material"
                            styleClass="select-material"></p-dropdown>
                        <label for="" class="active">ARL</label>
                    </div>
                </div>

            </div>
            <form [formGroup]="jefeInmediato">
            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <h5 class="title-header p-mb-2">Datos del jefe inmediato</h5>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="input-field">
                        <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite"
                            [style]="{'width':'100%'}" (onSelect)="onSelectionJI($event)" [suggestions]="empleadosList"
                            (completeMethod)="buscarEmpleado($event)" formControlName="numeroIdentificacion"
                            *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle"
                                            style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon"
                                            style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <label>{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}</label>
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="" class="active">Número de identificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-6">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Apellidos y nombres"
                            class="form-material" id="" />
                        <label for="" class="active">Apellidos y nombres</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Cargo / Categoría</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-5">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Dirección / Gerencia"
                            class="form-material" id="" />
                        <label for="" class="active">Dirección / Gerencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="corporativePhone" class="form-material"
                            styleClass="form-material">
                        </p-inputMask>
                        <label for="" class="active">Número móvil corporativo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="email" placeholder="Correo corporativo"
                            class="form-material" id="" />
                        <label for="" class="active">Correo corporativo</label>
                    </div>
                </div>
            </div>
        </form>
        <form  [formGroup]="bussinessParner">
            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <h5 class="title-header p-mb-2">Datos del Business Partner</h5>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="input-field">
                        <p-autoComplete styleClass="form-material-autocomplete" placeholder="Digite"
                            [style]="{'width':'100%'}" (onSelect)="onSelectionBP($event)" [suggestions]="empleadosList"
                            (completeMethod)="buscarEmpleado($event)" formControlName="numeroIdentificacion"
                            *ngIf="empleado?.id == null">
                            <ng-template let-empleado pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="wrapper">
                                        <i *ngIf="!empleado.usuario?.icon" class="fa fa-user-circle"
                                            style="font-size: 48px;" aria-hidden="true"></i>
                                        <img *ngIf="empleado.usuario?.icon" [src]="empleado.usuario?.icon"
                                            style="border-radius: 50%;" #imgAvatar />
                                        <div style="margin-left:20px">
                                            <label>{{empleado?.primerNombre}} {{empleado?.segundoNombre}}
                                                {{empleado?.primerApellido}}</label>
                                            <br /> {{empleado?.numeroIdentificacion}}
                                            <br /> {{empleado?.usuario.email}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <label for="" class="active">Número de identificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-6">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Apellidos y nombres"
                            class="form-material" id="" />
                        <label for="" class="active">Apellidos y nombres</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Cargo / Categoría</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-5">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre" placeholder="Dirección / Gerencia"
                            class="form-material" id="" />
                        <label for="" class="active">Dirección / Gerencia</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="input-field">
                        <p-inputMask mask="(999) 999-9999" formControlName="corporativePhone" class="form-material"
                            styleClass="form-material">
                        </p-inputMask>
                        <label for="" class="active">Número móvil corporativo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="email" placeholder="Correo corporativo"
                            class="form-material" id="" />
                        <label for="" class="active">Correo corporativo</label>
                    </div>
                </div>
            </div>
        </form>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Información Médica">
        <form [formGroup]="casoMedicoForm" (ngSubmit)="onSubmit()">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="statusCaso"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Estado del caso</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaFinal"></p-calendar>
                        <label for="" class="active">Fecha de cierre</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-8">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="observaciones"></textarea>
                        <label for="" class="active">Observaciones</label>
                    </div>
                </div>
                <div class="ui-g-12 p-mb-2">
                    <h5 class="title-header">Información del caso</h5>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="origen" placeholder="Origen"
                            class="form-material" id="" />
                        <label for="" class="active">Origen</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                    <label class="s-float-label">Código CIE</label>
                    <s-cieSelector id="ccide-input" formControlName="codigoCie10" ></s-cieSelector>
                  </div>
                </div>
            
                
                
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="sistemaAfectado"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Sistema afectado</label>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="diagnostico"></textarea>
                        <label for="" class="active">Diagnóstico</label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea
                            formControlName="descripcionCompletaCaso"></textarea>
                        <label for="" class="active">Descripción completa del caso</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="casoMedicoLaboral"
                            placeholder="Caso de mesa laboral" class="form-material" id="" />
                        <label for="" class="active">Caso de mesa laboral</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="razon" placeholder="Motivo" class="form-material"
                            id="" />
                        <label for="" class="active">Motivo</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="pcl" placeholder="PCL" class="form-material"
                            id="" />
                        <label for="" class="active">PCL</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="porcentajePcl" placeholder="% de la PCL"
                            class="form-material" id="" />
                        <label for="" class="active">% de la PCL</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="emisionPclFecha"></p-calendar>
                        <label for="" class="active">Fecha de emisión de la PCL</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="pclEmitEntidad"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Entidad que emite la PCL</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="statusDeCalificacion"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Estado de la calificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaCalificacion"></p-calendar>
                        <label for="" class="active">Fecha de la calificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="entidadEmiteCalificacion"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Entidad que emite la calificación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="conceptRehabilitacion"
                            placeholder="Concepto de rehabilitación" class="form-material" id="" />
                        <label for="" class="active">Concepto de rehabilitación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaConceptRehabilitacion"></p-calendar>
                        <label for="" class="active">Fecha de concepto de rehabilitación</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="entidadEmiteConcepto"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Entidad que emite el concepto de
                            rehabilitación</label>
                    </div>
                </div>
            </div>

            <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Intervención complementaria</h5>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="requiereIntervencion"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Requiere intervención complementaria</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="sve" placeholder="SVE" class="form-material"
                            id="" />
                        <label for="" class="active">SVE</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="professionalArea"
                            class="select-material" styleClass="select-material">
                        </p-dropdown>
                        <label for="" class="active">Área profesional</label>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea></textarea>
                        <label for="" class="active">Justificación</label>
                    </div>
                </div>
            </div>

            <!--
           <div class="ui-g p-py-2">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Recomendaciones</h5>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <input disabled type="text" pInputText formControlName="primerNombre"
                            placeholder="Se generan recomendaciones" class="form-material" id="" />
                        <label for="" class="active">Se generan recomendaciones</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-5">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material" >
                        </p-dropdown>
                        <label for="" class="active">Entidad que emite las recomendaciones</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material" >
                        </p-dropdown>
                        <label for="" class="active">Tipo</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de expedición</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <div class="input-field">
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                            [maxDate]="fechaActual" [locale]="localeES" dateFormat="dd/mm/yy"
                            formControlName="fechaNacimiento"></p-calendar>
                        <label for="" class="active">Fecha de vencimiento</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="input-field">
                        <p-dropdown [filter]="true" [options]="cargoList" formControlName="cargoId"
                            class="select-material" styleClass="select-material" >
                        </p-dropdown>
                        <label for="" class="active">Estado</label>
                    </div>
                </div>
 
                <div class="ui-g-12">
                    <div class="input-field">
                        <textarea class="textarea-material" pInputTextarea formControlName="direccion"></textarea>
                        <label for="" class="active">Recomendaciones</label>
                    </div>
                </div>
            </div>-->
        </form>
    </p-tabPanel>
    <p-tabPanel header="Incapacidades">
        <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h5 class="title-header p-mb-2">Información sobre incapacidades</h5>
                </div>
                <div class="ui-g-12">
                    <!-- <p-table [columns]="cols" [value]="products" styleClass="p-datatable-responsive"> -->
                    <p-table styleClass="p-datatable-responsive">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                            <!--Alcance de-->
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>

        </form>
    </p-tabPanel>
    <div style="text-align: center; width: 100%;">
        <button pButton *ngIf="solicitando == false" (click)="onSubmit()" type="submit" icon="fa fa-floppy-o"
            class="float-btn" style="bottom: 100px;" title="Guardar datos de empleado"></button>

        <p-progressSpinner *ngIf="solicitando == true" class="float-btn" strokeWidth="8"
            [style]="{width: '35px', height: '35px'}"></p-progressSpinner>
    </div>
    <p-tabPanel header="Recomendaciones">
    </p-tabPanel>
</p-tabView>

<button pButton *ngIf="solicitando == false" type="button" [routerLink]="['/app/scm/list']" icon="fa fa-chevron-left" class="float-btn"
    (click)="closeForm()" title="Volver a listado de empleados"></button>