input[type="text"], textarea{
  width: 100%;
  margin-bottom: 5px;
}


header button{
  float: right;
  height: 28px;
}

.groupElemclass{
  background-color: #333;
  color: #fff;
}
.groupElemclass h3{
  color: #fff;
}

.elemclass{
  height: 30px;
  background-color: #efefef;
}
.subelemclass{
  height: 30px;
}

p-radiobutton{
  font-size: 12px;
}