<p-growl [value]="msgs"></p-growl>
<p-panel header="REPORTE DE AUSENTISMO">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!--

    <div class="ui-g">
      <div class="ui-g-12 ui-sm-12 ui-md-12">
        <s-empleadoSelector formControlName="empleado" required [readOnly]="!adicionar && !actualizar"></s-empleadoSelector>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Fecha radicación
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaRadicacion" required></p-calendar>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Entidad que otorga
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <input pInputText formControlName="entidadOtorga" required/>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Fecha desde
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaDesde" required></p-calendar>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Fecha hasta
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaHasta" required></p-calendar>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Dias ausencia
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <input pInputText type="number" formControlName="diasAusencia" required/>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Horas ausencia
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <input pInputText type="number" formControlName="horasAusencia" required/>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Causa ausentismo
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <p-dropdown [options]="causasAusentismoList" formControlName="causaAusentismoId" required> </p-dropdown>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Ciudad
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <s-ciudadSelector formControlName="ciudad" required></s-ciudadSelector>
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-2">
        Código CIE
      </div>
      <div class="ui-g-12 ui-sm-12 ui-md-4">
        <s-cieSelector formControlName="cie" [readOnly]="!adicionar && !actualizar"></s-cieSelector>
      </div>
    </div>

    -->

        <div class="ui-g">

            <div class="ui-g-12 ui-sm-12">
                <s-empleadoSelector formControlName="empleado" required [readOnly]="!adicionar && !actualizar">
                </s-empleadoSelector>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Fecha radicación</label>
                <p-calendar id="fradicacion-input" [locale]="localeES" dateFormat="dd/mm/yy"
                    formControlName="fechaRadicacion" required></p-calendar>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Entidad que otorga</label>
                <input id="eotorga-input" pInputText formControlName="entidadOtorga" required />
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Fecha desde</label>
                <p-calendar id="fdesde-input" [locale]="localeES" dateFormat="dd/mm/yy" formControlName="fechaDesde"
                    required></p-calendar>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Fecha hasta</label>
                <p-calendar id="fhasta-input" [locale]="localeES" [minDate]="form.get('fechaDesde').value"
                    dateFormat="dd/mm/yy" formControlName="fechaHasta" required></p-calendar>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Dias ausencia</label>
                <input pInputText type="number" pInputText [value]="daysCount" disabled="true" />
            </div>


            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Causa ausentismo</label>
                <p-dropdown id="causentismo-input" [options]="causasAusentismoList" formControlName="causaAusentismoId"
                    required> </p-dropdown>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Ciudad</label>
                <s-ciudadSelector id="ciudad-input" formControlName="ciudad" required></s-ciudadSelector>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
                <label class="s-float-label">Código CIE</label>
                <s-cieSelector id="ccide-input" formControlName="cie" [readOnly]="!adicionar && !actualizar">
                </s-cieSelector>
            </div>

        </div>
        <button pButton type="submit" class="float-btn" [icon]="adicionar ? 'fa fa-floppy-o': 'fa fa-pencil'
         " [disabled]="!form.valid" *ngIf="adicionar || actualizar"></button>
    </form>
</p-panel>