<p-growl [value]="msgs"></p-growl>

<p-panel header="DESVIACIONES">
    <p-table [value]="desviacionesList" *ngIf="desviacionesList" autoLayout="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Módulo</th>
                <th>Código</th>
                <th>Area origen</th>
                <th>Concepto</th>
                <th>Aspecto causante</th>
                <th style="width:3em;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>
                    {{rowData.modulo}}
                </td>
                <td>
                    {{rowData.hashId}}
                </td>
                <td>
                    {{rowData.area_nombre}}
                </td>
                <td>
                    {{rowData.concepto}}
                </td>
                <td>
                    {{rowData.aspectoCausante}}
                </td>
                <td>
                    <button *ngIf="!consultar" pButton type="button" icon="fa fa-close" class="soft-icon"
                        (click)="removeDesv(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<br />

<p-tabView>
    <p-tabPanel header="INVESTIGACIÓN" *sTienePermiso="'SEC_POST_INVESTIGACIONES'" >
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12">
                <p-tabView>
                    <p-tabPanel *ngIf="idEmpresa == '3'" header="Descripción">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-sm-12 ui-xl-4">
                                <h4 style="margin-bottom: 20px;">Nombre de la Empresa</h4>
                                {{desviacionesList[0].empresa}}
                            </div>
                            <div class="ui-g-12 ui-sm-12 ui-xl-4">
                                <h4 style="margin-bottom: 20px;">NIT</h4>
                                {{desviacionesList[0].nit}}
                            </div>    
                                                  
                        </div>
                        <div class="ui-g">
                            <h4 style="margin-bottom: 20px;">Reporte de investigación</h4>
                                                       
                        </div>
                        <div class="ui-g">
                            <h4 style="margin-bottom: 20px;">Reporte Inicial</h4>
                                                       
                        </div>
                                              
                          
                        <p-table [value]="desviacionesList"  autoLayout="true" id="TablaDescripcion">
                                                        
                            <ng-template pTemplate="body">
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Nombre del evento</th>
                                    <td>{{desviacionesList[0].concepto}}</td> 
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Nombre del colaborador</th>
                                    <td>{{desviacionesList[0]?.nombre}}</td> 
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Fecha del incidente</th>
                                    <td>{{desviacionesList[0]?.fechaReporte | date:'dd/MM/yyyy'}}</td> 
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Hora del incidente</th>
                                    <td>{{desviacionesList[0]?.hora}}</td> 
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Ubicacion</th>
                                    <td>{{desviacionesList[0]?.area.nombre}}</td> 
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Clasificación</th>
                                    <td>{{desviacionesList[0]?.severidad}}</td> 
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #c8c8c8;">Descripción</th>
                                   
                                    <textarea maxlength="510" *ngIf="!consultar" pInputTextarea rows="10"
                            placeholder="Observaciones de análisis" [(ngModel)]="observacion"></textarea>
                        <div *ngIf="consultar">
                            {{observacion}}
                        </div> 
                                </tr>
                                </ng-template>
                            
                        </p-table>  
                        
                    </p-tabPanel>
                    <p-tabPanel  *ngIf="idEmpresa == '3'" header="Información complementaria">
                        <p-tabView>
                            <p-tabPanel  *ngIf="idEmpresa == '3'" header="complementaria">
                                <p-table [value]="desviacionesList"  autoLayout="true" [formGroup]="analisisPeligros">
                                
                                                        
                                    <ng-template pTemplate="body" let-aus>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;">Peligro</th>
                                            <!-- <td>{{desviacionesList[0].concepto}}</td>  -->
                                            <th style="border: 1px solid #c8c8c8;" class="ui-g-12 ui-md-6 ui-lg-12">
                                            <!-- <p-dropdown [options]="this.tipoPeligroItemList" (onChange)="SelectPeligro($event.value)" [(ngModel)]="informacionComplementaria.Peligro" optionValue="label"> -->
                                            <p-dropdown [options]="this.tipoPeligroItemList" formControlName="Peligro" (onChange)="SelectPeligro($event.value)" >
                                            </p-dropdown></th>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;">Descripción del Peligro</th>
                                            <!-- <td>{{desviacionesList[0]?.nombre}}</td>  -->
                                            <th style="border: 1px solid #c8c8c8;" class="ui-g-12 ui-md-6 ui-lg-12">
                                            <!-- <p-dropdown [options]="this.peligroItemList" formControlName="tipoCaso"></p-dropdown> -->
                                            <!-- <button (click)="test()">test</button> -->
                                            <p-dropdown [options]="this.peligroItemList" formControlName="DescripcionPeligro"></p-dropdown>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;">Estado del evento ante ARL</th>
                                            <!-- <td>{{desviacionesList[0]?.fechaReporte | date:'dd/MM/yyyy'}}</td>  -->
                                            <th style="border: 1px solid #c8c8c8;" class="ui-g-12 ui-md-6 ui-lg-12">
                                            <p-dropdown [options]="ARLfirme" formControlName="EnventoARL"></p-dropdown>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;">Reporte a entes de control
                                            </th>
                                            <td><p-radioButton name="group1" label="Si  " [value]="true"  formControlName="ReporteControl" ></p-radioButton>
                                                <p-radioButton name="group1" label="No  " [value]="false" formControlName="ReporteControl" ></p-radioButton>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;">Fecha de envio a entes de control</th>
                                            <!-- <td>{{desviacionesList[0]?.fechaReporte | date:'dd/MM/yyyy'}}</td>  -->
                                            <th style="border: 1px solid #c8c8c8;" class="ui-g-12 ui-md-6 ui-lg-12">
                                                <div class="field col-12 md:col-4">
                                                    <!-- <label for="touchui">Touch UI</label> -->
                                                    <!-- <p-calendar [(ngModel)]="date1" [touchUI]="true" [readonlyInput]="true" inputId="touchui" [(ngModel)]="FechaControl"></p-calendar> -->
                                                    <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" [touchUI]="true" [readonlyInput]="true" inputId="touchui" formControlName="FechaControl"></p-calendar>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;">Entrega copia de FURAT  al trabajador</th>
                                           
                                            <td><p-radioButton name="group2" label="Si  " [value]="true"  formControlName="CopiaTrabajador" ></p-radioButton>
                                                <p-radioButton name="group2" label="No  " [value]="false" formControlName="CopiaTrabajador" ></p-radioButton>
                                            </td>                                
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid #c8c8c8;width: 35%">Fecha entrega copia al trabajador</th>
                                            <th style="border: 1px solid #c8c8c8;" class="ui-g-12 ui-md-6 ui-lg-12">
                                                <div class="field col-12 md:col-4">
                                                    <!-- <label for="touchui">Touch UI</label> -->
                                                    <!-- <p-calendar [(ngModel)]="date2" [touchUI]="true" [readonlyInput]="true" inputId="touchui" formControlName="FechaCopia"></p-calendar> -->
                                                    <p-calendar [locale]="localeES" dateFormat="dd/mm/yy" [touchUI]="true" [readonlyInput]="true" inputId="touchui" formControlName="FechaCopia"></p-calendar>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                        <s-documentosAnalisisDesviacion *ngIf="documentos" [analisisId]="analisisId"
                                        [documentos]="documentos" (onUpdate)="confirmarActualizacion($event)"
                                        [readOnly]="consultar"></s-documentosAnalisisDesviacion>
                                        </tr>
                                        </ng-template>

                                                                            
                                </p-table>                                
                                   
                               
                            </p-tabPanel>
                            <p-tabPanel  *ngIf="idEmpresa == '3'" header="Dias perdidos">

                                <app-incapacidades-complementaria (listIncapacidades)="getListIncapacidades($event)" [incapacidades]="incapacidadesList"></app-incapacidades-complementaria>

                                
                            </p-tabPanel>
                        </p-tabView>
                        
                    </p-tabPanel>
                    <p-tabPanel  *ngIf="idEmpresa == '3'" header="Miembros del equipo">
                        <app-miembros-equipo (miembrosOut)="miembrosIn($event)" (selectedProductsOUT)="selectedProductsIn($event)"></app-miembros-equipo>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="idEmpresa == '3'" header="Evidencias">
                        <app-evidencias></app-evidencias>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="idEmpresa == '3'" header="Diagrama de flujo">
                        <app-flow-chart (datosFC)="setFactorCausal($event)" (diagramSave)="dataDiagram($event)" [dataFlowChart]="dataFlow"></app-flow-chart>
                    </p-tabPanel>
                    
                    <p-tabPanel *ngFor="let data of factorCusal; let i=index" header="Factor Causal {{i+1}}">
                        <app-factor-causal (dataFC)="setListDataFactor()" [factorCausal]="data"></app-factor-causal>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="idEmpresa == '3' && dataListFactor.length>0" header="Listado de causas">
                        <app-listado-causas [factores]="dataListFactor" [planAccionList]="listPlanAccion"></app-listado-causas>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="idEmpresa == '3' && listPlanAccion.length>0" header="Plan de accion">
                        <app-plan-accion-list (validacionPA)="habilitarInforme()" [planAccionList]="listPlanAccion"></app-plan-accion-list>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="idEmpresa == '3' && displayInforme" header="Informe">
                        <button  pButton icon="fa fa-print" (click)="imprimir()" class="soft-icon"></button> 

                        <!-- <div id="plantilla" style="display: none;"> -->
                        <div id="plantilla" >
                            <div style="background-color: white">
                                
                                <table width="100%" style="border-collapse: collapse;">
                                    <tr>
                                        <td style="width: 30%;text-align: left">
                                            <img style="width:50%;" id="P_empresa_logo" />
                                        </td>        
                                        <th style="width: 40%;text-align: center">
                                            INFORME INVESTIGACIÓN DE ACCIDENTE LABORAL
                                        </th>
                                        <th style="width: 30%;text-align: center"></th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: left">
                                            Nombre de la empresa
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: left">
                                            NIT:
                                        </th>
                                    </tr>
                                </table>

                                <br />
                                
                                <app-informe [desviacionesList]="desviacionesList" 
                                [consultar]="consultar" 
                                [observacion]="observacion"
                                [miembros]="miembros"
                                [selectedProducts]="selectedProducts"></app-informe>
                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel *ngIf="idEmpresa == '3'" header="Parametros"></p-tabPanel>
                    <p-tabPanel header="Establecimiento de causas">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-sm-12 ui-xl-4">
                                <h4 style="margin-bottom: 20px;">Causas inmediatas</h4>
                                <p-tree [value]="causaInmediataList" selectionMode="checkbox"
                                    [(selection)]="causaInmediataListSelect" [style]="{'width':'100%'}"></p-tree>
                            </div>
                            <div class="ui-g-12 ui-sm-12 ui-xl-4">
                                <h4 style="margin-bottom: 20px;">Causas básicas (raíz) </h4>
                                <p-tree [value]="causaRaizList" selectionMode="checkbox"
                                    [(selection)]="causaRaizListSelect" [style]="{'width':'100%'}"></p-tree>
                            </div>
                            <div class="ui-g-12 ui-sm-12 ui-xl-4">
                                <h4 style="margin-bottom: 20px;">Causas administrativas</h4>
                                <p-tree [value]="causaAdminList" selectionMode="checkbox"
                                    [(selection)]="causaAdminListSelect" [style]="{'width':'100%'}"></p-tree>
                            </div>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel header="Costos" *sConfig="'FORM_COSTOS_INVST'">
                        <s-analisisCostos *ngIf="analisisCosto" [analisisCosto]="analisisCosto" [readOnly]="consultar">
                        </s-analisisCostos>
                    </p-tabPanel>

                    <p-tabPanel header="Participantes" *sConfig="'FORM_PART_INVST'">
                        <table style="width: 100%;table-layout: fixed">
                            <thead style="background: #efefef;">
                                <th class="th">Nombres y apellidos</th>
                                <th class="th">Cargo</th>
                                <th class="th">Tipo identificación</th>
                                <th class="th">Número identificación</th>
                                <th style="width: 2.5em;"></th>
                            </thead>
                            <ng-template ngFor let-parti [ngForOf]="participantes" let-i="index">
                                <tr>
                                    <td>
                                        <input pInputText type="text" [(ngModel)]="parti.nombresApellidos"
                                            [disabled]="consultar" maxlength="128" />
                                    </td>
                                    <td>
                                        <input pInputText type="text" [(ngModel)]="parti.cargo" [disabled]="consultar"
                                            maxlength="128" />
                                    </td>
                                    <td>
                                        <select class="select-option" [(ngModel)]="parti.tipoIdentificacion"
                                            [disabled]="consultar">
                                            <option value="Cedula de ciudadanía">Cedula de ciudadanía</option>
                                            <option value="Cédula de extranjería">Cédula de extranjería</option>
                                            <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input pInputText type="text" [(ngModel)]="parti.numeroIdentificacion"
                                            [disabled]="consultar" maxlength="45" />
                                    </td>
                                    <td>
                                        <button pButton type="button" icon="fa fa-close" class="soft-icon"
                                            (click)="removeParti(i)" *ngIf="!consultar"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                        <button *ngIf="!consultar" style="margin-top: 10px;" pButton type="button" icon="fa fa-plus"
                            label="Adicionar participante" (click)="adicionarParticipante()"></button>
                    </p-tabPanel>

                    <p-tabPanel header="Documentación" [disabled]="adicionar">
                        <s-documentosAnalisisDesviacion *ngIf="documentos" [analisisId]="analisisId"
                            [documentos]="documentos" (onUpdate)="confirmarActualizacion($event)"
                            [readOnly]="consultar"></s-documentosAnalisisDesviacion>
                    </p-tabPanel>

                    <p-tabPanel header="Observaciones">
                        <textarea maxlength="510" *ngIf="!consultar" pInputTextarea rows="7"
                            placeholder="Observaciones de análisis" [(ngModel)]="observacion"></textarea>
                        <div *ngIf="consultar">
                            {{observacion}}
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="PLAN DE TRABAJO">
        <s-gestionTareas (onEvent)="onEvent($event)" [tareasList]="tareasList" [readOnly]="consultar"></s-gestionTareas>
    </p-tabPanel>
</p-tabView>
<ng-container *ngIf="adicionar && !consultar">
    <button *sTienePermiso="'SEC_POST_ANADESV'" pButton type="button" icon="fa fa-floppy-o" title="Guardar Análisis"
        (click)="guardarAnalisis()" class="float-btn"></button>
</ng-container>

<ng-container *ngIf="modificar && !consultar">
    <button *sTienePermiso="'SEC_PUT_ANADESV'" pButton type="button" icon="fa fa-pencil" title="Modificar Análisis"
        (click)="modificarAnalisis()" class="ui-button-success float-btn"></button>
</ng-container>

<div style="height: 100px;;"></div>

<!-- <button (click)="test()">test</button> -->
<!-- <button (click)="setListDataFactor()">vli</button> -->
<!-- 
<p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
        accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="toolbar">
            <div>Upload 3 Files</div>
        </ng-template>
        <ng-template let-file pTemplate="file">
            <div>Custom UI to display a file</div>
        </ng-template>
        <ng-template pTemplate="content" let-files>
            <div>Additional content.</div>
        </ng-template>
</p-fileUpload> -->