/* Colors */

$header-color: #d52193;
$danger-color: #e91224;
$fatal-color: rgb(92, 0, 0);
$warning-color: #fce94f;
$warning-font-color: #968a31;
$info-color: #3465a4;
$valid-color: #73d216;
$active-color: #3ba2dc;
$success-color: #5cb85c;
$white-color: #fff;
$inactive-color: #ccc;
$secondary-color: #777;